﻿@model IntraX2.Models.carrierModel

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    /*set the font for the body of jqgrid*/
    .ui-jqgrid, .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-pg-input {
        font-family: Arial;
        font-size: 11px;
    }

    /*set the font for the header of jqgrid columns*/
    th {
        /*font-size: 1em;*/
        text-align: left;
        border: none 0px;
        padding-left: 0;
        font-size: 11px;
    }

    /*set the alt row background color*/
    .myAltRowClass {
        background-color: #F0F8FF;
        background-image: none;
    }

    /*set the font size for form elements*/
    select, label, input {
        font-size: 11px;
    }

    td.search {
        padding-bottom: .25em;
        padding-top: .25em;
        padding-right: 0;
    }

    td.searchPadTop0 {
        padding-bottom: .25em;
        padding-top: 0;
        padding-right: 0;
    }

    td.detailFields0 {
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        /*vertical-align:top;*/
        font-size: 11px;
        font-weight:normal;
    }

     td.detailList {
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        font-size: 11px;
    }

    /*set the grid caption text to red*/
    .ui-jqgrid .ui-jqgrid-caption {
        text-align: left;
        color: red;
    }

    /*style for side by side table layout*/
    .inlineTable {
        display: inline-block;
        border-spacing: 5px;
    }

    label.lbl1 {
        font-size: 11px;
        color: blue;
    }
</style>

<script type="text/javascript">
    //clear location related fields
    function clearLocationFields() {
        document.getElementById("location_name").value = "";
        document.getElementById("address_1").value = "";
        document.getElementById("address_2").value = "";
        document.getElementById("city").value = "";
        document.getElementById("state").value = "";
        document.getElementById("zip").value = "";
    }

    //clear contactn related fields
    function clearContactFields() {
        var $select = $('#contact_name');
        $select.empty();
        document.getElementById("contact_phone").value = "";
        document.getElementById("contact_extension").value = "";
        document.getElementById("contact_fax").value = "";
        document.getElementById("contact_email").value = "";
    }

    //general functions
    $(function () {
        var carrierID;
        var locationID;
        var contactID;
        var cargoInsAmt;
        var setupDate;
        //execute carrier id change event
        $('#carrierListSelect').change(function (e) {
            carrierID = $("#carrierListSelect").val();
            clearLocationFields();
            clearContactFields();
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierDetail",
                data: { carrierId: carrierID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("carrier_id").value = data.carrierID;
                    document.getElementById("carrier_scac").value = data.scac;
                    document.getElementById("carrier_setup_date").value = data.setupDate;
                    document.getElementById("carrier_setup_by").value = data.setupBy;
                    document.getElementById("carrier_name").value = data.name;
                    document.getElementById("mc_number").value = data.mcNumber;
                    document.getElementById("us_dot_number").value = data.usDOT;
                    document.getElementById("tax_id").value = data.taxID;
                    document.getElementById("tax_id").value = data.taxID;

                    if (data.w9 == 'Y') {
                        document.getElementById("w9onfile").checked = true;
                    }
                    else {
                        document.getElementById("w9onfile").checked = false;
                    }
                    document.getElementById("agent_name").value = data.agentName;
                    document.getElementById("agent_phone").value = data.agentPhone;
                    document.getElementById("cargo_ins_amount").value = numeral(data.cargoAmount).format('$0,0.00');
                    document.getElementById("cargo_ins_exp_date").value = data.cargoExp;

                    if (data.cargoOnFile == 'Y') {
                        document.getElementById("cargo_onfile").checked = true;
                    }
                    else {
                        document.getElementById("cargo_onfile").checked = false;
                    }

                    if (data.cargoShowsPLI == 'Y') {
                        document.getElementById("cargo_showspli").checked = true;
                    }
                    else {
                        document.getElementById("cargo_showspli").checked = false;
                    }

                    document.getElementById("liability_ins_amount").value = numeral(data.liabilityAmount).format('$0,0.00');
                    document.getElementById("liability_ins_exp_date").value = data.liabilityExp;
                }
            }); //eo .ajax

            $.getJSON("/IntraX2/Carrier/GetCarrierAllLocations?carrierId=" + carrierID, null, function (data) {
                var $select = $('#locationListSelect');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['seq_number']).html(this['name']));
                });

                $select.eq(0).attr('selected', 'selected'); //default to the first option
            });
        }); //eo change function

        //execute carrier location change event
        $('#locationListSelect').change(function (e) {
            locationID = $("#locationListSelect").val();
            clearContactFields();
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierLocationDetail",
                data: { carrierId: carrierID, locationId: locationID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("location_name").value = data.name;
                    document.getElementById("address_1").value = data.address1;
                    document.getElementById("address_2").value = data.address2;
                    document.getElementById("city").value = data.city;
                    document.getElementById("state").value = data.state;
                    document.getElementById("zip").value = data.zip;
                }
            }); //eo .ajax

            $.getJSON("/IntraX2/Carrier/GetCarrierLocationContacts?carrierId=" + carrierID + "&locationId=" + locationID, null, function (data) {
                var $select = $('#contact_name');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['contact_id']).html(this['name']));
                });

                //default to the first select option
                $select.eq(0).attr('selected', 'selected');

                //get the contact detail of the default option
                if ($("#contact_name").val() > 0)
                {
                    $.ajax({
                        type: "POST",
                        url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                        data: { carrierId: carrierID, locationId: locationID, contactId: $("#contact_name").val() },
                        traditional: true,
                        dataType: 'json',
                        //async: false,
                        //beforeSend: function () { $('#loading').show(); },
                        //complete: function () { $('#loading').hide(); },
                        success: function (data) {
                            //alert(JSON.stringify(data.setupBy));
                            document.getElementById("contact_phone").value = data.phone;
                            document.getElementById("contact_extension").value = data.extension;
                            document.getElementById("contact_fax").value = data.fax;
                            document.getElementById("contact_email").value = data.email;
                        }
                    }); //eo .ajax
                }
            });
        }); //eo change function

        //execute the contact change event
        $('#contact_name').change(function (e) {
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                data: { carrierId: carrierID, locationId: locationID, contactId: $("#contact_name").val() },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("contact_phone").value = data.phone;
                    document.getElementById("contact_extension").value = data.extension;
                    document.getElementById("contact_fax").value = data.fax;
                    document.getElementById("contact_email").value = data.email;
                }
            }); //eo .ajax
        }); //eo change function

    }) //eo general function
</script>


<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "carrier-form", @class = "full" }))
{
    <div style="width: 250px; float:left; margin:10px">
        <table>
            <tr>
                <td class="detailList">@Html.DropDownList("CarrierList", (IEnumerable<SelectListItem>)ViewBag.CarrierList, new { @id = "carrierListSelect", size = 15, style = "width:250px;" })</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td class="detailList2">@Html.DropDownList("LocationList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "locationListSelect", size = 10, style = "width:250px;" })</td>
            </tr>
        </table>
    </div>

    <div style ="width: 800px; float:left; margin:10px">
        <table id="tblDetail" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="880">
            <tr>
                <td class="detailFields0"><b>Carrier</b></td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.carrier_id, new { @id = "carrier_id", style = "width:125px;", tabindex = "-1", @readonly = true })</td>
                <td class="detailFields0">Name</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.name, new { @id = "carrier_name", style = "width:200px;" })</td>
                <td class="detailFields0">SCAC</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.scac, new { @id = "carrier_scac", style = "width:100px;" })</td>
                <td class="detailFields0">Set-up</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.setup_date, new { @id = "carrier_setup_date", style = "width:75px;", @readonly = true })</td>
                <td class="detailFields0">By</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.setup_by, new { @id = "carrier_setup_by", style = "width:75px;", @readonly = true })</td>
            </tr>
            <tr>
                <td class="detailFields0">Location</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.name, new { @id = "location_name", style = "width:125px;" })</td>
                <td class="detailFields0">Address1</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.address_1, new { @id = "address_1", style = "width:200px;" })</td>
                <td class="detailFields0">Address2</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.address_2, new { @id = "address_2", style = "width:100px;" })</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
            </tr>
            <tr>
                <td class="detailFields0">City</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.city, new { @id = "city", style = "width:125px;" })</td>
                <td class="detailFields0">State</td>
                <td class="detailFields0">@Html.DropDownListFor(model => model.m_carrier_locations.state, (IEnumerable<SelectListItem>)ViewBag.StatesList, new { @id = "state", style = "width:200px;" })</td>
                <td class="detailFields0">Zip</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.zip, new { @id = "zip", style = "width:100px;" })</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
            </tr>
            <tr>
                <td class="detailFields0">Contact</td>
                <td class="detailFields0">@Html.DropDownListFor(model => model.m_carrier_location_contacts.name, new SelectList(Enumerable.Empty<SelectListItem>()), new { @id = "contact_name", style = "width:125px;" })</td>
                <td class="detailFields0">Phone</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.phone, new { @id = "contact_phone", style = "width:200px;" })</td>
                <td class="detailFields0">Extension</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.extension, new { @id = "contact_extension", style = "width:100px;" })</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
            </tr>
            <tr>
                <td class="detailFields0">Fax</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.fax, new { @id = "contact_fax", style = "width:125px;" })</td>
                <td class="detailFields0">Email</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.email, new { @id = "contact_email", style = "width:200px;" })</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
                <td class="detailFields0">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div style="width: 230px; float:left; margin:10px">
        <label class="lbl1">Certifications</label><br />
        <table id="tblCertifications" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="215">
            <tr>
                <td class="detailFields0">MC</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.mc_number, new { @id = "mc_number", style = "width:125px;" })</td>
            </tr>
            <tr>
                <td class="detailFields0">US DOT</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.us_dot_number, new { @id = "us_dot_number", style = "width:125px;" })</td>
            </tr>
            <tr>
                <td class="detailFields0">Tax ID</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.tax_id, new { @id = "tax_id", style = "width:125px;" })</td>
            </tr>
            <tr>
                <td class="detailFields0">W-9 On File</td>
                <td class="detailFields0">@Html.CheckBox("w9onfile", new { @id = "w9onfile" })</td>
            </tr>
        </table>
    </div>

    <div style="width: 500px; float:left; margin:10px">
        <label class="lbl1">Insurance</label><br />
        <table id="tblCertifications" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="450">
            <tr>
                <td class="detailFields0">Agent</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.agent_name, new { @id = "agent_name", style = "width:200px;" })</td>
                <td class="detailFields0">Phone</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.agent_phone, new { @id = "agent_phone", style = "width:90px;" })</td>
            </tr>
            <tr>
                <td class="detailFields0">Cargo Amt</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.cargo_ins_amount, new { @id = "cargo_ins_amount", style = "width:200px;" })</td>
                <td class="detailFields0">Exp</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.cargo_ins_exp_date, new { @id = "cargo_ins_exp_date", style = "width:90px;" })</td>
            </tr>   
            <tr>
                <td class="detailFields0">On File</td>
                <td class="detailFields0">@Html.CheckBox("cargo_onfile", new { @id = "cargo_onfile" })</td>
                <td class="detailFields0">Shows PLI</td>
                <td class="detailFields0">@Html.CheckBox("cargo_showspli", new { @id = "cargo_showspli" })</td>
            </tr>  
            <tr>
                <td class="detailFields0">Liability Amt</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.liability_ins_amount, new { @id = "liability_ins_amount", style = "width:200px;" })</td>
                <td class="detailFields0">Exp</td>
                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.liability_ins_exp_date, new { @id = "liability_ins_exp_date", style = "width:90px;" })</td>
            </tr>        
        </table>
    </div><br />
    <div>
        <input id="btnUpdate" type="submit" style="width:50px;" value="Update" />
    </div>
}