﻿@model IntraX2.Models.carrierModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    function showExceptions() {
        var cid = document.getElementById("carrier_id").value;
        window.open('@Url.Action("Exceptions", "Carrier")?carrierId=' + cid);
    };

    //edit carrier
    function editCarrier() {
        //set fields to edit
        $('input, select, button').removeAttr("disabled");
        $('input, textarea').removeAttr("readonly");

        document.getElementById("carrierOprFlag").value = "edit";

        //keeps these fields as readonly
        $('#carrier_id').attr('readonly', 'readonly');
        $('#carrier_setup_date').attr('readonly', 'readonly');
        $('#carrier_setup_by').attr('readonly', 'readonly');
    }

    //add carrier
    function addCarrier() {
        //set fields for editable
        $('input, select, button').removeAttr("disabled");
        $('input, textarea').removeAttr("readonly");
        //keeps these fields as readonly
        $('#carrier_id').attr('readonly', 'readonly');
        $('#carrier_setup_date').attr('readonly', 'readonly');
        $('#carrier_setup_by').attr('readonly', 'readonly');

        clearCarrierFields();
        clearLocationFields();
        clearContactFields();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.frmCarrier.carrier_name.focus();
        document.getElementById("carrier_setup_date").value = new Date().toString('M/d/yyyy');
        document.getElementById("carrier_setup_by").value = getCookie('userCookie');
        document.getElementById("locationId").value = "1";
        document.getElementById("contactId").value = "1";
        document.getElementById("contactOprFlag").value = "add";
        document.getElementById("carrierOprFlag").value = "add";
        //set new consignee cookie
        document.cookie = "ck_newCarrier=Y";

        $.ajax({
            type: "POST",
            url: "/IntraX2/Carrier/GetMaxCarrierSeq",
            //data: {},
            traditional: true,
            dataType: 'json',
            //async: false,
            //beforeSend: function () { $('#loading').show(); },
            //complete: function () { $('#loading').hide(); },
            success: function (data) {
                document.getElementById("carrier_id").value = data.maxval;
            }
        }); //eo .ajax
    }

    //delete carrier
    function deleteCarrier() {
        var carrierId = document.getElementById("carrier_id").value;
        var carrierName = document.getElementById("carrier_name").value;
        var locationId = document.getElementById("locationId").value;
        if (carrierId != '') {
            $.Zebra_Dialog('Do you want to delete carrier ' + carrierName + '?',
                {
                    'type': 'question',
                    'title': 'Confirmation',
                    'buttons': ['Yes', 'No'],
                    'onClose': function (caption) {
                        if (caption == 'Yes') {
                            clearCarrierFields();
                            clearLocationFields();
                            clearContactFields()
                            $.ajax({
                                type: "POST",
                                url: "/IntraX2/Carrier/DeleteCarrier",
                                data: { carrierId: carrierId },
                                traditional: true,
                                dataType: 'json',
                                //async: false,
                                beforeSend: function () { $('#loading').show(); },
                                //complete: function () { $('#loading').hide(); },
                                complete: function () {
                                    alert('Carrier deleted');
                                    $('#loading').hide();
                                    //refresh carrier dropdown list
                                    $.getJSON("/IntraX2/Carrier/GetCarrierList", null, function (data) {
                                        var $select = $('#carrierListSelect');
                                        $select.empty();
                                        $.each(data, function () {
                                            $select.append($("<option></option>").val(this['CarrierID']).html(this['CarrierName']));
                                        });
                                    }); //eo getJSON

                                    //clear location list
                                    var $select = $('#locationListSelect');
                                    $select.empty();
                                },
                                success: function (data) {
                                    //alert('success');
                                }
                            }); //eo .ajax
                        }
                    }
                }); //eo Zebra Dialog
        } //eo if
    }

    //edit contact
    function editContact() {
        var name = $("#contact_name option:selected").text();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.getElementById("contact_name_box").value = name;
        document.getElementById("contactOprFlag").value = "edit";
        document.frmCarrier.contact_name_box.focus();
    }

    //add contact
    function addContact() {
        var carrierId = document.getElementById("carrier_id").value;
        var locationId = document.getElementById("locationId").value;

        if (carrierId == '') {
            alert('Select a carrier');
        }
        else {
            if (locationId == '') {
                alert('Select a location');
            }
            else {
                $('#contactDDL').hide();
                $('#contactBox').show();
                clearContactFields();
                document.getElementById("contactOprFlag").value = "add";
                document.frmCarrier.contact_name_box.focus();
                $.ajax({
                    type: "POST",
                    url: "/IntraX2/Carrier/GetMaxCarrierContactSeq",
                    data: { carrierId: carrierId, locationId: locationId },
                    traditional: true,
                    dataType: 'json',
                    //async: false,
                    //beforeSend: function () { $('#loading').show(); },
                    //complete: function () { $('#loading').hide(); },
                    success: function (data) {
                        document.getElementById("contactId").value = data.nextSeqNum;
                    }
                }); //eo .ajax
            }
        }
    }

    //delete contact
    function deleteContact() {
        var carrierId = document.getElementById("carrier_id").value;
        var locationId = document.getElementById("locationId").value;
        var contactId = document.getElementById("contactId").value;
        if (carrierId == '') {
            alert('Select a carrier');
        }
        else {
            if (locationId == '') {
                alert('Select a location');
            }
            else {
                if (contactId == '') {
                    alert('Select a contact');
                }
                else {
                    $.Zebra_Dialog('Do you want to delete this contact?',
                    {
                        'type': 'question',
                        'title': 'Confirmation',
                        'buttons': ['Yes', 'No'],
                        'onClose': function (caption) {
                            if (caption == 'Yes') {
                                clearContactFields();
                                $.ajax({
                                    type: "POST",
                                    url: "/IntraX2/Carrier/DeleteContact",
                                    data: { carrierId: carrierId, locationId: locationId, contactId: contactId },
                                    traditional: true,
                                    dataType: 'json',
                                    //async: false,
                                    //beforeSend: function () { $('#loading').show(); },
                                    //complete: function () { $('#loading').hide(); },
                                    complete: function () {
                                        alert('Contact deleted');
                                        $.getJSON("/IntraX2/Carrier/GetCarrierLocationContacts?carrierId=" + carrierId + "&locationId=" + locationId, null, function (data) {
                                            var $select = $('#contact_name');
                                            $select.empty();

                                            $.each(data, function () {
                                                $select.append($("<option></option>").val(this['contact_id']).html(this['name']));
                                            });

                                            //default to the first select option
                                            $select.eq(0).attr('selected', 'selected');

                                            //get the contact detail of the default option
                                            if ($("#contact_name").val() > 0) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                                                    data: { carrierId: carrierId, locationId: locationId, contactId: $("#contact_name").val() },
                                                    traditional: true,
                                                    dataType: 'json',
                                                    //async: false,
                                                    //beforeSend: function () { $('#loading').show(); },
                                                    //complete: function () { $('#loading').hide(); },
                                                    success: function (data) {
                                                        //alert(JSON.stringify(data.setupBy));
                                                        document.getElementById("contact_phone").value = data.phone;
                                                        document.getElementById("contact_extension").value = data.extension;
                                                        document.getElementById("contact_fax").value = data.fax;
                                                        document.getElementById("contact_email").value = data.email;
                                                        document.getElementById("contactId").value = $("#contact_name").val();
                                                    }
                                                }); //eo .ajax
                                            }
                                        });
                                    },
                                    success: function (data) {
                                        //alert('success');
                                    }
                                }); //eo .ajax
                            }
                        }
                    }); //eo Zebra Dialog
                }
            }
        }
    }

    //add location
    function addLocation() {
        var carrierId = document.getElementById("carrier_id").value;
        if (carrierId == '') {
            alert('Select a carrier');
        }
        else {
            clearLocationFields();
            clearContactFields();
            $('#contactDDL').hide();
            $('#contactBox').show();
            document.frmCarrier.location_name.focus();
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetMaxCarrierLocationSeq",
                data: { carrierId: carrierId },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    document.getElementById("locationId").value = data.maxval;
                    document.getElementById("contactId").value = "1";
                    document.getElementById("contactOprFlag").value = "add";
                }
            }); //eo .ajax
        }
    }

    //delete location
    function deleteLocation() {
        var carrierId = document.getElementById("carrier_id").value;
        var locationId = document.getElementById("locationId").value;
        if (carrierId == '') {
            alert('Select a carrier');
        }
        else {
            if (locationId == '') {
                alert('Select a location');
            }
            else {
                $.Zebra_Dialog('Do you want to delete this location?',
                    {
                        'type': 'question',
                        'title': 'Confirmation',
                        'buttons': ['Yes', 'No'],
                        'onClose': function (caption) {
                            if (caption == 'Yes')
                                {
                                    clearLocationFields();
                                    clearContactFields();
                                    $.ajax({
                                        type: "POST",
                                        url: "/IntraX2/Carrier/DeleteLocation",
                                        data: { carrierId: carrierId, locationId: locationId },
                                        traditional: true,
                                        dataType: 'json',
                                        //async: false,
                                        //beforeSend: function () { $('#loading').show(); },
                                        //complete: function () { $('#loading').hide(); },
                                        complete: function () {
                                            alert('Location deleted');
                                            $.getJSON("/IntraX2/Carrier/GetCarrierAllLocations?carrierId=" + carrierId, null, function (data) {
                                                var $select = $('#locationListSelect');
                                                $select.empty();

                                                $.each(data, function () {
                                                    $select.append($("<option></option>").val(this['seq_number']).html(this['name']));
                                                });

                                                $select.eq(0).attr('selected', 'selected'); //default to the first option
                                            });
                                        },
                                        success: function (data) {
                                            //alert('success');
                                        }
                                    }); //eo .ajax
                                }
                        }
                    }); //eo Zebra Dialog
            }
        }
    }

    //post carrier location data
    function postLocation() {
        //declare variables
        var carrierId = document.getElementById("carrier_id").value;
        var locationId = document.getElementById("locationId").value;
        var location = document.getElementById("location_name").value;
        var address1 = document.getElementById("address_1").value;
        var address2 = document.getElementById("address_2").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;
        var zip = document.getElementById("zip").value;

        //post data, as arrays, to controller action
        $.ajax({
            type: "POST",
            url: "/IntraX2/Carrier/UpdateLocation",
            data: { carrierId: carrierId, locationId: locationId, location: location, address1:address1, address2:address2, city:city, state:state, zip:zip },
            traditional: true,
            dataType: 'json',
            async: false,
            success: function (msg) {
                alert(msg);
            }
        });
    }

    //post carrier location contact data
    function postContact() {
        //declare variables
        var name;
        var carrierId = document.getElementById("carrier_id").value;
        var locationId = document.getElementById("locationId").value;
        var contactId = document.getElementById("contactId").value;
        var phone = document.getElementById("contact_phone").value;
        var extension = document.getElementById("contact_extension").value;
        var fax = document.getElementById("contact_fax").value;
        var email = document.getElementById("contact_email").value;

        /*
        if (document.getElementById("newContactFlag").value == "Y") {
            name = document.getElementById("contact_name_box").value
        }
        else {
            name = $("#contact_name option:selected").text();
        };
        */

        if (document.getElementById("contactOprFlag").value == "edit" || document.getElementById("contactOprFlag").value == "add") {
            name = document.getElementById("contact_name_box").value;
        }
        else {
            name = $("#contact_name option:selected").text();
        }
   
        //post data, as arrays, to controller action
        $.ajax({
            type: "POST",
            url: "/IntraX2/Carrier/UpdateContact",
            data: { carrierId: carrierId, locationId: locationId, contactId: contactId, phone: phone, ext: extension, fax: fax, email: email, name: name },
            traditional: true,
            dataType: 'json',
            async: false,
            success: function (msg) {
                alert(msg);
            }
        });
    }

    //clear carrier related fields
    function clearCarrierFields() {
        document.getElementById("carrier_id").value = "";
        document.getElementById("carrier_name").value = "";
        document.getElementById("carrier_scac").value = "";
        document.getElementById("carrier_setup_date").value = "";
        document.getElementById("carrier_setup_by").value = "";
        document.getElementById("mc_number").value = "";
        document.getElementById("us_dot_number").value = "";
        document.getElementById("tax_id").value = "";
        document.getElementById("w9onfile").checked = false;
        document.getElementById("w9_onfile_id").value = "";
        document.getElementById("agent_name").value = "";
        document.getElementById("agent_phone").value = "";
        document.getElementById("cargo_ins_amount").value = "";
        document.getElementById("cargo_ins_exp_date").value = "";
        document.getElementById("cargo_ins_onfile").checked = false;
        document.getElementById("cargo_ins_onfile_id").value = "";
        document.getElementById("cargo_ins_showspli").checked = false;
        document.getElementById("cargo_ins_showspli_id").value = "";
        document.getElementById("is_rate_exception").checked = false;
        document.getElementById("is_rate_exception_id").value = "";
        document.getElementById("is_auto_rate_suppressed").checked = false;
        document.getElementById("is_auto_rate_suppressed_id").value = "";
        document.getElementById("liability_ins_amount").value = "";
        document.getElementById("liability_ins_exp_date").value = "";
        document.getElementById("carrierOprFlag").value = "";       
    }

    //clear location related fields
    function clearLocationFields() {
        document.getElementById("location_name").value = "";
        document.getElementById("address_1").value = "";
        document.getElementById("address_2").value = "";
        document.getElementById("city").value = "";
        document.getElementById("state").value = "";
        $('#state').val(0);
        document.getElementById("zip").value = "";
        document.getElementById("locationId").value = "";
    }

    //clear contactn related fields
    function clearContactFields() {
        var $select = $('#contact_name');
        $select.empty();
        document.getElementById("contact_phone").value = "";
        document.getElementById("contact_extension").value = "";
        document.getElementById("contact_fax").value = "";
        document.getElementById("contact_email").value = "";
        document.getElementById("contactId").value = "";
        document.getElementById("contact_name_box").value = "";
        document.getElementById("contactOprFlag").value = "";
    }

    //general functions
    //disable the enter key from submitting the form
    $(document).keypress(
    function (event) {
        if (event.which == '13') {
            event.preventDefault();
        }
    });

    $(function () {
        var carrierID;
        var locationID;
        var contactID;
        var cargoInsAmt;
        var setupDate;

        //set mask for phone fields
        $("#contact_phone").mask("(999) 999-9999");
        $("#contact_fax").mask("(999) 999-9999");
        $("#agent_phone").mask("(999) 999-9999");
        
        //execute carrier id change event
        $('#carrierListSelect').change(function (e) {
            carrierID = $("#carrierListSelect").val();
            clearLocationFields();
            clearContactFields();
            clearCarrierFields();
            getCarrierDetail(carrierID);
            getLocationList(carrierID);

            //reset new consignee cookie to blank
            document.cookie = "ck_newCarrier=";

            /*
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierDetail",
                data: { carrierId: carrierID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("carrier_id").value = data.carrierID;
                    document.getElementById("carrier_scac").value = data.scac;
                    document.getElementById("carrier_setup_date").value = data.setupDate;
                    document.getElementById("carrier_setup_by").value = data.setupBy;
                    document.getElementById("carrier_name").value = data.name;
                    document.getElementById("mc_number").value = data.mcNumber;
                    document.getElementById("us_dot_number").value = data.usDOT;
                    document.getElementById("tax_id").value = data.taxID;
                    document.getElementById("tax_id").value = data.taxID;

                    if (data.w9 == 'Y') {
                        document.getElementById("w9onfile").checked = true;
                    }
                    else {
                        document.getElementById("w9onfile").checked = false;
                    }
                    document.getElementById("agent_name").value = data.agentName;
                    document.getElementById("agent_phone").value = data.agentPhone;
                    document.getElementById("cargo_ins_amount").value = numeral(data.cargoAmount).format('0,0.00');
                    document.getElementById("cargo_ins_exp_date").value = data.cargoExp;

                    if (data.cargoOnFile == 'Y') {
                        document.getElementById("cargo_onfile").checked = true;
                    }
                    else {
                        document.getElementById("cargo_onfile").checked = false;
                    }

                    if (data.cargoShowsPLI == 'Y') {
                        document.getElementById("cargo_showspli").checked = true;
                    }
                    else {
                        document.getElementById("cargo_showspli").checked = false;
                    }

                    document.getElementById("liability_ins_amount").value = numeral(data.liabilityAmount).format('0,0.00');
                    document.getElementById("liability_ins_exp_date").value = data.liabilityExp;
                }
            }); //eo .ajax
            */

            /*
            $.getJSON("/IntraX2/Carrier/GetCarrierAllLocations?carrierId=" + carrierID, null, function (data) {
                var $select = $('#locationListSelect');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['seq_number']).html(this['name']));
                });

                $select.eq(0).attr('selected', 'selected'); //default to the first option
            });
            */
        }); //eo change function

        //execute carrier location change event
        $('#locationListSelect').change(function (e) {
            locationID = $("#locationListSelect").val();
            clearLocationFields();
            clearContactFields();
            document.getElementById("locationId").value = locationID;

            if (getCookie('ck_newCarrier') == 'Y') {
                getLocationDetail(getCookie('ck_carrierId'), locationID);
                getContactList(getCookie('ck_carrierId'), locationID);
            }
            else {
                getLocationDetail(carrierID, locationID);
                getContactList(carrierID, locationID);
            }


            /*
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierLocationDetail",
                data: { carrierId: carrierID, locationId: locationID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("location_name").value = data.name;
                    document.getElementById("address_1").value = data.address1;
                    document.getElementById("address_2").value = data.address2;
                    document.getElementById("city").value = data.city;
                    document.getElementById("state").value = data.state;
                    document.getElementById("zip").value = data.zip;
                }
            }); //eo .ajax
            */
            /*
            $.getJSON("/IntraX2/Carrier/GetCarrierLocationContacts?carrierId=" + carrierID + "&locationId=" + locationID, null, function (data) {
                var $select = $('#contact_name');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['contact_id']).html(this['name']));
                });

                //default to the first select option
                $select.eq(0).attr('selected', 'selected');

                //get the contact detail of the default option
                if ($("#contact_name").val() > 0)
                {
                    $.ajax({
                        type: "POST",
                        url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                        data: { carrierId: carrierID, locationId: locationID, contactId: $("#contact_name").val() },
                        traditional: true,
                        dataType: 'json',
                        //async: false,
                        //beforeSend: function () { $('#loading').show(); },
                        //complete: function () { $('#loading').hide(); },
                        success: function (data) {
                            //alert(JSON.stringify(data.setupBy));
                            document.getElementById("contact_phone").value = data.phone;
                            document.getElementById("contact_extension").value = data.extension;
                            document.getElementById("contact_fax").value = data.fax;
                            document.getElementById("contact_email").value = data.email;
                            document.getElementById("contactId").value = $("#contact_name").val();
                        }
                    }); //eo .ajax
                }
            });
            */
        }); //eo change function

        //execute the contact change event
        $('#contact_name').change(function (e) {
            //getContactDetail(carrierID, locationID, $("#contact_name").val());
            getContactDetail(document.getElementById("carrier_id").value, locationID, $("#contact_name").val());
            /*
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                data: { carrierId: carrierID, locationId: locationID, contactId: $("#contact_name").val() },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("contact_phone").value = data.phone;
                    document.getElementById("contact_extension").value = data.extension;
                    document.getElementById("contact_fax").value = data.fax;
                    document.getElementById("contact_email").value = data.email;
                    document.getElementById("contactId").value = $("#contact_name").val();
                }
            }); //eo .ajax
            */
        }); //eo change function

        //executes action to update data to the database upon form submit event
        $('#form-carrier').submit(function (event) {
            if (document.getElementById("carrier_id").value != '') {
                //set carrier id cookie
                document.cookie = "ck_carrierId=" + document.getElementById("carrier_id").value;
            }

            if (document.getElementById("locationId").value != '' && document.getElementById("location_name").value != '') {
                postLocation();
            }

            //if (document.getElementById("contactId").value != '' && document.getElementById("contact_name_box").value != '')
            if (document.getElementById("contactId").value != '') {
                postContact();
            }
            return true;
        });

    }) //eo general function

    function getCarrierList() {
        //generate carrier drop down list
        $.getJSON("/IntraX2/Carrier/GetCarrierList", null, function (data) {
            var $select = $('#carrierListSelect');
            $select.empty();
            $.each(data, function () {
                $select.append($("<option></option>").val(this['CarrierID']).html(this['CarrierName']));
            });

            if (getCookie('ck_newCarrier') == 'Y') {
                var carrierId = getCookie('ck_carrierId');
                $('#carrierListSelect').val($("#carrierListSelect option[value='" + carrierId + "']").val());
                getCarrierDetail(carrierId);
                getLocationList(carrierId);
            }
        }) //eo .getJSON
        .always(function () {
            //show the loading gif animation
            $('#loading').show();
        }) //eo .always

        .done(function () {
            //hide the loading gif animation
            $('#loading').hide();
        }); //eo .done
    }

    function getCarrierDetail(carrierId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Carrier/GetCarrierDetail",
            data: { carrierId: carrierId },
            traditional: true,
            dataType: 'json',
            //async: false,
            //beforeSend: function () { $('#loading').show(); },
            //complete: function () { $('#loading').hide(); },
            success: function (data) {
                //alert(JSON.stringify(data.setupBy));
                document.getElementById("carrier_id").value = data.carrierID;
                document.getElementById("carrier_scac").value = data.scac;
                document.getElementById("carrier_setup_date").value = data.setupDate;
                document.getElementById("carrier_setup_by").value = data.setupBy;
                document.getElementById("carrier_name").value = data.name;
                document.getElementById("mc_number").value = data.mcNumber;
                document.getElementById("us_dot_number").value = data.usDOT;
                document.getElementById("tax_id").value = data.taxID;
                document.getElementById("tax_id").value = data.taxID;
                
                if (data.w9onFile == 'Y') {
                    document.getElementById("w9onfile").checked = true;
                }
                else {
                    document.getElementById("w9onfile").checked = false;
                }
                document.getElementById("w9_onfile_id").value = data.w9onFile;

                document.getElementById("agent_name").value = data.agentName;
                document.getElementById("agent_phone").value = data.agentPhone;
                document.getElementById("cargo_ins_amount").value = numeral(data.cargoAmount).format('0,0.00');
                document.getElementById("cargo_ins_exp_date").value = data.cargoExp;

                if (data.cargoInsOnFile == 'Y') {
                    document.getElementById("cargo_ins_onfile").checked = true;
                }
                else {
                    document.getElementById("cargo_ins_onfile").checked = false;
                }
                document.getElementById("cargo_ins_onfile_id").value = data.cargoInsOnFile;

                if (data.cargoInsShowsPLI == 'Y') {
                    document.getElementById("cargo_ins_showspli").checked = true;
                }
                else {
                    document.getElementById("cargo_ins_showspli").checked = false;
                }
                document.getElementById("cargo_ins_showspli_id").value = data.cargoInsShowsPLI;

                document.getElementById("liability_ins_amount").value = numeral(data.liabilityAmount).format('0,0.00');
                document.getElementById("liability_ins_exp_date").value = data.liabilityExp;

                if (data.IsRateException == true) {
                    document.getElementById("is_rate_exception").checked = true;
                    //document.getElementById("btnException").disabled = false;
                }
                else {
                    document.getElementById("is_rate_exception").checked = false;
                    //document.getElementById("btnException").disabled = true;
                }
                document.getElementById("is_rate_exception_id").value = data.IsRateException;

                $('#tariff_module').val(data.TariffModule);
                document.getElementById("tariff_module_id").value = data.TariffModule;

                document.getElementById("discount").value = data.Discount;
                document.getElementById("min_charge").value = numeral(data.MinCharge).format('0,0.00');

                if (data.IsAutoRateSuppressed == true) {
                    document.getElementById("is_auto_rate_suppressed").checked = true;
                }
                else {
                    document.getElementById("is_auto_rate_suppressed").checked = false;
                }
                document.getElementById("is_auto_rate_suppressed_id").value = data.IsAutoRateSuppressed;

                document.getElementById("exception_notes").value = data.ExceptionNotes;
                document.getElementById("rate_effective").value = data.EffectiveDate;
            }
        }); //eo .ajax
    }

    function getLocationList(carrierId) {
        $.getJSON("/IntraX2/Carrier/GetCarrierAllLocations?carrierId=" + carrierId, null, function (data) {
            var $select = $('#locationListSelect');
            $select.empty();

            $.each(data, function () {
                $select.append($("<option></option>").val(this['seq_number']).html(this['name']));
            });

            $select.eq(0).attr('selected', 'selected'); //default to the first option
        });
    }

    function getLocationDetail(carrierId, locationId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Carrier/GetCarrierLocationDetail",
            data: { carrierId: carrierId, locationId: locationId },
            traditional: true,
            dataType: 'json',
            //async: false,
            //beforeSend: function () { $('#loading').show(); },
            //complete: function () { $('#loading').hide(); },
            success: function (data) {
                //alert(JSON.stringify(data.setupBy));
                document.getElementById("location_name").value = data.name;
                document.getElementById("address_1").value = data.address1;
                document.getElementById("address_2").value = data.address2;
                document.getElementById("city").value = data.city;
                document.getElementById("state").value = data.state;
                document.getElementById("zip").value = data.zip;
            }
        }); //eo .ajax
    }

    function getContactList(carrierId, locationId) {
        $.getJSON("/IntraX2/Carrier/GetCarrierLocationContacts?carrierId=" + carrierId + "&locationId=" + locationId, null, function (data) {
            var $select = $('#contact_name');
            $select.empty();

            $.each(data, function () {
                $select.append($("<option></option>").val(this['contact_id']).html(this['name']));
            });

            //default to the first select option
            $select.eq(0).attr('selected', 'selected');

            //get the contact detail of the default contact
            getContactDetail(carrierId, locationId, $("#contact_name").val());
            document.getElementById("contactId").value = ($("#contact_name").val());

            /*
            //get the contact detail of the default option
            if ($("#contact_name").val() > 0) {
                $.ajax({
                    type: "POST",
                    url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                    data: { carrierId: carrierID, locationId: locationID, contactId: $("#contact_name").val() },
                    traditional: true,
                    dataType: 'json',
                    //async: false,
                    //beforeSend: function () { $('#loading').show(); },
                    //complete: function () { $('#loading').hide(); },
                    success: function (data) {
                        //alert(JSON.stringify(data.setupBy));
                        document.getElementById("contact_phone").value = data.phone;
                        document.getElementById("contact_extension").value = data.extension;
                        document.getElementById("contact_fax").value = data.fax;
                        document.getElementById("contact_email").value = data.email;
                        document.getElementById("contactId").value = $("#contact_name").val();
                    }
                }); //eo .ajax
            }
            */
        });
    }

    function getContactDetail(carrierId, locationId, contactId) {
        if (contactId != null)
        {
            $.ajax({
                type: "POST",
                url: "/IntraX2/Carrier/GetCarrierLocationContactDetail",
                data: { carrierId: carrierId, locationId: locationId, contactId: contactId },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //alert(JSON.stringify(data.setupBy));
                    document.getElementById("contact_phone").value = data.phone;
                    document.getElementById("contact_extension").value = data.extension;
                    document.getElementById("contact_fax").value = data.fax;
                    document.getElementById("contact_email").value = data.email;
                    document.getElementById("contactId").value = $("#contact_name").val();
                }
            }); //eo .ajax
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //hide the fields
        $('#contactBox').hide();
        $('#hidden_fieldset').hide();

        //assign last shown carrier to a variable
        //var selectedVal = getCookie('ck_carrierId');

        //generate carrier list
        getCarrierList();
        
        /*
        //generate carrier drop down list
        $.getJSON("/IntraX2/Carrier/GetCarrierList", null, function (data) {
            var $select = $('#carrierListSelect');
            $select.empty();
            $.each(data, function () {
                $select.append($("<option></option>").val(this['CarrierID']).html(this['CarrierName']));
            });

            //default to the last selected carrier
            //$('#carrierListSelect').val($("#carrierListSelect option:contains('3 Brothers')").val());
            if (selectedVal != '')
            {
                $('#carrierListSelect').val($("#carrierListSelect option[value='" + selectedVal + "']").val());

                //get the carrier detail
                carrierID = selectedVal;
                clearLocationFields();
                clearContactFields();
                clearCarrierFields();
                $.ajax({
                    type: "POST",
                    url: "/IntraX2/Carrier/GetCarrierDetail",
                    data: { carrierId: carrierID },
                    traditional: true,
                    dataType: 'json',
                    //async: false,
                    beforeSend: function () { $('#loading').show(); },
                    complete: function () { $('#loading').hide(); },
                    success: function (data) {
                        //alert(JSON.stringify(data.setupBy));
                        document.getElementById("carrier_id").value = data.carrierID;
                        document.getElementById("carrier_scac").value = data.scac;
                        document.getElementById("carrier_setup_date").value = data.setupDate;
                        document.getElementById("carrier_setup_by").value = data.setupBy;
                        document.getElementById("carrier_name").value = data.name;
                        document.getElementById("mc_number").value = data.mcNumber;
                        document.getElementById("us_dot_number").value = data.usDOT;
                        document.getElementById("tax_id").value = data.taxID;
                        document.getElementById("tax_id").value = data.taxID;

                        if (data.w9 == 'Y') {
                            document.getElementById("w9onfile").checked = true;
                        }
                        else {
                            document.getElementById("w9onfile").checked = false;
                        }
                        document.getElementById("agent_name").value = data.agentName;
                        document.getElementById("agent_phone").value = data.agentPhone;
                        document.getElementById("cargo_ins_amount").value = numeral(data.cargoAmount).format('0,0.00');
                        document.getElementById("cargo_ins_exp_date").value = data.cargoExp;

                        if (data.cargoOnFile == 'Y') {
                            document.getElementById("cargo_onfile").checked = true;
                        }
                        else {
                            document.getElementById("cargo_onfile").checked = false;
                        }

                        if (data.cargoShowsPLI == 'Y') {
                            document.getElementById("cargo_showspli").checked = true;
                        }
                        else {
                            document.getElementById("cargo_showspli").checked = false;
                        }

                        document.getElementById("liability_ins_amount").value = numeral(data.liabilityAmount).format('0,0.00');
                        document.getElementById("liability_ins_exp_date").value = data.liabilityExp;
                    }
                }); //eo .ajax

                //get locations of default carrier
                $.getJSON("/IntraX2/Carrier/GetCarrierAllLocations?carrierId=" + carrierID, null, function (data) {
                    var $select = $('#locationListSelect');
                    $select.empty();

                    $.each(data, function () {
                        $select.append($("<option></option>").val(this['seq_number']).html(this['name']));
                    });

                    $select.eq(0).attr('selected', 'selected'); //default to the first option
                });
            }
        });
        */
    }); //eo document.ready
</script>

<h3><b>Carrier Management</b></h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-carrier", name = "frmCarrier", @class = "full" }))
{
    <fieldset style="border:none">
        <div>
            <table>
                <tr>
                    <td class="detailList">@Html.DropDownList("CarrierList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "carrierListSelect", size = 20, style = "width:250px;" })</td>
                    <td>
                        <table id="tblDetail" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="965">
                            <tr>
                                <td class="detailFields0"><b>Carrier ID</b></td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.carrier_id, new { @id = "carrier_id", style = "width:125px;", tabindex = "-1", @readonly = true })</td>
                                <td class="detailFields0">Name</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.name, new { @id = "carrier_name", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0">SCAC</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.scac, new { @id = "carrier_scac", style = "width:100px;", @readonly = true })</td>
                                <td class="detailFields0">Set-up</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.setup_date, new { @id = "carrier_setup_date", style = "width:75px;", @readonly = true })</td>
                                <td class="detailFields0">By</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.setup_by, new { @id = "carrier_setup_by", style = "width:75px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0">Location</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.name, new { @id = "location_name", style = "width:125px;", @readonly = true })</td>
                                <td class="detailFields0">Address1</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.address_1, new { @id = "address_1", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0">Address2</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.address_2, new { @id = "address_2", style = "width:100px;", @readonly = true })</td>
                                <td class="detailFields0" colspan="2"><input id="btnAddLocation" style="padding: 1px 15px; font-size: 10px;" type="button" value="Add" onclick="addLocation()" disabled />&nbsp;<input id="btnDelLocation" style="padding: 1px 7px; font-size: 10px;" type="button" value="Delete" onclick="deleteLocation()" disabled /></td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0">City</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.city, new { @id = "city", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0">State</td>
                                <td class="detailFields0">@Html.DropDownListFor(model => model.m_carrier_locations.state, (IEnumerable<SelectListItem>)ViewBag.StatesList, new { @id = "state", style = "width:100px;", disabled = "disabled" })</td>
                                <td class="detailFields0">Zip</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_locations.zip, new { @id = "zip", style = "width:100px;", @readonly = true })</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0">Contact</td>
                                <td id="contactDDL" class="detailFields0">@Html.DropDownListFor(model => model.m_carrier_location_contacts.name, new SelectList(Enumerable.Empty<SelectListItem>()), new { @id = "contact_name", style = "width:200px;" })</td>
                                <td id="contactBox" class="detailFields0">@Html.TextBox("contact_name_box", "", new { style = "width:200px;" })</td>                               
                                <td class="detailFields0" colspan="3"><input id="btnEditContact" style="padding: 1px 15px; font-size: 10px;" type="button" value="Edit" onclick="editContact()" />&nbsp;<input id="btnAddContact" style="padding: 1px 15px; font-size: 10px;" type="button" value="Add" onclick="addContact()" />&nbsp;<input id="btnDelContact" style="padding: 1px 7px; font-size: 10px;" type="button" value="Delete" onclick="deleteContact()" /></td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0">Phone</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.phone, new { @id = "contact_phone", style = "width:200px;" })</td>
                                <td class="detailFields0">Extension</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.extension, new { @id = "contact_extension", style = "width:100px;" })</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0">Fax</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.fax, new { @id = "contact_fax", style = "width:125px;" })</td>
                                <td class="detailFields0">Email</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier_location_contacts.email, new { @id = "contact_email", style = "width:200px;" })</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="loading"><p><img src="@Url.Content("~/ajax-loader.gif")" /> Loading Carriers</p></div>
    </fieldset>
    <fieldset style="border:none">
        <div>
            <table>
                <tr>
                    <td class="detailFields0"><b>Locations</b></td>
                </tr>
                <tr>
                    <td class="detailList">@Html.DropDownList("LocationList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "locationListSelect", size = 15, style = "width:250px;" })</td>
                    <td>
                        <table id="tblCertifications" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="250">
                            <tr>
                                <td class="detailFields0" align="right">
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certifications</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">MC</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.mc_number, new { @id = "mc_number", style = "width:125px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">US DOT</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.us_dot_number, new { @id = "us_dot_number", style = "width:125px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Tax ID</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.tax_id, new { @id = "tax_id", style = "width:125px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">W-9 On File</td>
                                <td class="detailFields0">@Html.CheckBox("w9onfile", new { @id = "w9onfile", disabled = "disabled" })</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="tblInsurance" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="470">
                            <tr>
                                <td class="detailFields0" align="right">
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Insurance</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Agent</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.agent_name, new { @id = "agent_name", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0" align="right">Phone</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.agent_phone, new { @id = "agent_phone", style = "width:90px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Cargo Amt</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.cargo_ins_amount, new { @id = "cargo_ins_amount", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0" align="right">Exp</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.cargo_ins_exp_date, new { @id = "cargo_ins_exp_date", @class = "datepicker", style = "width:90px;", @readonly = true })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">On File</td>
                                <td class="detailFields0">@Html.CheckBox("cargo_ins_onfile", new { @id = "cargo_ins_onfile", disabled = "disabled" })</td>
                                <td class="detailFields0" align="right">Shows PLI</td>
                                <td class="detailFields0">@Html.CheckBox("cargo_ins_showspli", new { @id = "cargo_ins_showspli", disabled = "disabled" })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Liability Amt</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.liability_ins_amount, new { @id = "liability_ins_amount", style = "width:200px;", @readonly = true })</td>
                                <td class="detailFields0" align="right">Exp</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.liability_ins_exp_date, new { @id = "liability_ins_exp_date", @class = "datepicker", style = "width:90px;", @readonly = true })</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="tblRate" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="445">
                            <tr>
                                <td class="detailFields0" align="right">
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rate Information</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Tariff Module</td>
                                <td class="detailFields0">@Html.DropDownList("TariffModeList", (IEnumerable<SelectListItem>)ViewBag.TariffModeList, new { @id = "tariff_module", style = "width:65px;", disabled = "disabled" })</td>
                                <td class="detailFields0" align="right">Rate Exceptions</td>
                                <td class="detailFields0" colspan="2">@Html.CheckBox("is_rate_exception", new { @id = "is_rate_exception", disabled = "disabled" })&nbsp;&nbsp;&nbsp;
                                    <input id="btnException" type="button" style="font-size:10px; padding:1px 15px; width:90px;" value="View Exceptions" onclick="showExceptions()" disabled />
                                </td>
                            </tr> 
                            <tr>
                                <td class="detailFields0" align="right">Discount</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.Discount, new { @id = "discount", style = "width:65px;", @readonly = true })%</td>
                                <td class="detailFields0" align="right">AMC</td>
                                <td class="detailFields0">$@Html.TextBoxFor(model => model.m_carrier.MinCharge, new { @id = "min_charge", style = "width:55px;", @readonly = true })</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Autorate Suppressed</td>
                                <td class="detailFields0">@Html.CheckBox("is_auto_rate_suppressed", new { @id = "is_auto_rate_suppressed", disabled = "disabled" })</td>
                                <td class="detailFields0">Rate Effective Date</td>
                                <td class="detailFields0">@Html.TextBoxFor(model => model.m_carrier.RateEffectiveDate, new { @id = "rate_effective", style = "width:62px;", @readonly = true })</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="detailFields0" align="right">Notes</td>
                                <td class="detailFields0" colspan="4">@Html.TextBoxFor(model => model.m_carrier.RateExceptionNotes, new { @id = "exception_notes", style = "width:251px;", @readonly = true })</td>
                            </tr>
                        </table>                           
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <fieldset style="border:none">
        <div style="width: 300px; float:left; margin-left:11px">
            <input id="btnEdit" type="button" class="carButtons" value="Edit" onclick="editCarrier()" />
            <input id="btnNew" type="button" class="carButtons" value="Add" onclick="addCarrier()" />
            <input id="btnDelete" type="button" class="carButtons" value="Delete" onclick="deleteCarrier()" />
            <input id="btnSave" type="submit" class="carButtons" value="Save" /><br />

        </div>
    </fieldset>
    <fieldset id="hidden_fieldset">
        <input type="hidden" name="locationId" id="locationId">
        <input name="contactId" id="contactId">
        <input name="contactOprFlag" id="contactOprFlag" value="">
        <input name="carrierOprFlag" id="carrierOprFlag" value="">
        @Html.TextBoxFor(model => model.m_carrier.TariffModCodeId, new { @id = "tariff_module_id", style = "width:75px;" })
        @Html.TextBoxFor(model => model.m_carrier.w9_onfile, new { @id = "w9_onfile_id", style = "width:75px;" })
        @Html.TextBoxFor(model => model.m_carrier.cargo_ins_onfile, new { @id = "cargo_ins_onfile_id", style = "width:75px;" })
        @Html.TextBoxFor(model => model.m_carrier.cargo_ins_showspli, new { @id = "cargo_ins_showspli_id", style = "width:75px;" })
        @Html.TextBoxFor(model => model.m_carrier.IsRateException, new { @id = "is_rate_exception_id", style = "width:75px;" })
        @Html.TextBoxFor(model => model.m_carrier.IsAutoRateSuppressed, new { @id = "is_auto_rate_suppressed_id", style = "width:75px;" })
    </fieldset>
}
