﻿@{
    ViewBag.Title = "Test";
}

<script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/json2.js"></script>
<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function () {
        var grid = $("#list10");

        var mydata = [
            { role_id: "Linehaul", carrier_id: "3", pro_number: "893758973", carrier_charges: "150.75", transit_days: "3", invoiced_date: "", dispatched_date_time: "", notes: "", carrier_sequence: "1" },
            //{ pli_book_number: "1234567", role_id: "NA", carrier_id: "4662", pro_number: "", carrier_charges: "150.75", transit_days: "3", invoiced_date: "", dispatched_date_time: "", notes: "", carrier_sequence: "1" },
        ];

        grid.jqGrid({
            //url: './DataToMultiSelect.txt',
            data:mydata,
            datatype: 'local',
            mtype: 'GET',
            loadonce: true,
            jsonReader: { repeatitems: false },
            colNames: ['', 'Role', 'Carrier', 'Service', 'Pro #', 'Charges', 'Transit Days', 'Invoiced Date', 'Dispatched Date/Time', 'Notes', 'ID'],
            colModel: [
                { name: 'ID', key: true, width: 3, align: "center", hidden: false },
                //{ name: 'pli_book_number', index: 'pli_book_number', hidden: true, editoptions: { readonly: 'readonly' } },
                {
                    key: false, name: 'role_id', index: 'role_id', width: 40, editable: true, resizable: false, hidden: false, edittype: 'select', formatter: 'select', editoptions: {
                        value: "NA:--Select--;Advance:Advance;Beyond:Beyond;CrossDock:Cross Dock;Direct:Direct;Linehaul:Linehaul",
                        dataInit: function (el) {
                            $(el).width(88);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'carrier_id', index: 'carrier_id', width: 90, resizable: false, editable: true, editrules: { required: false }, hidden: false, edittype: 'select', formatter: 'select', editoptions: {
                        value: "1:AAA;2:SAIA;3:TOWN;",
                        dataInit: function (el) {
                            $(el).width(200);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'service_point', index: 'service_point', width: 33, editable: true, resizable: false, editoptions: {
                        dataInit: function (el) {
                            $(el).width(69);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'pro_number', index: 'pro_number', width: 50, editable: true, resizable: false, editoptions: {
                        dataInit: function (el) {
                            $(el).width(110);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'carrier_charges', index: 'carrier_charges', width: 40, sortable: true, sorttype: "float", editable: true, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' }, editoptions: {
                        defaultValue: 0,
                        dataInit: function (el) {
                            $(el).width(87);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'transit_days', index: 'transit_days', width: 33, editable: true, resizable: false, editoptions: {
                        dataInit: function (el) {
                            $(el).width(69);  //set the width of the field in the form edit
                        }
                    }
                },
                {
                    key: false, name: 'invoiced_date', index: 'invoiced_date', width: 40, editable: true, resizable: false, formatter: "date", formatoptions: { newformat: "m/d/Y" }, editoptions: {
                        dataInit: function (elem) { $(elem).datepicker(); $(elem).width(87); }
                    }
                },
                { key: false, name: 'dispatched_date_time', index: 'dispatched_date_time', width: 60, editable: true, resizable: false },
                { key: false, name: 'notes', index: 'notes', width: 90, editable: true, resizable: false },
                { key: false, name: 'carrier_sequence', index: 'carrier_sequence', editable: true, hidden: true, editoptions: { readonly: 'readonly' } }
            ],
            rowNum: 10,
            rowList: [10, 20, 300],
            multiselect: true,
            pager: "#pager",
            viewrecords: true,
            gridview: true,
            rownumbers: true,
            height: '100%',
            width: 1168,
            caption: 'Lista province',
            loadComplete: function () {
                //set the entire grid to edit mode
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                };
            },
        });

        $("#selectAll").click(function () {
            grid.jqGrid('resetSelection');
            var ids = grid.jqGrid('getDataIDs');
            for (var i = 0, il = ids.length; i < il; i++) {
                grid.jqGrid('setSelection', ids[i], true);
            }
        });

        $("#clear").click(function () {
            grid.jqGrid('resetSelection');
        });
        $("#getSelected").click(function () {
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            alert(ids);
            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'carrier_id');
                    names.push(name);
                }
                //alert ("Names: " + names.join(", ") + "; ids: " + ids.join(", "));
                $("#names").html(names.join(", "));
                $("#dialog-confirm").dialog({
                    height: 280,
                    modal: true,
                    buttons: {
                        'Cancel': function () {
                            $(this).dialog('close');
                        },
                        'Confirm': function () {
                            alert("Confirm");
                            //alert ("Names: " + names.join(", ") + "; ids: " + ids.join(", "));
                            /*$.ajax({
                                type: "POST",
                                url:  "/cpsb/unprocessedOrders.do",
                                data: { method: "releaseTowics",
                                    orderNum: JSON.stringify(ids),
                                    names: JSON.stringify(names)
                                },
                                dataType: "json"
                                success: function(msg){
                                    alert(msg);
                                },
                                error: function(res, status, exeption) {
                                    alert(res);
                                }
                            });*/
                        }
                    }
                });
            }
        });
    });
    //]]>
</script>



<h2>Test</h2>
<fieldset>
    <input id="getSelected" type="button" value="Get Selected" />
    <input id="selectAll" type="button" value="Select All" />
    <input id="clear" type="button" value="Clear Selection" />
</fieldset>
<table id="list10"><tr><td /></tr></table>
<div id="pager" />

<div style="display:none;" id="dialog-confirm" title="Confirm">
    <p><span class="ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure want send this names:</p><p><span id="names"></span></p>
</div>