﻿ /*set the font size for form elements*/
select, label, input {
    font-size: 11px;
}

td.search {
    padding-bottom: .25em;
    padding-top: .25em;
    padding-right: 0;
}

td.searchPadTop0 {
    padding-bottom: .25em;
    padding-top: 0;
    padding-right: 0;
}

td.detailFields0 {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    /*vertical-align:top;*/
    font-size: 11px;
    font-weight: normal;
}

td.detailFields1 {
    padding-bottom: 0;
    padding-top: .60em;
    padding-right: 0;
    /*vertical-align:top;*/
    font-size: 11px;
    font-weight: normal;
}

td.detailList {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    font-size: 11px;
}

/*style for side by side table layout*/
.inlineTable {
    display: inline-block;
    border-spacing: 5px;
}

label.lbl1 {
    font-size: 11px;
    color: blue;
}

input.consButtons {
    padding: 1px 15px;
    font-size: 10px;    
    width: 50px;
}

input.carButtons {
    padding: 1px 15px;
    font-size: 10px;    
    width: 50px;
}

input.shpButtons {
    padding: 1px 15px;
    font-size: 10px;
    width: 50px;
}

input.cusButtons {
    padding: 1px 15px;
    font-size: 10px;    
    width: 50px;
}