﻿@model IntraX2.Models.catalogModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        var categoryID;
        var productID;

        //execute category change event
        $('#categoryListSelect').change(function (e) {
            categoryID = $("#categoryListSelect").val();
            getProductList(categoryID);
        });

        //execute product change event
        $('#productListSelect').change(function (e) {
            productID = $("#productListSelect").val();
            alert('Display product ' + productID + ' detail');
        });
    });

    function getCategoryList() {
        //generate category drop down list
        $.getJSON("/IntraX2/Catalog/GetCategoryList", null, function (data) {
            var $select = $('#categoryListSelect');
            $select.empty();
            $.each(data, function () {
                $select.append($("<option></option>").val(this['CategoryID']).html(this['CategoryName']));
            });

        }); //eo getJSON
    }

    function getProductList(categoryId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Catalog/GetCategoryProductList",
            data: { categoryId: categoryId },
            traditional: true,
            dataType: 'json',
            success: function (data) {
                var $select = $('#productListSelect');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['ProductID']).html(this['ProductName']));
                });

                $select.eq(0).attr('selected', 'selected'); //default to the first option
            }
        }); //eo ajax
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        getCategoryList();
    }); //eo document.ready
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "catalog_form", name = "catalogForm", @class = "full" }))
{
    <fieldset style="border:none">
        <div>
            <table>
                <tr>Select a category:</tr>
                <tr>
                    <td class="detailList">@Html.DropDownList("CategoryList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "categoryListSelect", size = 4, style = "width:100px;" })</td>
                </tr>
            </table>
            <table>
                <tr>Select a product:</tr>
                <tr>
                    <td class="detailList">@Html.DropDownList("ProductList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "productListSelect", size = 4, style = "width:150px;" })</td>
                </tr>
            </table>
        </div>
    </fieldset>
    
   
}
