﻿<!DOCTYPE html>
<script type="text/javascript">
    //display the dialog container of the nmfc popup list
    function DisplayNMFCPopup() {
        //clear grid
        $("#NMFCGrid").jqGrid('GridUnload');

        //call the method to build the jqgrid for popup dialog
        setupNMFCGrid(document.getElementById("temp_shipper").value);

        $("#dialog-nmfc").attr('title', "NMFC List - Double-click on item to select");
        $("#dialog-nmfc").dialog({
            modal: true,
            width: 930,
            resizable: false,
            buttons: {
                Close: function () {
                    //alert($(this).val());
                    $(this).dialog("close");
                }
            },
            close: function (event, ui) {
                //$("#commodityGrid").jqGrid('setCell', 1, 'description', document.getElementById("description").value);
                //alert('close event');
            }
        });
    };

    //get the url parameters by name
    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    function exitDialog() {
        showDialog('confirmation', 'Exit application?');
    }

</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pathfinder Logistics - IntraX2</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/smoothness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/PLI.css")" rel="stylesheet" type="text/css" />
        
        <!--
        <link href="@Url.Content("~/Content/searchFilter.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
        -->
             
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/jquery.searchFilter.css" />
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/ui.multiselect.css" />
        
        <link href="@Url.Content("~/Scripts/zebra/css/default/zebra_dialog.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Scripts/prodropdown/pro_drop_1.css")" rel="stylesheet" type="text/css" />

        <!--jQuery-->
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>

        <!--jqGrid-->
        <!--<script src="@Url.Content("~/Scripts/jqgrid/grid.locale-en.js")" type="text/javascript"></script>-->
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/i18n/grid.locale-en.js"></script>
        <script src="@Url.Content("~/Scripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/jquery.searchFilter.js"></script>

        <!--jQuery Mask Input-->
        <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>

        <!--jQuery Form Validation-->
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

        <!--DateJS-->
        <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>

        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->

        <!--Common Functions Script-->
        <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>

        <!--Get-Cookie Function-->
        <script src="@Url.Content("~/Scripts/get-cookie.js")" type="text/javascript"></script>

        <!--JQuery Cookie-->
        <script src="@Url.Content("~/Scripts/jquery.cookies.2.2.0.min.js")" type="text/javascript"></script>

        <!--Zebra Dialog-->
        <script src="@Url.Content("~/Scripts/zebra/zebra_dialog.js")" type="text/javascript"></script>

        <!--Numeral Formatting For Display Formats-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

        <!--AutoNumeric For Inputting Masks-->
        <script src="@Url.Content("~/Scripts/autoNumeric.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/prodropdown/stuHover.js")" type="text/javascript"></script>

        <!--Dropdown Top Menu Bar-->
        <script type="text/javascript">
            var timeout = 100;
            var closetimer = 0;
            var ddmenuitem = 0;

            // open hidden layer
            function mopen(id) {
                // cancel close timer
                mcancelclosetime();

                // close old layer
                if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';

                // get new layer and show it
                ddmenuitem = document.getElementById(id);
                ddmenuitem.style.visibility = 'visible';
            }

            // close showed layer
            function mclose() {
                if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';
            }

            // go close timer
            function mclosetime() {
                closetimer = window.setTimeout(mclose, timeout);
            }

            // cancel close timer
            function mcancelclosetime() {
                if (closetimer) {
                    window.clearTimeout(closetimer);
                    closetimer = null;
                }
            }

            // close layer when click-out
            document.onclick = mclose;
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Pathfinder Logistics - IntraX2", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <!--
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    -->
                    <div id="nav">
                        @if (Request.Cookies["userIDCookie"].Value == "x0")
                        {
                            <ul class="nav navbar-nav">
                                <!--
                                <li role="navigation">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li role="navigation">@Html.ActionLink("Create A Booking", "Create", "Shipment")</li>
                                <li role="navigation">@Html.ActionLink("Tracking", "Shipments", "Shipment")</li>
                                <li role="navigation">@Html.ActionLink("Invoice", "ShipmentInvoices", "Shipment")</li>
                                <li role="navigation">@Html.ActionLink("Carrier", "ShipmentCarrierBills", "Shipment")</li>
                                -->
                                <li><a href="javascript:void(0);" onclick="exitDialog()" id="close_window">Exit</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul id="sddm">
                                <li>
                                    <a href="../Home/Index">Home</a>
                                </li>
                                <li>
                                    <a href="../Shipment/Create">Create A Booking</a>
                                </li>
                                <li>
                                    <a href="../Shipment/Shipments">Tracking</a>
                                </li>
                                <li>
                                    <a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">Receivable</a>
                                    <div id="m4" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                        <a href="../Shipment/ShipmentInvoices">Batch Invoicing</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Payable</a>
                                    <div id="m5" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                        <a href="../Shipment/ShipmentCarrierBills">Carrier Bill</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="exitDialog()">Exit</a>
                                </li>
                            </ul>       
                        }
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Pathfinder Logistics, Inc. - IntraX2 v.2.0.1.12</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
