﻿<!DOCTYPE html>
<script type="text/javascript">
    //display the dialog container of the nmfc popup list
    function DisplayNMFCPopup() {
        //clear grid
        $("#NMFCGrid").jqGrid('GridUnload');

        //call the method to build the jqgrid for popup dialog
        setupNMFCGrid(document.getElementById("temp_shipper").value);

        $("#dialog-nmfc").attr('title', "NMFC List - Double-click on item to select");
        $("#dialog-nmfc").dialog({
            modal: true,
            width: 930,
            resizable: false,
            buttons: {
                Close: function () {
                    //alert($(this).val());
                    $(this).dialog("close");
                }
            },
            close: function (event, ui) {
                //$("#commodityGrid").jqGrid('setCell', 1, 'description', document.getElementById("description").value);
                //alert('close event');
            }
        });
    };

    //get the url parameters by name
    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    function exitDialog() {
        showDialog('confirmation', 'Exit application?');
    }

    $(document).ready(function () {
        $('.menu').jqsimplemenu();
    });
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pathfinder Logistics - IntraX2</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/smoothness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/PLI.css")" rel="stylesheet" type="text/css" />
        
        <!--
        <link href="@Url.Content("~/Content/searchFilter.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
        -->
             
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/jquery.searchFilter.css" />
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/ui.multiselect.css" />
        
        <link href="@Url.Content("~/Scripts/zebra/css/default/zebra_dialog.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Scripts/prodropdown/pro_drop_1.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/jqsimplemenu.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/pli.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/pli.admin.css")" rel="stylesheet" type="text/css" />

        <!--jQuery-->
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>

        <!--jqGrid-->
        <!--<script src="@Url.Content("~/Scripts/jqgrid/grid.locale-en.js")" type="text/javascript"></script>-->
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/i18n/grid.locale-en.js"></script>
        <script src="@Url.Content("~/Scripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/jquery.searchFilter.js"></script>

        <!--jQuery Mask Input-->
        <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>

        <!--jQuery Form Validation-->
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

        <!--DateJS-->
        <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>

        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->

        <!--Common Functions Script-->
        <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>

        <!--Get-Cookie Function-->
        <script src="@Url.Content("~/Scripts/get-cookie.js")" type="text/javascript"></script>

        <!--JQuery Cookie-->
        <script src="@Url.Content("~/Scripts/jquery.cookies.2.2.0.min.js")" type="text/javascript"></script>

        <!--Zebra Dialog-->
        <script src="@Url.Content("~/Scripts/zebra/zebra_dialog.js")" type="text/javascript"></script>

        <!--Numeral Formatting For Display Formats-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

        <!--AutoNumeric For Inputting Masks-->
        <script src="@Url.Content("~/Scripts/autoNumeric.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/prodropdown/stuHover.js")" type="text/javascript"></script>

        <!--jqsimple menu-->
        <script src="@Url.Content("~/Scripts/jqsimplemenu.js")" type="text/javascript"></script>

        <!--Dropdown Top Menu Bar-->
        <!--
        <script type="text/javascript">
            var timeout = 100;
            var closetimer = 0;
            var ddmenuitem = 0;

            // open hidden layer
            function mopen(id) {
                // cancel close timer
                mcancelclosetime();

                // close old layer
                if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';

                // get new layer and show it
                ddmenuitem = document.getElementById(id);
                ddmenuitem.style.visibility = 'visible';
            }

            // close showed layer
            function mclose() {
                if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';
            }

            // go close timer
            function mclosetime() {
                closetimer = window.setTimeout(mclose, timeout);
            }

            // cancel close timer
            function mcancelclosetime() {
                if (closetimer) {
                    window.clearTimeout(closetimer);
                    closetimer = null;
                }
            }

            // close layer when click-out
            document.onclick = mclose;
        </script>
        -->
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Pathfinder Logistics - IntraX2", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <div>
                        <!--clear the top menu-->
                        <ul id="nav">
                            <li class="top"></li>
                        </ul>
                        @if (Request.Cookies["actionCookie"] != null)
                        {
                            switch (Request.Cookies["actionCookie"].Value)
                            {
                                case "home":
                                    <ul id="nav">
                                        <li class="top"><a href="../Home/Index" class="top_link"><span>Home</span></a></li>
                                        <li class="top"><a href="../Shipment/Create" class="top_link"><span>Create A Booking</span></a></li>
                                        <li class="top"><a href="../Shipment/Shipments" class="top_link" target="_blank"><span>Tracking</span></a></li>
                                        <li class="top">
                                            <a href="#nogo2" class="top_link"><span>Administration</span></a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="../Carrier/Index" class="top_link" target="_blank">Carrier</a>
                                                </li>
                                                <li>
                                                    <a href="../Consignee/Index" class="top_link" target="_blank">Consignee</a>
                                                </li>
                                                <li>
                                                    <a href="../Customer/Index" class="top_link" target="_blank">Customer</a>
                                                </li>
                                                <li>
                                                    <a href="../Shipper/Index" class="top_link" target="_blank">Shipper</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="top"><a href="javascript:void(0);" class="top_link" onclick="exitDialog()"><span>Exit</span></a></li>
                                    </ul>
                                    break;
                                case "create_booking":
                                    <ul id="nav">
                                        <li class="top">
                                            <a href="#nogo2" class="top_link"><span>Administration</span></a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="../Carrier/Index" class="top_link" target="_blank">Carrier</a>
                                                </li>
                                                <li>
                                                    <a href="../Consignee/Index" class="top_link" target="_blank">Consignee</a>
                                                </li>
                                                <li>
                                                    <a href="../Customer/Index" class="top_link" target="_blank">Customer</a>
                                                </li>
                                                <li>
                                                    <a href="../Shipper/Index" class="top_link" target="_blank">Shipper</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="top"><a href="javascript:void(0);" class="top_link" onclick="exitDialog()"><span>Exit</span></a></li>
                                    </ul>
                                    break;
                                default:
                                <ul id="nav">
                                    <li class="top"><a href="javascript:void(0);" class="top_link" onclick="exitDialog()"><span>Exit</span></a></li>
                                </ul>
                                break;
                            }
                        }
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Pathfinder Logistics, Inc. - IntraX2 v.2.0.1.29</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
