﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pathfinder Logistics - IntraX2</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/smoothness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/PLI.css")" rel="stylesheet" type="text/css" />
        
        <!--
        <link href="@Url.Content("~/Content/searchFilter.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
        -->
             
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/jquery.searchFilter.css" />
        <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/css/ui.multiselect.css" />
        
        <link href="@Url.Content("~/Scripts/zebra/css/default/zebra_dialog.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Scripts/prodropdown/pro_drop_1.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/jqsimplemenu.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/pli.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/pli.admin.css")" rel="stylesheet" type="text/css" />

        <!--jQuery-->
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>

        <!--jqGrid-->
        <!--<script src="@Url.Content("~/Scripts/jqgrid/grid.locale-en.js")" type="text/javascript"></script>-->
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/i18n/grid.locale-en.js"></script>
        <script src="@Url.Content("~/Scripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/jquery.searchFilter.js"></script>

        <!--jQuery Mask Input-->
        <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>

        <!--jQuery Form Validation-->
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

        <!--DateJS-->
        <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>

        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->

        <!--Common Functions Script-->
        <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>

        <!--Get-Cookie Function-->
        <script src="@Url.Content("~/Scripts/get-cookie.js")" type="text/javascript"></script>

        <!--JQuery Cookie-->
        <script src="@Url.Content("~/Scripts/jquery.cookies.2.2.0.min.js")" type="text/javascript"></script>

        <!--Zebra Dialog-->
        <script src="@Url.Content("~/Scripts/zebra/zebra_dialog.js")" type="text/javascript"></script>

        <!--Numeral Formatting For Display Formats-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

        <!--AutoNumeric For Inputting Masks-->
        <script src="@Url.Content("~/Scripts/autoNumeric.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/prodropdown/stuHover.js")" type="text/javascript"></script>

        <!--jqsimple menu-->
        <script src="@Url.Content("~/Scripts/jqsimplemenu.js")" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                //lauches the submenu item of of the parent menu item
                $('.menu').jqsimplemenu();
            });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Pathfinder Logistics - IntraX2", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <div>
                        @Html.Partial("MenuHome")
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Pathfinder Logistics, Inc. - IntraX2 v.2.0.1.35</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
