﻿@{ 
    List<IntraX2.Models.MenuModel> menuList = ViewBag.EditBookingMenu; //created in BaseController
}
<ul class="menu">

    @foreach (var mp in menuList.Where(p => p.ParentId == 0))
    {

        <li>
            @Html.ActionLink(mp.LinkText, mp.ActionName, mp.ControllerName)
            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
            {
                @:<ul>
            }

            @RenderMenuItem(menuList, mp)

            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
            {
                @:</ul>
            }
        </li>
    }
</ul>


@helper RenderMenuItem(List<IntraX2.Models.MenuModel> menuList, IntraX2.Models.MenuModel mi)
{
    foreach (var cp in menuList.Where(p => p.ParentId == mi.Id))
    {
        @:<li>
            @Html.ActionLink(cp.LinkText, cp.ActionName, cp.ControllerName)

        if (menuList.Count(p => p.ParentId == cp.Id) > 0)
        {
            @:<ul>
        }

        @RenderMenuItem(menuList, cp)
        if (menuList.Count(p => p.ParentId == cp.Id) > 0)
        {
            @:</ul>
        }
        else
        {
            @:</li>
        }
    }
}