﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    input[type="button"].nmfcButtons {
        padding: 1px 15px;
        font-size: 10px;
        width: 50px;
    }
</style>

<script type="text/javascript">
    function saveNMFC() {
        var nmfcItemID = $("#nmfcListSelect option:selected").val();
        var nmfcItem = document.getElementById("nmfc_item").value;
        var nmfcCategory = document.getElementById("categoryListSelect").value;

        if (document.getElementById("nmfc_opr_flag").value == "add") {
            //get sequence number
            $.ajax({
                type: "POST",
                url: "/IntraX2/Shipper/GetSequenceNumber",
                //data: {},
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    //post data to controller action
                    $.ajax({
                        type: "POST",
                        url: "/IntraX2/NMFC/UpdateNMFC",
                        data: { nmfcItemID: data.maxval, nmfcCategory: nmfcCategory, nmfcItem: nmfcItem },
                        traditional: true,
                        dataType: 'json',
                        async: false,
                        success: function (msg) {
                            alert(msg);
                        }
                    });
                }
            }); //eo .ajax
        }
        else {
            //post data to controller action
            $.ajax({
                type: "POST",
                url: "/IntraX2/NMFC/UpdateNMFC",
                data: { nmfcItemID: nmfcItemID, nmfcCategory: nmfcCategory, nmfcItem: nmfcItem },
                traditional: true,
                dataType: 'json',
                async: false,
                success: function (msg) {
                    alert(msg);
                }
            });
        }

        //set select to readonly
        $('select').attr('disabled', 'disabled');
    }

    function editNMFC() {
        document.getElementById("nmfc_opr_flag").value = "edit";
        //set select fields to edit
        $('select').removeAttr("disabled");
    }

    function addNMFC() {
        //set select fields to edit
        $('select,input').removeAttr("disabled");
        $('input').removeAttr("readonly");

        document.getElementById("nmfc_opr_flag").value = "add";
        document.getElementById("nmfc_item").value = "";
        document.getElementById("nmfc_item").focus();
    }

    $(function () {
        var nmfcID;
        var nmfcItemID;
        var nmfcSubID;

        //execute nmfc item change event
        $('#nmfcListSelect').change(function (e) {
            nmfcID = $("#nmfcListSelect option:selected").text();
            nmfcItemID = $("#nmfcListSelect option:selected").val();
            document.getElementById("nmfc_item").value = nmfcID;

            //get the detail of the select nmfc
            $.ajax({
                type: "POST",
                url: "/IntraX2/NMFC/GetNMFCItemData",
                data: { nmfcItemId: nmfcItemID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    document.getElementById("categoryListSelect").value = data.category;
                }
            }); //eo .ajax

            //get the subs of the selected nmfc
            getNMFCSubList(nmfcID);
            clearNMFCSubDetail();

            //clearShipperFields();
            //clearLocationFields();
            //clearContactFields();

            //empty the contact list
            //var $select = $('#contact_name');
            //$select.empty();

            //getShipperDetail(shipperID);
            //getLocationList(shipperID);

            //reset new shipper cookie to blank
            //document.cookie = "ck_newShipper=";
        }); //eo nmfc item change

        //execute nmfc sub change event
        $('#subListSelect').change(function (e) {
            nmfcSubID = $("#subListSelect").val();
            $.ajax({
                type: "POST",
                url: "/IntraX2/NMFC/GetNMFCSubDetail",
                data: { nmfcId: nmfcID, nmfcSubId: nmfcSubID },
                traditional: true,
                dataType: 'json',
                //async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    document.getElementById("setup_date").value = data.setupDate;
                    document.getElementById("setup_by").value = data.setupBy;
                    document.getElementById("classListSelect").value = data.classCode;
                    document.getElementById("nmfcDesc").value = data.description;
                }
            }); //eo .ajax

        }); //eo nmfc sub change

    }); //eo functions

    function clearNMFCSubDetail() {
        document.getElementById("setup_date").value = "";
        document.getElementById("setup_by").value = "";
        document.getElementById("nmfcDesc").value = "";
        var mySelect = document.getElementById("categoryListSelect");
        mySelect.value = '0';
        var mySelect2 = document.getElementById("classListSelect");
        mySelect2.value = '';
    }

    function getNMFCList() {
        //generate the nmfc list
        $.getJSON("/IntraX2/NMFC/GetNMFCList", null, function (data) {
            var $select = $('#nmfcListSelect');
            $select.empty();
            $.each(data, function () {
                $select.append($("<option></option>").val(this['NMFCItemID']).html(this['NMFCItem']));
            });

        }) //eo .getJSON
        .always(function () {
            //show the loading gif animation
            //$('#loading').show();
        }) //eo .always

        .done(function () {
            //hide the loading gif animation
            //$('#loading').hide();
        }); //eo .done
    }

    function getNMFCSubList(nmfcId) {
        $.getJSON("/IntraX2/NMFC/GetNMFCSubList?nmfcId=" + nmfcId, null, function (data) {
            var $select = $('#subListSelect');
            $select.empty();

            $.each(data, function () {
                $select.append($("<option></option>").val(this['NMFCSub']).html(this['NMFCSub']));
            });

            $select.eq(0).attr('selected', 'selected'); //default to the first option

            //empty the contact list
            //var $selectContact = $('#contact_name');
            //$selectContact.empty();
        });
    }

    function getNMFCCategoryList() {
        //generate the nmfc category list
        $.getJSON("/IntraX2/NMFC/GetNMFCCategoryList", null, function (data) {
            var $select = $('#categoryListSelect');
            $select.empty();
            $select.append($("<option selected='selected'></option>").val(0).html("")); //append a blank selection as the first
            $.each(data, function () {
                $select.append($("<option></option>").val(this['CategoryValue']).html(this['CategoryValue']));
            });
        }) //eo .getJSON
        .always(function () {
            //show the loading gif animation
            //$('#loading').show();
        }) //eo .always

        .done(function () {
            //hide the loading gif animation
            //$('#loading').hide();
        }); //eo .done
    }

    function getNMFCClassList() {
        //generate the nmfc class list
        $.getJSON("/IntraX2/NMFC/GetNMFCClassList", null, function (data) {
            var $select = $('#classListSelect');
            $select.empty();
            $select.append($("<option selected='selected'></option>").val("").html("")); //append a blank selection as the first
            $.each(data, function () {
                $select.append($("<option></option>").val(this['NMFCClassValue']).html(this['NMFCClassValue']));
            });
        }) //eo .getJSON
        .always(function () {
            //show the loading gif animation
            //$('#loading').show();
        }) //eo .always

        .done(function () {
            //hide the loading gif animation
            //$('#loading').hide();
        }); //eo .done
    }

    $(document).ready(function () {
        document.getElementById("nmfc_item").value = "";
        document.getElementById("nmfc_opr_flag").value = "";

        //reset form fields
        clearNMFCSubDetail();

        //generate nmfc list
        getNMFCList();

        //generate nmfc category lsit
        getNMFCCategoryList();

        //generate nmfc class lsit
        getNMFCClassList();
    }); //do document.ready
</script>

<h3><b>NMFC Management</b></h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-nmfc", name = "frmNMFC", @class = "full" }))
{
    <fieldset style="border:none">
        <div>
            <table>
                <tr>
                    <td class="detailList">@Html.DropDownList("NMFCList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "nmfcListSelect", size = 15, style = "width:100px;" })
                        <br />
                        <input id="btnNMFCEdit" type="button" class="nmfcButtons" value="Edit" onclick="editNMFC()" />
                        <input id="btnNMFCNew" type="button" class="nmfcButtons" value="Add" onclick="addNMFC()" />
                        <input id="btnNMFCSave" type="button" class="nmfcButtons" value="Save" onclick="saveNMFC()" />
                        <input id="btnNMFCDelete" type="button" class="nmfcButtons" value="Delete" onclick="saveShipper()" />
                    </td>

                    <td>
                        <table id="tblDetail" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="905">
                            <tr>
                                <td class="detailFields0"><b>Set-up</b></td>
                                <td id="txtSetUpDate" class="detailFields0">@Html.TextBox("setup_date", "", new { @id = "setup_date", style = "width:80px;", @readonly = "readonly", tabindex = "-1" })</td>
                                <td class="detailFields0"><b>Set-up By</b></td>
                                <td id="txtSetUpBy" class="detailFields0">@Html.TextBox("setup_by", "", new { @id = "setup_by", style = "width:100px;", @readonly = "readonly", tabindex = "-1" })</td>
                            </tr>

                            <tr>
                                <td class="detailFields0"><b>NMFC Item</b></td>
                                <td id="txtSetUpDate" class="detailFields0">@Html.TextBox("nmfc_item", "", new { @id = "nmfc_item", style = "width:80px;", @readonly = "readonly", tabindex = "-1" })</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td class="detailFields0"><b>Index Category</b></td>
                                <td class="detailList">@Html.DropDownList("CategoryList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "categoryListSelect", size = 1, style = "width:300px;", @disabled = "disabled", tabindex = "-1" })</td>
                                <td class="detailFields0"><b>Class</b></td>
                                <td class="detailList">@Html.DropDownList("ClassList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "classListSelect", size = 1, style = "width:75px;" })</td>
                            </tr>
                            <tr>
                                <td class="detailFields0"><b>Description</b></td>
                                <td class="detailFields0">@Html.TextArea("NMFCDesc", "", new { @id = "nmfcDesc", style = "resize:none; width:300px; height:200px; font-size:11px" })</td>
                                <td class="detailFields0">&nbsp;</td>
                                <td class="detailFields0">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>               
            </table>
        </div>
    </fieldset>
    <fieldset style="border:none">
        <div>
            <table>
                <tr>
                    <td class="detailFields0"><b>NMFC Sub</b></td>
                </tr>
                <tr>
                    <td class="detailList">@Html.DropDownList("SubList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "subListSelect", size = 5, style = "width:100px;" })</td>
                </tr>
            </table>
        </div>
    </fieldset>
    <fieldset style="border:none">
        <div style="width: 300px; float:left; margin-left:11px">
            <input id="btnEdit" type="button" class="shpButtons" value="Edit" onclick="editShipper()" />
            <input id="btnNew" type="button" class="shpButtons" value="Add" onclick="addShipper()" />
            <input id="btnDelete" type="button" class="shpButtons" value="Delete" onclick="deleteShipper()" />
            <input id="btnSave" type="submit" class="shpButtons" value="Save" />
        </div>
    </fieldset>
    <input type="hidden" name="nmfc_opr_flag" id="nmfc_opr_flag">
}