/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
  background:transparent;
  border:0;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
body{
  line-height:1;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
}
ol, ul{
  list-style:none;
}
blockquote{
  quotes:none;
}
blockquote:before, blockquote:after{
  content:'';
  content:none;
}
del{
  text-decoration:line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table{
  border-collapse:collapse;
  border-spacing:0;
}
a img{
  border:none;
}

/* =Global
-------------------------------------------------------------- */
html{height:100%;}

body{
  color:#3b393a;
  font-family:"purista-web", Arial, Helvetica, Verdana, sans-serif;
  font-size:15px;
  height:100%;
  letter-spacing:0.1em;
  line-height:22px;
}

a,
a:link,
a:visited{
  color:#c98900;
  text-decoration:none;
}

a:active,
a:hover,
a:focus{
  text-decoration:underline;
}

/* Text meant only for screen readers */
.skip-link{
  position:absolute;
  left:-9000px;
}

/*Remove button padding in FF*/
input[type="submit"]::-moz-focus-inner{
  border:0;
  padding:0;
}

#wrapper{
  background:#000 url(../img/bg-main.png) no-repeat center top;
  min-width:1100px;
  min-height:100%;
}

/* =Header
-------------------------------------------------------------- */
#header{
  position:relative;
}

#header div.left-stripe{
  background:url(../img/bg-header-stripe-left.png) repeat-x left top;
  height:26px;
  left:0;
  position:absolute;
  top:93px;
  width:50%;
  z-index:1;
}

#header div.right-stripe{
  background:url(../img/bg-header-stripe-right.png) repeat-x left top;
  height:26px;
  right:0;
  position:absolute;
  top:114px;
  width:50%;
  z-index:1;
}

#header div.wrap{
  background:url(../img/bg-nav.png) no-repeat left bottom;
  height:140px;
  max-width:1600px;
  margin:0 auto;
  min-width:1100px;
  overflow:hidden;
  position:relative;
  z-index:2;
}

#logo{
  float:left;
  height:45px;
  margin:30px 0 28px 35px;
  width:300px;
}

#header-info{
  color:#eee;
  float:right;
  margin:12px 55px 0 0;
  text-align:right;
  width:320px;
}

#header-info p.welcome{
  font-size:13px; /* changed by vincent, was 16px */
}

#header-info p.type{
  font-size:13px;
}

#header-info p.nav a{
  color:#c98900;
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
}

/* =Access
-------------------------------------------------------------- */
#nav{
  clear:both;
}

#nav ul{
  list-style:none;
  margin:0 0 0 25px;
  overflow:hidden;
}

#nav li{
  float:left;
  position:relative;
}

#nav ul li a{
  color:#9f9f9f;
  display:block;
  font-size:14px;
  font-weight:600;
  padding:0 10px 13px 10px;
  text-decoration:none;
  text-transform:uppercase;
}

#nav ul li a:hover,
#nav ul li a:focus{
  color:#99ca3f;
}

#nav ul li.current a{
  background:url(../img/arrow-up.png) no-repeat center bottom;
  color:#99ca3f;
}

/* =Main
-------------------------------------------------------------- */
#main{
  clear:both;
  color:#242424;
  overflow:hidden;
  padding:0 0 250px;
}

#main div.max800{
  max-width:800px;
}

#main a.button{
  background:url(../img/bg-button.png) repeat-x;
  border:1px solid #467708;
  color:#fff;
  display:inline-block;
  font-family:"purista-web", Arial, Helvetica, Verdana, sans-serif;
  line-height:30px;
  padding:0 15px;
}

#main form{
  font-size:11px;
  margin:-2px 0 30px -2px;
  overflow:hidden;
  padding:2px;
  width:632px;
}

#main form .success p{
  background:url(../img/icon-check.png) no-repeat left 3px;
  color:#467708;
  font-size:17px;
  font-weight:bold;
  padding-left:20px;
}

#main form .alert-box{
  overflow:hidden;
  margin:0 0 20px;
}

#main form .alert-box div.alert-wrap{
  background:url(../img/arrow-alert-down.png) no-repeat center bottom;
  display:inline-block;
  float:left;
  overflow:hidden;
  padding:9px 0;
}

#main form .alert-box.up{
  overflow:hidden;
  margin:-40px 0 40px;
}

#main form .alert-box.up div.alert-wrap{
  background:url(../img/arrow-alert-up.png) no-repeat center top;
}

#main form .alert-box ul{
  color:#fff;
  font-size:13px;
  list-style:none;
  margin:0;
  padding:5px 10px;

  background: #B00000; /* Old browsers */
  background: -moz-linear-gradient(top,  #B00000 0%, #CF0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B00000), color-stop(100%,#CF0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #B00000 0%,#CF0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #B00000 0%,#CF0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #B00000 0%,#CF0000 100%); /* IE10+ */
  background: linear-gradient(top,  #B00000 0%,#CF0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B00000', endColorstr='#CF0000',GradientType=0 ); /* IE6-9 */
}

#main form .alert-box ul li{
  background:url(../img/icon-alert.png) no-repeat left 4px;
  padding:0 0 0 20px;
}

#main form.full{
  width:100%;
}

#main form div.clear,
#main form h2{
  clear:both;
}

#main form fieldset{
  display:inline;
  height:1%;
  float:left;
  margin:0 0 20px;
  width:276px;
}

#main form fieldset.tight{
  margin:0;
}

#main form fieldset.wide{
  width:400px;
}

#main form fieldset.full{
  float:none;
  width:100%;
}

/*added by vincent*/
/*the width value determines when to go to the next row to display the next set fields*/
#main form fieldset.pickup-schedule{
  float:none;
  width:70%;
}

#main form fieldset.one,
#main form fieldset.two{
  margin:0 40px 40px 0;
}

#main form fieldset div{
  margin:0 0 5px;
}

#main form fieldset div.left{
  float:left;
  margin-right:30px;
}

#main form fieldset div.cal.left{
  margin-right:15px;
}

#main form fieldset td div{
  margin:0;
}

#main form fieldset td{
  padding:7px 10px 12px 10px;
}

#main h3{
  margin:0 0 5px;
}

#main label{
  display:block;
}

#main label.inline{
  display:inline-block;
}

#main label.wide30{
  width:30px;
}

#main label.wide40{
  width:40px;
}

#main label.wide50,
#main input[type="text"].wide50{
  width:50px;
}

#main label.wide60{
  width:60px;
}

#main select.wide70{
  width:70px;
}

#main label.wide90,
#main select.wide90{
  width:90px;
}

#main label.wide110,

#main select.wide110{
  width:110px;
}

#main label.wide130{
  width:130px;
}

/*added - vincent*/
#main label.wide120{
  width:120px;
}

/*added - vincent*/
#main label.wide200{
  width:200px;
}

/*added - vincent*/
#main label.wide300{
  width:300px;
}

#main input[type="text"].wide148{
  width:148px;
}

/*added - vincent*/
#main input[type="text"].wide148italic{
  width:148px;
  font-style:italic;
}

#main select.wide210{
  width:210px;
}

#main td div.wide80{
  overflow:hidden;
  width:80px;
}

#main span.class-weight{
  display:inline-block;
  margin:0 10px 0 0;
  width:100px;
}

#main span.class-weight input[type="text"]{
  width:90px;
}

#main div.zip input[type="text"]{
  width:108px;
}

#main div.commodity{
  clear:both;
}

#main div.commodity input[type="text"]{
  width:108px;
}

#main div.commodity p{
  clear:both;
}

#main div.cal label{
  float:left;
  display:inline-block;
  margin:0 5px 0 0;
}

#main span.cal{
  display:inline-block;
  /*margin:0 10px 0 0;*/
  /*width:100px;*/
  
  /*changed - vincent*/
  margin:0 0px 0 0;
  width:110px;
}

/*added by vincent*/
#main span.cal100{
  display:inline-block;
  margin:0 10px 0 0;
  width:100px;
}

#main span.cal input[type="text"]{
  float:left;
  width:66px;
}

#main span.cal a{
  display:block;
  float:right;
  height:16px;
  margin:3px 0 0;
  width:16px;
}

#main input[type="text"],
#main select,
#main textarea{
  background:#f6f6f6;
  border:1px solid #CDC293;
  color:#828282;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:11px;
  padding:2px;
  width:267px; /*doesn't display the down arrow on jqgrid dropdown list - overwrite in specific view - vincent*/
}

#main input[type="text"].alert,
#main select.alert,
#main textarea.alert{
  background:#f4f4f4;
  border:1px solid #AA0003;
}

#main label.alert{
  color:#AA0003;
}

#main select{
  padding:1px 2px;
  width:273px;  /*doesn't display the down arrow on jqgrid dropdown list - overwrite in specific view - vincent*/
}

#main textarea{
  overflow:auto;
  resize:vertical;
}

#main input[type="text"]:focus,
#main select:focus,
#main textarea:focus{
  background:#fff;
}

#main div.submit.shipper-confirmed{
  clear:both;
  float:left;
  margin:-20px 0 0;
}

#main div.submit.customer-estimate{
  clear:both;
}

#main div.submit.customer-estimate input[type="submit"]{
  margin:0 34px 0 0;
  width:274px;
}

#main div.submit.customer-estimate span{
  font-size:20px;
  font-weight:600;
}

#main div.submit{
  margin:0 0 20px;
}

#main div.submit input[type="submit"]{
  background:url(../img/bg-button.png) repeat-x;
  border:1px solid #467708;
  color:#fff;
  cursor:pointer;
  font-family:"purista-web", Arial, Helvetica, Verdana, sans-serif;
  font-size:15px;
  font-weight:400;
  height:30px;
  letter-spacing:0.1em;
  line-height:26px;
  margin:0;
  outline:none;
  padding:0 15px;
  text-align:center;
}

/*added by vincent*/
#main div.submit input[type="button"]{
  background:url(../img/bg-button.png) repeat-x;
  border:1px solid #467708;
  color:#fff;
  cursor:pointer;
  font-family:"purista-web", Arial, Helvetica, Verdana, sans-serif;
  font-size:15px;
  font-weight:400;
  height:30px;
  letter-spacing:0.1em;
  line-height:26px;
  margin:0;
  outline:none;
  padding:0 15px;
  text-align:center;
}

pickup-request {
  width: 670px;
}

#main #pickup-request div.booking-date{
  float:left;
  margin:0 28px 0 0;
}

#main #pickup-request .success,
#main #pickup-request .alert-box,
#main #pickup-request .alert-box.up{
  margin-left:28px;
}

#main #pickup-request fieldset{
  margin:0 10px 40px 28px;
}

#main #pickup-request fieldset.tight{
  margin:0 0 0 30px;
}

#main #pickup-request h3.inline{
  clear:both;
  display:inline-block;
  float:left;
  width:70px;
}

#main #pickup-request h3.inline.wide{
  display:inline-block;
  width:160px;
}

#main #pickup-request div.radio input{
  float:left;
}

#main #pickup-request div.radio label{
  float:left;
  margin-right:25px;
  margin-left:5px;
}

#main h1{
  font-size:24px;
  font-weight:600;
  letter-spacing:1px;
  margin:0 0 20px 0;
}

#main h2{
  font-size:15px;
  margin:0 0 5px 0;
  font-weight:600;
}

#main h2 span.indent{
  display:inline-block;
  width:22px;
}

#main h3{
  font-size:13px;
  font-weight:600;
}

#main p{
  margin:0 0 20px;
}

#main ul{
  list-style:disc;
  margin:0 0 20px 0;
  overflow: hidden;
  padding:0 0 0 30px;
}

#main ul.nav-tab{
  font-size:17px;
  list-style:none;
  margin:0 0 20px;
  padding:0;
}

#main ul.nav-tab li{
  border-left:1px solid #424242;
  display:inline;
  font-weight:600;
  margin:0 10px 0 0;
  padding:0 0 0 15px;
}

#main ul.nav-tab li.active a{
  color:#3b393a;
  text-decoration:underline;
}

#main ul.nav-tab li:first-child{
  border:0;
  padding:0;
}

#main ol{
  list-style:decimal;
  margin:0 0 20px 0;
  overflow: hidden;
  padding:0 0 0 30px;
}

#main ul ul,
#main ol ol,
#main ul ol,
#main ol ul{
  margin:10px 0;
}

#main table{
  font-size:11px;
  text-align:left;
  line-height:16px;
  margin:0 0 30px -5px; /*need to commented out so jqxDateTimeInput can render correctly - vincent*/
  width:100%; /*need to commented out so jqxDateTimeInput can render correctly - vincent*/
}

#main table.commodities{
	margin-bottom:10px;
}

#main tr{
  background:url(../img/bg-line.png) repeat-x left bottom; /*need to commented out so <tr> elements do not have an underline - vincent*/
}

#main tr.stripe{
  background:#EFEEDA url(../img/bg-line.png) repeat-x left bottom;
}

#main tr th{
  color:#c98900;
  cursor:pointer;
  font-weight:0;
  /*font-weight:600;*/ /*commented out so jqgrid can render correctly - vincent*/
  /*padding:5px 10px 7px 15px;*/ /*commented out so jqgrid can render correctly - vincent*/
  text-align:left;
  text-decoration:underline;
  vertical-align:bottom;
}

#main tr th.active{
  background:url(../img/arrow-active.png) no-repeat left bottom;
}

#main tr td{
  padding:5px 10px 7px 15px; /*need to comment out for jqxDateTimeInput to render correctly - vincent*/
  text-align:left;
}

#main tr td a{
  text-decoration:underline;
}

#main div.pagination{
  font-size:16px;
  margin:0 0 20px;
  text-align:center;
}

#main div.pagination a{
  padding:0px 5px 2px;
}

#main div.pagination a.active{
  color:#424242;
}

#main div.tab{
  overflow:hidden;
}

#main div.tab div.one{
  float:left;
  margin:0 0 20px;
  width:340px;
}

#main div.tab div.two{
  float:left;
  margin:0 0 20px 40px;
  width:340px;
}

#main div.tab p.edit{
  clear:both;
  float:left;
  margin:-20px 0 0 0;
}

#main div.tab p.edit a{
  text-align:center;
  width:140px;
}

#main span.check{
	background:url(../img/icon-check.png) no-repeat right;
	padding:0 20px 0 0;
}

/* =Container
-------------------------------------------------------------- */
#container{
  margin:0 auto 60px;
  max-width:1600px;
  min-width:1100px;
}

#container div.wrap{
  background:#e2e1cd;
  margin:30px 55px 0 35px;
  -moz-box-shadow:inset 0 0 40px #A0953D;
  -webkit-box-shadow:inset 0 0 40px #A0953D;
  box-shadow:inset 0 0 40px #A0953D;
}

/* =Content
-------------------------------------------------------------- */
#content{
  font-family:Arial, Helvetica, Verdana, sans-serif;
  padding:20px 20px 40px;
  -moz-box-shadow:0 0 20px #000;
  -webkit-box-shadow:0 0 20px #000;
  box-shadow:0 0 20px #000;
}

/* =Footer
-------------------------------------------------------------- */
#footer{
  background:url(../img/bg-footer.png) repeat-x left top;
  color:#aeaeae;
  line-height:22px;
  height:250px;
  margin:-250px 0 0 0;
  min-width:1100px;
  overflow:hidden;
}

#footer div.wrap{
  margin:0 auto 30px;
  max-width:1600px;
  min-width:1100px;
  overflow:hidden;
  padding:40px 0;
}

#footer div.left{
  float:left;
  font-size:18px;
  margin:0 0 0 35px;
  width:300px;
}

#footer div.right{
  float:right;
  font-size:14px;
  margin:0 55px 0 0;
  width:580px;
}

#footer div.right strong{
  font-size:16px;
  font-weight:600;
}

#footer div.right p.one{
  float:left;
  width:270px;
}

#footer div.right p.two{
  float:right;
  width:270px;
}

/*added by vincent*/
em {
  font-weight: bold;
  padding-right: 1em;
  vertical-align: top;
  color: Red;
}