﻿/*Pathfinder Custom Style Sheet*/
/*Overriding jqGrid and jQuery stylesheet to work with Synotac stylesheet*/

/*style for input tag of 50px width*/
#main input[type="text"].wide50{
    width:50px;
}

/*style for input tag of 70px width*/
#main input[type="text"].wide70{
    width:70px;
}

/*style for input tag of 230px width*/
#main input[type="text"].wide230{
    width:230px;
}

/*style for input tag of 410px width*/
#main input[type="text"].wide410{
    width:410px;
}

/*style for select list of 240px width*/
#main select.wide240{
  width:240px;
}

/*style for select list of 260px width*/
#main select.wide260{
  width:260px;
}

#main select.wide295{
  width:295px;
}

/*style for select list of 410px width*/
#main select.wide410{
  width:410px;
}

#main label.wide70{
  width:70px;
}

/*changes the size of the jquery datepicker calendar display*/
div.ui-datepicker{
   font-size:11px;
}

/*applied word-wrapping on jqgrid cell*/
.ui-jqgrid tr.jqgrow td
{
    white-space: normal !important;
    height: auto;
    vertical-align: text-top;
    padding-top: 2px;
}

/*modified styles from jqgrid base style sheet to work with Synotact style sheet*/
.ui-jqgrid {
    font-size: 11px;
    font-family: "purista-web", Arial, Helvetica, Verdana, sans-serif;
}

/*fixes issue of not all column headers are being displayed due to Synotac style sheet*/
/*remove the space between column headers and the grid due to Synotact style sheet*/
.ui-jqgrid .ui-jqgrid-htable {
    table-layout: inherit !important;
    margin: 0em !important;
    text-align: left !important;
}

/*hides the horizontal bar divider between header columns*/
/*styles the column header text*/
th.ui-th-column {
    border-right-color: transparent !important;
    font-style: normal;
    text-decoration: none !important;
    color: inherit !important;
}

/*sets normal row background color*/
/*sets the borders color around row*/
/*sets padding for cell*/
.ui-jqgrid tr.jqgrow td {
    border-color: #CDC293 !important;
    background-color: #FFFFFF !important;
    padding: 2px 6px 4px 2px !important;
    color: #828282 !important;
    font-family: Arial, Helvetica, Verdana, sans-serif !important;
}

/*hides the firstrow blank*/
.ui-jqgrid tr.jqgfirstrow td {
    padding: 0px 0px 0px 0px !important;
    border-right-width: 1px !important;
    border-right-style: solid !important;
}

/*padding for dialog titlebar*/
.ui-dialog .ui-dialog-titlebar {
    padding: .2em 1em;
    position: relative;
}

/*jquery form validation style*/
#pickup-request {
    width: 670px;
}

    #pickup-request label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: red;
    }

em {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
    color: Red;
}

/*this style works for jqgrid if defined in this view*/
#main tr th {
    color: Black !important;
    cursor: pointer !important;
    font-weight: 0 !important;
    padding: 0 0 0 -1px !important;
    text-align: left !important;
    text-decoration: none !important;
    vertical-align: bottom !important;
}

#new_shipper fieldset {
    padding: 0;
    border: 0;
    margin-top: 15px;
    font-family: "purista-web", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px;
}

#new_shipper input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
    display: block;
}

#new_shipper label {
    display: block;
}

#new_shipper h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

/*style for shipment parties fieldset*/
#main form fieldset.widethree {
    float: none;
    width: 460px;
}
