﻿BODY
{
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
	color: #003366;
}
H1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.58em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.33em;
	font-weight: 500;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H5, DT
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H6
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	color: white;
}

TFOOT, THEAD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	color: white;
}

TH
{
	vertical-align: baseline;
	font-size: 1em;
	font-weight: bold;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

A:link
{
	text-decoration: underline;
	color: #3333cc;
}

A:visited
{
	text-decoration: underline;
	color: #3333cc;
}

A:active
{
	text-decoration: underline;
	color: #3333cc;
}

A:hover
{
	text-decoration: underline;
	color: yellow;
}

SMALL
{
	font-size: .7em;
}

BIG
{
	font-size: 1.17em;
}

BLOCKQUOTE, PRE
{
	font-family: Courier New, monospace;
}


UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

IMG
{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.clsPageTitle
{
	font-weight: bold;
	font-size: small;
	color: #336699;
	font-family: Arial;
}

A.clsDetailInListLink
{
	margin: 0;
	font-size: small;
	color: #3333cc;
	text-decoration: underline;
}

A.DocumentLink:active, A.DocumentLink:visited, A.DocumentLink:link
{
	font-size: small;
	color: #3333cc;
	text-decoration: underline;
}

A.DocumentLink:hover
{
	font-size: small;
	color: yellow;
	text-decoration: underline;
}

A.PflinLink:link, A.PflinLink:visited, A.PflinLink:hover, A.PflinLink:active
{
	font-size: medium;
	color: #ffffe1;
	font-style: italic;
	font-family: 'Times New Roman';
	text-decoration: underline;
}

A.HeaderLink:link, A.HeaderLink:visited, A.HeaderLink:hover
{
	font-size: small;
	color: #ffffe1;
	text-decoration: none;
}

A.HeaderLink:active
{
	font-size: small;
	color: #ffffe1;
	text-decoration: none;
}

.clsCurrentFolder
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
	font-size: small;
	width: 100%;
	color: black;
	background-color: #dde7f2;
	border-top-width: thin;
	border-top-color: black;
	border-left-width: thin;
	border-left-color: black;
	border-right-width: thin;
	border-right-color: black;
}

.clsPageLayoutTable
{
	border: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #212628;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-top-style: none;
	padding-top: 0px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.clsPflinBody
{
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: small;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #212628;
	border-bottom-style: none;
}

.clsLinksMenu
{
	border-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	left: 0px;
	visibility: visible;
	padding-bottom: 0px;
	margin: 0px;
	overflow: hidden;
	width: 160px;
	border-top-style: none;
	padding-top: 0px;
	border-left-style: none;
	position: relative;
	top: 0px;
	border-bottom-style: none;
	font-size: small;
}

.clsLinksTable
{
	border-right: 0px;
	border-top: 0px;
	font-size: small;
	border-left: 0px;
	width: 44ex;
	border-bottom: 0px;
	background-color: #acb4b8;
}

.clsRelatedLinksMenu
{
	border-top-style: none;
	border-right: 0px;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	left: 0px;
	visibility: visible;
	margin: 0px;
	overflow: hidden;
	width: 160px;
	position: relative;
	top: 0px;
	font-size: small;
	font-weight: bold;
	color: #336699;
}

.clsRelatedLinksTable
{
	border-right: 0px;
	border-top: 0px;
	font-size: small;
	border-left: 0px;
	width: 44ex;
	border-bottom: 0px;
	background-color: #acb4b8;
}

.clsLayoutTable
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	font-size: small;
	padding-bottom: 0px;
	margin: 0px;
	border-left: 0px;
	width: 100%;
	padding-top: 0px;
	border-bottom: 0px;
	height: 100%;
	background-color: #acb4b8;
}

.clsCaptionBar
{
	font-weight: bold;
	font-size: small;
	color: white;
	font-family: Arial;
	background-color: #336699;
}

.clsCommandButtonTable
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	font-size: small;
	padding-bottom: 0px;
	margin: 0px;
	border-left: 0px;
	width: 100%;
	padding-top: 0px;
	border-bottom: 0px;
	background-color: #acb4b8;
}

.clsDetailLayoutTable
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	font-size: small;
	padding-bottom: 0px;
	margin: 0px;
	border-left: 0px;
	width: 100%;
	padding-top: 0px;
	border-bottom: 0px;
	background-color: #acb4b8;
}

.clsLabelEmbedded
{
	margin-top: 0px;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
	vertical-align: middle;
	width: 100px; 
	text-decoration:	underline;
}
.clsLabel
{
	margin-top: 0px;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
	vertical-align: middle;
}
.clsLabelMultiLines
{
	margin-top: 0px;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
	vertical-align: top;
}

.clsAddressLabel
{
	margin-top: 0px;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
	vertical-align: Top;
}

.clsUnitLabel
{
	margin-top: 0px;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: Left;
	vertical-align: top;
}

LEGEND
{
	margin-top: 0px;
	font-weight: bold;
	font-size: x-small;
	color: #333399;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
}
.clsMessageLabel
{
	font-size: small;
	padding-left: 4px;
	color: red;
	font-family: Verdana, Arial;
	text-align: left;
}
.clsInstructionLabel
{
	padding-left: 4px;
	font-size: small;
	color: #333399;
	font-family: Verdana, Arial;
	background-color: transparent;
}
.clsDataLabel
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: left;
	vertical-align: middle;
}
.clsDataLabelCurrency
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: right;
	vertical-align: middle;
}
.clsDataLabelMultiLines
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: left;
	vertical-align: top;
}
.clsDataNoteLabel
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: #d3d3d3;
	text-align: left;
	vertical-align: top;
}
.clsDataNoteLabelXSmall
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
.clsContentButton
{
	padding-left: 4px;
	font-size: small;
	font-family: Verdana, Arial;
	background-color: transparent;
	text-align: left;
}

.clsDataGridHeaderDataLabel
{
	padding-left: 4px;
	font-size: x-small;
	color: #333399;
	font-family: Verdana, Arial;
	text-align: left;
}

.clsDataGridHeader td
{
	padding-left: 2;
}

.clsDataGridPager
{
	font-weight: bold;
	font-size: 100%;
	color: #333399;
	background-color: #acb4b8;
}

.clsDataGridPager A
{
	font-weight: normal;
	font-size: 100%;
	color: #333399;
	text-decoration: underline;
}

.clsDataGridHeader
{
	border-right: #006633 2px;
	border-top: #006633 2px;
	font-weight: bold;
	font-size: 100%;
	border-left: #006633 2px;
	color: #ffffff;
	border-bottom: #006633 2px;
	background-color: #6699cc;
	text-align: center;
}

.clsDataGridHeaderElement
{
	border-right: #006633 2px;
	border-top: #006633 2px;
	font-size: small;
	font-weight: bold;
	border-left: #006633 2px;
	color: #ffffff;
	border-bottom: #006633 2px;
	background-color: #6699cc;
	text-align: center;
}

.clsDataGridHeader A
{
	padding-right: 2;
	padding-left: 2;
	color: #ffffff;
	text-decoration: underline;
}

.clsDataRow
{
	color: black;
	background-color: #DDE7F2;
}

.clsAltDataRow
{
	color: black;
	background-color: #acb4b8;
}

Table.clsDataGridContainer
{
	border-right: #006633 1px;
	padding-right: 0px;
	border-top: #006633 1px;
	padding-left: 0px;
	font-weight: normal;
	font-size: x-small;
	padding-bottom: 0px;
	border-left: #006633 1px;
	width: 100%;
	color: black;
	padding-top: 0px;
	border-bottom: #006633 1px;
	font-family: Verdana, Arial;
	background-color: #acb4b8;
}

Table.clsDataGridContainer TD
{
	margin: 0;
	padding: 1;
}
Table.clsDataGridContainer TR
{
	margin: 0;
	padding: 0;
}
Table.clsDataGrid
{
	border-right: #ffffff thin solid;
	border-top: #ffffff thin solid;
	font-weight: normal;
	font-size: small;
	border-left: #ffffff thin solid;
	width: 100%;
	border-bottom: #ffffff thin solid;
	font-family: Verdana, Arial;
}
Table.clsDataGrid td
{
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin: 0;
	border-right: #ffffff thin solid;
	border-left: #ffffff thin solid;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.clsNavigableTable
{
	behavior: url(scripts/NavigableTable.htc);
}

.clsTableHeadingSortActive
{
	font-family: Verdana, Arial;
	font-size: small;
	font-weight: bold;
	text-indent: 1;
}

.clsTableHeading
{
	font-family: Verdana, Arial;
	font-size: small;
	font-weight: bold;
	text-indent: 1;
}

IMG.clsSortOrder
{
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: 4;
}

.clsFrame
{
	border-right: #333399 1px solid;
	border-left: #333399 1px solid;
	border-top: #333399 1px solid;
	border-bottom: #333399 1px solid;
	margin: 2px;
	width: 100%;
}

.clsWaitText
{
	font-family: Verdana, Arial;
	font-weight: bold;
}

.clsOrderCloseButton {
	behavior: url(Scripts/OrderCloseButtonClickEvent.htc);
}


.clsWeightTextBox
{
	behavior: url(Scripts/BOL.htc);
}

.clsBOLSelectDropdown
{
	behavior: url(Scripts/BOL_DropdownClickEvent.htc);
}

.DisabledCustom { COLOR: #ffffff; BACKGROUND-COLOR: #ff0000! important; TEXT-DECORATION: line-through }