﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="IntraXAdmin7.Shipper.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
    <br />
    <br />
            <div id="AdminMenu" style="text-align: center">       
                <ItemTemplate>
                    <b style="font-size: large; font-style: normal">
                    <a href="EditShipper.aspx">
                        Update Shipper
                    </a>
                    </b>
                </ItemTemplate>
                <ItemSeparatorTemplate>  |  </ItemSeparatorTemplate>
                <ItemTemplate>
                    <b style="font-size: large; font-style: normal">
                    <a href="AddShipper.aspx">
                        Add Shipper
                    </a>
                    </b>
                </ItemTemplate>
        </div>

</asp:Content>
