﻿@model IntraX2.Models.shipmentModel
@{
    ViewBag.Title = "CreateBooking";
}

<style>
    .ui-widget {
        font-family: Verdana,Arial,sans-serif;
        font-size: .8em;
    }

    .ui-widget-content {
        background: #F9F9F9;
        border: 1px solid #90d93f;
        color: #222222;
    }

    .ui-dialog {
        left: 0;
        outline: 0 none;
        padding: 0 !important;
        position: absolute;
        top: 0;
    }

    #success {
        padding: 0;
        margin: 0;
    }

    .ui-dialog .ui-dialog-content {
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
        overflow: auto;
        position: relative;
        padding: 0 !important;
    }

    .ui-widget-header {
        background: #b0de78;
        border: 0;
        color: #fff;
        font-weight: normal;
    }

    .ui-dialog .ui-dialog-titlebar {
        padding: 0.1em .5em;
        position: relative;
        font-size: 1em;
    }
</style>

<script type="text/javascript">
    function deleteCommodityRow(row) {
        var i = row.parentNode.parentNode.rowIndex;
        if (i > 1) {
            document.getElementById('tblCommodity').deleteRow(i);
            //update the row index value
            document.getElementById('commodityRowIndex').value = i - 1;
        }
        else {
            //reset commodity dropdown
            $('#item_value').prop('selectedIndex', 0);
            //empty input fields
            document.getElementById("m_shipment_item_pieces").value = '';
            document.getElementById("m_shipment_item_weight").value = '';
            $('#package_id').prop('selectedIndex', 0);
            $('#m_shipment_item_hazmat').prop('selectedIndex', 0);
            document.getElementById("m_shipment_item_length").value = '';
            document.getElementById("m_shipment_item_width").value = '';
            document.getElementById("m_shipment_item_height").value = '';
        }
    };

    function insertCommodityRow() {
        var x = document.getElementById('tblCommodity');
        var new_row = x.rows[1].cloneNode(true);
        var len = x.rows.length;

        //dynamically assigns the id to the commodity cell
        var inp0 = new_row.cells[0].getElementsByTagName('select')[0];
        inp0.id += len;

        //dynamically assigns the id to the pieces cell
        //set pieces value to blank
        var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
        inp1.id += len;
        inp1.value = '';

        //dynamically assigns the id to the weight cell
        //set weight value to blank
        var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
        inp2.id += len;
        inp2.value = '';

        //dynamically assigns the id to the package cell
        var inp3 = new_row.cells[3].getElementsByTagName('select')[0];
        inp3.id += len;

        //dynamically assigns the id to the hazmat cell
        var inp4 = new_row.cells[4].getElementsByTagName('select')[0];
        inp4.id += len;

        //dynamically assigns the id to the length cell
        //set value to blank
        var inp5 = new_row.cells[5].getElementsByTagName('input')[0];
        inp5.id += len;
        inp5.value = '';

        //dynamically assigns the id to the width cell
        //set value to blank
        var inp6 = new_row.cells[6].getElementsByTagName('input')[0];
        inp6.id += len;
        inp6.value = '';

        //dynamically assigns the id to the height cell
        //set value to blank
        var inp7 = new_row.cells[7].getElementsByTagName('input')[0];
        inp7.id += len;
        inp7.value = '';

        //dynamically assigns the id to the class cell
        //set value to blank
        var inp9 = new_row.cells[9].getElementsByTagName('input')[0];
        inp9.id += len;
        inp9.value = '';

        //append a new row
        x.appendChild(new_row);

        //update the row index value
        document.getElementById('commodityRowIndex').value = len;
    };

    function getCommodityClass(commodityId) {
        var row = document.getElementById("commodityRowIndex").value;
        var commodity_class = commodityId.split('-');

        if (row == 1) {
            document.getElementById("commodity_class").value = commodity_class[1];  //use the value after the '-' sign
        }
        else {
            document.getElementById("commodity_class" + row).value = commodity_class[1];  //use the value after the '-' sign
        }
    };
</script>

<h2>CreateBooking</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create-booking-2", name = "frmCreateBooking2" }))
{ 
    <h3 class="fieldset-header"><span>5.</span> COMMODITY</h3>
    <fieldset class="width100">
        <table id="tblCommodity" style="margin:0;">
            <tr>
                <td>
                    Descripition
                </td>
                <td>
                    Pieces
                </td>
                <td>
                    Weight
                </td>
                <td>
                    Package
                </td>
                <td>
                    HazMat
                </td>
                <td>
                    Length (in.)
                </td>
                <td>
                    Width (in.)
                </td>
                <td>
                    Height (in.)
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(model => model.m_shipment_item.item_value, (IEnumerable<SelectListItem>)ViewBag.CommodityList, "--Select--", new { @id = "item_value", style = "width:300px; font-size:12px;", onchange = "getCommodityClass($(this).val())" })</td>
                <td>@Html.TextBoxFor(model => model.m_shipment_item.pieces, new { style = "width:50px;" })</td>
                <td class="weightCell">@Html.TextBoxFor(model => model.m_shipment_item.weight, new { @class="weight", style = "width:50px;" })</td>
                <td>@Html.DropDownListFor(model => model.m_shipment_item.packaging, (IEnumerable<SelectListItem>)ViewBag.PackageList, "--Select--", new { @id = "package_id", style = "width:90px; font-size:12px;" })</td>
                <td>@Html.DropDownListFor(model => model.m_shipment_item.hazmat, new List<SelectListItem> {
                    new SelectListItem { Text = "No", Value = "No"},
                    new SelectListItem { Text = "Yes", Value = "Yes"}}, new { style = "width:50px; font-size:12px;" })</td>
                <td class="lengthCell">@Html.TextBoxFor(model => model.m_shipment_item.length, new { @class = "length", style = "width:60px;" })</td>
                <td class="widthCell">@Html.TextBoxFor(model => model.m_shipment_item.width, new { @class = "width", style = "width:60px;" })</td>
                <td class="heightCell">@Html.TextBoxFor(model => model.m_shipment_item.height, new { @class = "height", style = "width:60px;" })</td>
                <td><a id="delCommodity" href="#" onclick="deleteCommodityRow(this)">- Delete</a></td>
                <td class="classCell"><input type="text" id="commodity_class" style="width:15px;" class="commodity_class" readonly hidden /></td>
            </tr>
        </table>
        <a id="addCommodity" href="#" onclick="insertCommodityRow()">+ Add</a>
        <input type="text" id="commodityRowIndex" value="1" />        
    </fieldset><br />
    <input class="form_button" type="submit" id="btnSubmit" value="save booking" />
}
