﻿@model IntraX2.Models.shipment

@{
    ViewBag.Title = "Create a Shipment Booking";
}

<!--CSS style specific for this view-->
<style type="text/css">
    html, body {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
    }

    /*modified table styles from Synotac style sheet*/
    /*modified to work with jqgrid*/
    #main table {
        color: #3b393a;
        font-size: 11px;
        text-align: left;
        line-height: 16px;
        margin: 0 0 0px 0px;
        width: 100%;
    }

    /*overwriting Synotac style*/
    /*align jqgrid pager navigation*/
    #main tr td {
        padding: 0px 0px 0px 0px;
        text-align: left;
    }

    /*overwriting Synotac style*/
    /*not to display the bar below the jqgrid pager navigation*/
    #main tr {
        background: inherit;
    }

    /*overwriting Synotac style*/
    /*to display the down arrow in the dropdownlist cell in the jqgrid*/
    #main select {
        background: #f6f6f6;
        border: 1px solid #CDC293;
        color: #828282;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 11px;
        padding: 2px;
        width: 187px; /*this width value needs to be the same as defined in the jqgrid select cell*/
    }

    #main div.customer-charges {
        width: 350px;
    }
</style>

<script type="text/javascript">
    //initialize variables
    var custID = '';
    var custIntraDiscount;
    var custIntraMinCharge;
    var custInterDiscount;
    var custInterMinCharge;
    var custTariff;
    var custTariffEffDate;

    /*This function formats the JSON date string to the normal date format*/
    function formatJSONDate(value) {
        if (value == '') {
            return '';
        }
        else {
            var d = new Date(parseInt(value.substr(6)));
            return (d.toString("MM/dd/yyyy"));  //toString() method is from the Datejs library.
        };
    };
    
    //displays dialog based on code and text parameters
    function showDialog(strCode, strText) {
        switch (strCode) {
            case 'error':
                $.Zebra_Dialog(strText, {
                    'type': 'error',
                    'title': 'Error'
                });
                break;
        } //eo switch
    };

    function calculateRate() {
        //get the number of rows in the listShippers grid
        //var allRowsInGrid = $('#listShippers').jqGrid('getRowData');
        //alert(allRowsInGrid.length);
      
        //iterate through listShippers grid and get specified cell data
        var listShippers = jQuery('#listShippers').getDataIDs();
        var fromZipAry = new Array(listShippers.length);
        for(i=0;i<listShippers.length;i++){
            rowData = jQuery('#listShippers').getRowData(listShippers[i]);
            fromZipAry[i] = rowData.shipperLocationZip;
        }

        //iterate through listConsignees grid and get specified cell data
        var listConsignees = jQuery('#listConsignees').getDataIDs();
        var toZipAry = new Array(listConsignees.length);
        for (i = 0; i < listConsignees.length; i++) {
            rowData = jQuery('#listConsignees').getRowData(listConsignees[i]);
            toZipAry[i] = rowData.consigneeLocationZip;
        }

        //iterate through listCommodity grid and get specified cell data
        var listCommodity = jQuery('#listCommodity').getDataIDs();
        var commodityClassAry = new Array(listCommodity.length);
        var commodityWgtAry = new Array(listCommodity.length);
        var parsedStr;
        for (i = 0; i < listCommodity.length; i++) {
            rowData = jQuery('#listCommodity').getRowData(listCommodity[i]);
            parsedStr = rowData.nmfcID.split('-');
            commodityClassAry[i] = parsedStr[1];  //get the string after the '-'
            commodityWgtAry[i] = rowData.weight;
        }
        alert(commodityClassAry[0]);
        alert(commodityWgtAry[0]);
       
        /*
        alert(custID);
        alert(custIntraDiscount);
        alert(custIntraMinCharge);
        alert(custInterDiscount);
        alert(custInterMinCharge);
        alert(custTariff);
        alert(custTariffEffDate);
        alert(fromZipAry[0]);
        alert(toZipAry[0]);
        */
    };

    $(function () {
        $("#requested_pu_date").datepicker({ dateFormat: 'mm/dd/yy', showOn: 'button', buttonText: "calendar", buttonImageOnly: true, buttonImage: '@Url.Content("~/Content/styles/img/icon-calendar.png")' });
    });

    $(function () {
        $('#customer_id').change(function (e) {
            custID = $(e.target).val();

            //get customer base exceptions
            $.getJSON("/IntraX2/Shipment/GetCustomerBaseExceptions?customerId=" + custID, null, function (data) {
                if (data.length > 0) {
                    $("#customer_contact").empty();
                    document.getElementById("customerID").value = custID;
                    custIntraDiscount = parseFloat(data[0].IntraStateDiscount, 2);
                    custIntraMinCharge = parseFloat(data[0].IntraStateMinCharge, 2);
                    custInterDiscount = parseFloat(data[0].InterStateDiscount, 2);
                    custInterMinCharge = parseFloat(data[0].InterStateMinCharge, 2);
                    custTariff = data[0].ModuleName;
                    custTariffEffDate = formatJSONDate(data[0].PLIRateEffDate);
                    /*
                    document.getElementById("customer_discount").value = parseFloat(data[0].base_discount, 2);
                    document.getElementById("customer_amc").value = parseFloat(data[0].base_amc, 2);
                    document.getElementById("customer_tariff").value = data[0].module_name;
                    document.getElementById("customer_tariffEffective").value = formatJSONDate(data[0].pli_rate_effective);
                    */
                };
            });  //eo .getJSON

            //get customer internal notes
            /*
            $.getJSON("/IntraX2/Shipment/GetCustomerNotes?customerId=" + $(e.target).val(), null, function (data) {
                if (data[0] != null) {
                    document.getElementById("customer_notes").innerHTML = data[0];
                };
            });  //eo .getJSON
            */
       
            //get customer contacts
            $("#customer_contact").html("");  //clear the dropdownlist    
            $.getJSON("/IntraX2/Shipment/GetCustomerContacts?customerId=" + $("#customer_id").val(), null, function (data) {
                $("#customer_contact").empty();
                $("#customer_contact").addItems1(data);
                $('#customer_contact option').eq(0).attr('selected', 'selected'); //default select to blank
            });

            $.fn.addItems1 = function (data) {
                return this.each(function () {
                    var list = this;

                    //add a blank option item
                    var option = new Option('--Select--', '');
                    list.add(option);

                    /*
                    //assign the session variable with the default blank option id 
                    sessionShipperID = $(this).val();
                    //assign the id to a hidden field
                    $('#shipper_id').val(sessionShipperID);
                    $('#shipper_terminal_id').val(0);
                    $('#shipper_contact_id').val(0);
                    */

                    $.each(data, function (index, itemData) {
                        var option = new Option(itemData.Name + ' (' + itemData.JobTitle + ')', itemData.CustomerContactId);
                        list.add(option);
                    });
                });
            };
        });
    });
</script>

<h1>Create a Shipment Booking</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "pickup-request", @class = "full" })) 
{
    @Html.AntiForgeryToken()
       
    <h2><span class="indent">1.</span> Pickup Schedule</h2>
    <fieldset class="pickup-schedule">
        <div class="booking-date cal">
            <label class="inline wide60" for="shipment-mode">Mode</label>
            @Html.DropDownListFor(model => model.shipment_mode, (IEnumerable<SelectListItem>)ViewBag.ModeList, "--Select--", new { style = "width:115px" })
        </div>
        <div class="booking-date cal">
            <label class="inline wide60" for="booking-number">Booking #</label>
            <span class="cal">@Html.TextBoxFor(model => model.pli_book_number, new { @readonly = "readonly", style = "width:120px" })</span>
        </div>
        <div class="booking-date cal">
            <label class="inline wide80" for="booking-date">Booking Date</label>
            <span class="cal">@Html.TextBoxFor(model => model.book_date, new { @readonly = "readonly", style = "width:120px" })</span>
        </div>

        <div class="booking-date cal">
            <label class="inline wide80" for="booking-date">Booked By</label>
            <span class="cal">@Html.TextBoxFor(model => model.booked_by, new { @readonly = "readonly", style = "width:120px" })</span>
        </div>
        
        <div class="booking-date cal">
            <label class="inline wide110" for="requested-pu-date">Requested P/U Date</label>
            <span class="cal">@Html.TextBoxFor(model => model.requested_pickup, new { id = "requested_pu_date" })</span>
        </div>


        <div class="booking-date cal">
            <label class="inline wide120" for="requested-pu-time">Requested P/U Time</label>
            @Html.TextBoxFor(model => model.pickup_before, new { style = "width:200px" })
        </div>
    </fieldset>

    <h2><span class="indent">2.</span> Customer</h2>
    <fieldset class="full">  
        <div class="booking-date cal">
            <label class="inline wide30" for="customer-name">Name</label>
            @Html.DropDownListFor(model => model.customer_id, (IEnumerable<SelectListItem>)ViewBag.CustomerList, "--Select--", new { style = "width:250px" })
        </div>
        <div class="booking-date cal">
            <label class="inline wide50" for="customer-contact">Contact</label>
            <select class="wide200" id="customer_contact" name="customer_contact">
                <option></option>
            </select>
        </div>
        <div class="booking-date cal">
            <label class="inline wide80" for="customer-reference">Reference #</label>
            <span class="wide60">@Html.TextBoxFor(model => model.client_ref_number, new { style = "width:150px" })</span>
        </div> 
    </fieldset>
    <h2><span class="indent">3.</span> Shipper</h2>    
    <table id="listShippers"></table>
    <div id="pagerShippers"></div>
    <br /><br />
    <h2><span class="indent">4.</span> Consignee</h2>
    <table id="listConsignees"></table>
    <div id="pagerConsignees"></div>
    <br /><br />
    <h2><span class="indent">5.</span> Commodity</h2>
    <table id="listCommodity"></table>
    <div id="pagerCommodity"></div>
        
    <label class="inline wide200" id="total_pallets" style="font-weight:bold">Pallet Count:</label><br />
    <label class="inline wide200" id="total_pieces" style="font-weight:bold">Total Pieces:</label><br />
    <label class="inline wide200" id="total_weight" style="font-weight:bold">Total Weight:</label><br />
    <label class="inline wide300" id="total_volume" style="font-weight:bold">Volume (cubic inches):</label>
    <br /><br />
    
    <h2><span class="indent">6.</span> Equipment</h2>
    <fieldset class="full">  
        <div class="booking-date cal">
            <label class="inline wide80" for="equipment-type">Type of Equipment</label>
            @Html.DropDownListFor(model => model.equipment, (IEnumerable<SelectListItem>)ViewBag.EquipmentList, "--Select--")
        </div>
    </fieldset>
    <h2><span class="indent">7.</span> Special Instructions & Notes</h2>
    <fieldset class="one">
        <div class="handling">
            <label for="handling">Print on BOL</label>
            @Html.TextAreaFor(model => model.shipment_notes, new { cols = "10", rows = "10", wrap = "virtual" })
        </div>
    </fieldset>
    <fieldset class="two">
        <div class="handling">
            <label for="handling">Customer Notes</label>
            @Html.TextAreaFor(model => model.comments, new { cols = "10", rows = "10", wrap = "virtual" })
        </div>
    </fieldset>
    
    <!--
    <fieldset class="two">
        <div class="handling">
            <label for="handling">Shipper Notes</label>
            @Html.TextArea("shipper_notes", null, new { cols = "8", rows = "8", wrap = "virtual", @readonly = "readonly" })
        </div>
    </fieldset>
    
    <fieldset class="two">
        <div class="handling">
            <label for="handling">Consignee Notes</label>
            @Html.TextArea("consignee_notes", null, new { cols = "8", rows = "8", wrap = "virtual", @readonly = "readonly" })
        </div>
    </fieldset>
    -->
    
    <h2><span class="indent">8.</span> Special Services</h2>
    <fieldset class="full"> 
        <div class="booking-date cal">
            <label>Accessorial 1</label>
            @Html.DropDownList("accessorial1", (IEnumerable<SelectListItem>)ViewBag.AccessorialList, "--Select--", new { style = "width:150px" })
        </div>
        <div class="booking-date cal">
            <label>Accessorial 2</label>
            @Html.DropDownList("accessorial2", (IEnumerable<SelectListItem>)ViewBag.AccessorialList, "--Select--", new { style = "width:150px" })
        </div>
        <div class="booking-date cal">
            <label>Accessorial 3</label>
            @Html.DropDownList("accessorial3", (IEnumerable<SelectListItem>)ViewBag.AccessorialList, "--Select--", new { style = "width:150px" })
        </div>
        <div class="booking-date cal">
            <label>Accessorial 4</label>
            @Html.DropDownList("accessorial4", (IEnumerable<SelectListItem>)ViewBag.AccessorialList, "--Select--", new { style = "width:150px" })
        </div>
    </fieldset>
    <!--
    <table id="listServices"></table>
    <div id="pagerServices"></div>
    -->
    
    <h2><span class="indent">9.</span> Pickup to be Scheduled By</h2>
    <fieldset class="full">
        <div class="pickup-schedule">      
            @Html.RadioButtonFor(model => model.pu_information, "1", new { Checked = "checked" }) Pathfinder Logistics
            @Html.RadioButtonFor(model => model.pu_information, "0") Shipper         
        </div>
    </fieldset>
    
    <h2><span class="indent">10.</span> Carrier Assignment</h2>
    <table id="listCarriers"></table>
    <div id="pagerCarriers"></div>
    <br /><br />   
    
    <h2><span class="indent">11.</span> Customer Charges</h2>
    <fieldset>
        <div class="customer-charges">
            <label class="inline wide90" for="customer-rate">Rate</label>
            @Html.TextBox("customer_rate", "", new { style = "width:80px" })
            <input type="button" name="btnRate" value="Rate" onclick="calculateRate()" />
            @Html.CheckBox("quoted_checkbox", false, new { style = "width:20px" })Quoted
        </div>
        <div class="customer-charges">
            <label class="inline wide90" for="customer-fsc">FSC</label>
            @Html.TextBox("customer_fsc", "", new { style = "width:80px" })
            @Html.CheckBox("fsc_checkbox", false, new { style = "width:20px" })
        </div>
        <div class="customer-charges">
            <label class="inline wide90" for="customer-fsc">Insurance</label>
            @Html.TextBox("customer_ins", "", new { style = "width:80px" })
            @Html.CheckBox("ins_checkbox", false, new { style = "width:20px" })
        </div>
        <div class="customer-charges">
            <label class="inline wide90" for="shipment-value">Shipment Value</label>
            @Html.TextBox("shipment_value", "", new { style = "width:80px" })
        </div>
        <div class="customer-charges">
            <label class="inline wide90" for="customer-accessorials">Accessorials</label>
            @Html.TextBox("customer_accessorials", "", new { style = "width:80px" })
            @Html.CheckBox("accessorials_checkbox", false, new { style = "width:20px" })
        </div>
        <div class="customer-charges">
            <label class="inline wide90" for="total-charges">TOTAL</label>
            @Html.TextBox("total_charges", "", new { style = "width:80px", @readonly = "readonly" })
        </div>  
    </fieldset>
    <br /><br />
    
    <!--
        <div class="booking-date cal">
            <label class="inline wide70" for="booking-date">Booking #</label>
            <span class="cal"><input class="inline" id="booking-number" type="text" value="1208016"/></span>
        </div>

        <div class="booking-date cal">
            <label class="inline wide70" for="booking-date">Booking Date</label>
            <span class="cal"><input class="inline" id="booking-date" type="text" /> <a href="#"><img src="img/icon-calendar.png" alt="Calendar" width="16" height="16" /></a></span>
        </div>
        <div class="booking-date cal">
            <label class="inline wide70" for="booking-date">Booked By</label>
            <span class="cal"><input class="inline" id="booked-by" type="text" value="castroa"/></span>
        </div>
        <div class="booking-date cal">
            <label class="inline wide70" for="pickup-date">Requested P/U Date</label>
            <span class="cal"><input id="pickup-date" type="text" /> <a href="#"><img src="img/icon-calendar.png" alt="Calendar" width="16" height="16" /></a></span>
        </div>
        <div class="booking-date cal">
            <label class="inline wide130" for="booking-date">Requested P/U Time</label>
            <span class="wide200"><input class="inline" id="pickup-time" type="text" value=""/></span>
        </div>
        -->

    
    /*
    <div class="form-horizontal">
        <h4>shipment</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.booking_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.booking_number)
                @Html.ValidationMessageFor(model => model.booking_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.booking_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.booking_date)
                @Html.ValidationMessageFor(model => model.booking_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.booking_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.booking_by)
                @Html.ValidationMessageFor(model => model.booking_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requested_pu_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.requested_pu_date)
                @Html.ValidationMessageFor(model => model.requested_pu_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requested_pu_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.requested_pu_time)
                @Html.ValidationMessageFor(model => model.requested_pu_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_reference_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_reference_number)
                @Html.ValidationMessageFor(model => model.customer_reference_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sales_representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sales_representative)
                @Html.ValidationMessageFor(model => model.sales_representative)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pallet_count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pallet_count)
                @Html.ValidationMessageFor(model => model.pallet_count)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total_pieces, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_pieces)
                @Html.ValidationMessageFor(model => model.total_pieces)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total_weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_weight)
                @Html.ValidationMessageFor(model => model.total_weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volume, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volume)
                @Html.ValidationMessageFor(model => model.volume)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.equipment_length, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.equipment_length)
                @Html.ValidationMessageFor(model => model.equipment_length)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qb_imported, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qb_imported)
                @Html.ValidationMessageFor(model => model.qb_imported)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.special_instructions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.special_instructions)
                @Html.ValidationMessageFor(model => model.special_instructions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.important_flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.important_flag)
                @Html.ValidationMessageFor(model => model.important_flag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scheduled_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scheduled_by)
                @Html.ValidationMessageFor(model => model.scheduled_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_linehaul_charges, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_linehaul_charges)
                @Html.ValidationMessageFor(model => model.customer_linehaul_charges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qouted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qouted)
                @Html.ValidationMessageFor(model => model.qouted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.charges_unconfirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.charges_unconfirmed)
                @Html.ValidationMessageFor(model => model.charges_unconfirmed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_fsc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_fsc)
                @Html.ValidationMessageFor(model => model.customer_fsc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.include_fsc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.include_fsc)
                @Html.ValidationMessageFor(model => model.include_fsc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_insurance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_insurance)
                @Html.ValidationMessageFor(model => model.customer_insurance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.include_insurance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.include_insurance)
                @Html.ValidationMessageFor(model => model.include_insurance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shipment_value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.shipment_value)
                @Html.ValidationMessageFor(model => model.shipment_value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_total_charges, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_total_charges)
                @Html.ValidationMessageFor(model => model.customer_total_charges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_accessorials, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_accessorials)
                @Html.ValidationMessageFor(model => model.customer_accessorials)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_id, "customer_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("customer_id", String.Empty)
                @Html.ValidationMessageFor(model => model.customer_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mode_id, "mode_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mode_id", String.Empty)
                @Html.ValidationMessageFor(model => model.mode_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.equipment_id, "equipment_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("equipment_id", String.Empty)
                @Html.ValidationMessageFor(model => model.equipment_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    */
    <div class="submit customer-estimate"><input type="submit" name="submit" class="button" id="submit_btn" value="Submit" /></div>
    @Html.TextBox("commodity_count", null, new { type = "hidden" })
    @Html.TextBox("customerID", null)
    @Html.TextBox("customer_discount", null)
    @Html.TextBox("customer_amc", null)
    @Html.TextBox("customer_tariff", null)
    @Html.TextBox("customer_tariffEffective", null)
} <!--eo form-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
