﻿@model IntraX2.Models.shipment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>shipment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pli_book_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pli_book_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.master_book_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.master_book_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sub_sequence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sub_sequence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.book_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.book_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.client_ref_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.client_ref_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_contact_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_contact_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.booked_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.booked_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sales_rep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sales_rep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipper_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipper_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipper_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipper_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipper_contact_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipper_contact_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipper_pli)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipper_pli)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.requested_pickup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.requested_pickup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pickup_before)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pickup_before)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_eta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_eta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipper_reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipper_reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consignee_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consignee_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consignee_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consignee_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consignee_contact_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consignee_contact_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consignee_pli)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consignee_pli)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.requested_delivery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.requested_delivery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_appointment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_appointment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consignee_reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consignee_reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.scheduled_pu_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.scheduled_pu_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actual_pu_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actual_pu_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actual_cons_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actual_cons_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actual_delivery_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actual_delivery_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.canceled_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.canceled_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pieces)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pieces)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cube)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cube)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.number_pallets)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number_pallets)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pallet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pallet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linear_feet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linear_feet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.length_size)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.length_size)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ship_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ship_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_pro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_pro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_contact_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_contact_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.practical_miles)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.practical_miles)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shortest_miles)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shortest_miles)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.funds_collected)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.funds_collected)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_fee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_fee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.remit_to)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remit_to)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.remit_address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remit_address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.remit_address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remit_address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fuel_surcharge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fuel_surcharge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fuel_surcharge_percent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fuel_surcharge_percent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.include_fsc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.include_fsc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial_charges1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial_charges1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial_charges2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial_charges2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial_charges3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial_charges3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial_charges4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial_charges4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessorial_charges5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessorial_charges5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tariff)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tariff)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amc_interstate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amc_interstate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amc_intrastate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amc_intrastate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.discount_amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.discount_amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.confirmation_comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.confirmation_comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carrier_reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carrier_reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_pro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_pro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.advanced_carrier_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.advanced_carrier_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.destination_eta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.destination_eta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consolidation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consolidation_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consolidation_eta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consolidation_eta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consolidation_actual)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consolidation_actual)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.deconsolidation_eta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deconsolidation_eta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consolidation_addr1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consolidation_addr1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consolidation_addr2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consolidation_addr2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_carrier_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_carrier_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_container)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_container)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.container_closed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.container_closed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_prefix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_prefix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_booking_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_booking_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_tag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_tag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beyond_carrier_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beyond_carrier_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beyond_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beyond_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beyond_carrier_pro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beyond_carrier_pro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beyond_carrier_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beyond_carrier_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beyond_carrier_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beyond_carrier_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_fee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_fee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_mode2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_mode2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_pro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_pro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_pro2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_pro2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_charges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_charges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_charges2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_charges2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_vendor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_vendor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_carrier_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_carrier_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_carrier_id2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_carrier_id2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_terminal_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_terminal_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_terminal_id2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_terminal_id2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cross_dock_applicable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cross_dock_applicable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arrived)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arrived)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loaded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loaded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linehaul_schedule_depart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linehaul_schedule_depart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status_exception)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status_exception)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status_location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status_location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.print_flag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.print_flag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_invoiced)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_invoiced)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_invoiced_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_invoiced_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_invoiced)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_invoiced)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_invoiced_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_invoiced_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd_invoiced)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd_invoiced)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd_invoiced2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd_invoiced2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd_invoiced_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd_invoiced_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd_invoiced_date2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd_invoiced_date2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_invoiced)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_invoiced)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_invoiced_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_invoiced_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pli_rated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pli_rated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guaranteed_pu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guaranteed_pu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lift_gate_pu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lift_gate_pu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inside_delivery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inside_delivery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lift_gate_delivery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lift_gate_delivery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.residential_delivery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.residential_delivery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.handling_instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.handling_instructions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pu_instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pu_instructions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_instructions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bill_to)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bill_to)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loose_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loose_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loose_description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loose_description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pu_information)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pu_information)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.time_zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time_zone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.notification_method)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notification_method)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pu_time_window)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pu_time_window)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bol_print_flag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bol_print_flag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipment_notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipment_notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dc_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dc_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ac_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ac_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd1_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd1_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd1_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd1_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd1_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd1_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd1_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd1_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lh_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lh_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lh_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lh_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lh_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lh_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lh_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lh_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd2_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd2_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd2_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd2_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd2_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd2_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cd2_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cd2_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_contact_phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_contact_phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_dispatched_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_dispatched_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bc_dispatched_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bc_dispatched_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipment_mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipment_mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.service)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.service)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.drop_carrier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.drop_carrier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.drop_customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.drop_customer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.canceled_reason)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.canceled_reason)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_fsc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_fsc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_fsc_include)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_fsc_include)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_accessorials)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_accessorials)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_charge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_charge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.additional_ins)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additional_ins)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.additional_ins_amt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additional_ins_amt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entry_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entry_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.density)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.density)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipment_value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipment_value)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
