﻿@model IntraX2.Models.shipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>shipment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pli_book_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pli_book_number)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.book_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.book_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.client_ref_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.client_ref_number)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_id)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer_name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.shipment_items)
    </div>
    <div class="display-field">
        <table>
            <tr>
                <th>Item Description</th>
            </tr>
            @foreach (var item in Model.shipment_items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.height)
                    </td>
                </tr>
            }
        </table>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pli_book_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
