﻿@model IEnumerable<IntraX2.Models.shipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pli_book_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_book_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client_ref_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_contact_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.booked_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sales_rep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipper_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipper_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipper_contact_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipper_pli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requested_pickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickup_before)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_eta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipper_reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignee_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignee_contact_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignee_pli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requested_delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_appointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignee_reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scheduled_pu_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actual_pu_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actual_cons_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actual_delivery_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canceled_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pieces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_pallets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pallet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linear_feet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length_size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_contact_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.practical_miles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortest_miles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.funds_collected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remit_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remit_address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remit_address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fuel_surcharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fuel_surcharge_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.include_fsc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial_charges1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial_charges2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial_charges3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial_charges4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessorial_charges5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tariff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amc_interstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amc_intrastate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confirmation_comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrier_reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced_carrier_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination_eta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consolidation_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consolidation_eta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consolidation_actual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deconsolidation_eta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consolidation_addr1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consolidation_addr2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_carrier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_container)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.container_closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_booking_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beyond_carrier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beyond_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beyond_carrier_pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beyond_carrier_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beyond_carrier_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_mode2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_pro2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_charges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_charges2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_carrier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_carrier_id2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_terminal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_terminal_id2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cross_dock_applicable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linehaul_schedule_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_exception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.print_flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_invoiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_invoiced_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_invoiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_invoiced_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_invoiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_invoiced2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_invoiced_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_invoiced_date2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_invoiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_invoiced_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pli_rated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guaranteed_pu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lift_gate_pu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inside_delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lift_gate_delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.residential_delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.handling_instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pu_instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loose_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loose_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pu_information)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notification_method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pu_time_window)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bol_print_flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dc_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd1_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd1_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd1_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd1_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lh_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lh_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lh_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lh_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd2_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd2_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd2_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd2_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_dispatched_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bc_dispatched_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drop_carrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drop_customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canceled_reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_fsc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_fsc_include)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_accessorials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_charge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additional_ins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additional_ins_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.density)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pli_book_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.master_book_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_sequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client_ref_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_contact_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.booked_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_rep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipper_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipper_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipper_contact_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipper_pli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requested_pickup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pickup_before)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_eta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipper_reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignee_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignee_contact_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignee_pli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requested_delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_appointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignee_reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scheduled_pu_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actual_pu_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actual_cons_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actual_delivery_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canceled_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pieces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_pallets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pallet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linear_feet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.length_size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_contact_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practical_miles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shortest_miles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.funds_collected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remit_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remit_address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remit_address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fuel_surcharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fuel_surcharge_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.include_fsc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial_charges1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial_charges2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial_charges3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial_charges4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessorial_charges5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tariff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amc_interstate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amc_intrastate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confirmation_comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrier_reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced_carrier_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination_eta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consolidation_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consolidation_eta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consolidation_actual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deconsolidation_eta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consolidation_addr1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consolidation_addr2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_carrier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_container)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.container_closed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_booking_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beyond_carrier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beyond_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beyond_carrier_pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beyond_carrier_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beyond_carrier_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_mode2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_pro2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_charges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_charges2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_carrier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_carrier_id2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_terminal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_terminal_id2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cross_dock_applicable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linehaul_schedule_depart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_exception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.print_flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_invoiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_invoiced_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_invoiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_invoiced_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_invoiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_invoiced2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_invoiced_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_invoiced_date2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_invoiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_invoiced_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pli_rated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guaranteed_pu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lift_gate_pu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inside_delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lift_gate_delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.residential_delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.handling_instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pu_instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loose_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loose_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pu_information)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_zone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notification_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pu_time_window)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bol_print_flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dc_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ac_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd1_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd1_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd1_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd1_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lh_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lh_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lh_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lh_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd2_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd2_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd2_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd2_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_contact_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_dispatched_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bc_dispatched_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drop_carrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drop_customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canceled_reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_fsc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_fsc_include)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_accessorials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additional_ins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additional_ins_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entry_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.density)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
