﻿@model IEnumerable<IntraX2.Models.shipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pli_book_number)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.book_date)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.client_ref_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pli_book_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client_ref_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pli_book_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.pli_book_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pli_book_number })
        </td>
    </tr>
}
</table>
