﻿@{
    ViewBag.Title = "Invoice";
}

<h2>Shipments To Invoice</h2>
<style type="text/css">
    .myAltRowClass {
        background-color: #F0F8FF;
        background-image: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        //executes actions to save grids data to the database upon form submit event
        $('#invoiceList-form').submit(function (event) {
            postShipmentInvoiceData();
            event.preventDefault();
            return false;

            /*
            if ((document.getElementById("shipment_mode").value != '') && (document.getElementById("customer_id").value != '') && (document.getElementById("customer_charge").value != '')) {
                $('#loading3').show();
                postEditCommodityGridData();  //need to post commodity before shipper because commodity needs to access the shipper ids before they are posted
                postEditShipperGridData();
                postEditConsigneeGridData();
                postEditAccessorialGridData();
                postEditCarrierGridData();
                $('#loading3').hide();
                return true;
            }
            else {
                event.preventDefault();
                return false;
            }
            */
        });

    });

    //post shipments invoice list to controller
    function postShipmentInvoiceData() {
        //declare arrays and vars
        var netDays = 15;  //default net 15
        var aryBookings = [];
        var aryInvoiceDate = [];
        var aryDueDate = [];

        //save all rows to local array
        var listShp = jQuery("#shipmentsList").getDataIDs();
        for (i = 1; i <= listShp.length; i++) {
            jQuery("#shipmentsList").saveRow(i, true, 'clientArray');
        }

        //once the rows are saved you can access the row data
        for (i = 0; i < listShp.length; i++) {
            rowData = jQuery("#shipmentsList").getRowData(listShp[i]);
            aryBookings[i] = rowData["pli_book_number"];
            aryInvoiceDate[i] = document.getElementById("invoice_date").value;

            if (rowData["customer_terms"].value != null)
            {
                netDays = rowData["customer_terms"].split(' ', 2)[1];  //get the days part of the terms string
            }

            aryDueDate[i] = Date.parse(document.getElementById("invoice_date").value).add(netDays).days().toString('MM/dd/yyyy');
        }

        //post the grid data, as arrays, to controller action
        $.ajax({
            type: "POST",
            url: "/IntraX2/Shipment/UpdateShipmentInvoice",
            data: { Bookings: aryBookings, InvoiceDate: aryInvoiceDate, DueDate: aryDueDate },
            traditional: true,
            dataType: 'json',
            async: false,
            success: function (msg) {
                alert(msg);
            }
        });
    }

    function setupShipmentsGrid() {
        var grid = $("#shipmentsList");
        grid.jqGrid({
            url: "/IntraX2/Shipment/GetShipmentsForInvoice", 
            datatype: 'json',
            mtype: 'POST',
            loadonce: true,
            height: 'auto',
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['', 'Select', 'Customer', 'Mode', 'Booking #', 'Ship Date', 'Freight Charge', 'Carrier Charge', 'GPM', 'Comments', 'POD Required', 'Bill Rec\'d',''],
            colModel: [
                { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true },
                {
                    key: false, name: 'select', index: 'select', width: 40, editable: true, align: 'center', resizable: false, edittype: 'checkbox', formatter: 'checkbox', editoptions: {
                        value: "1:0",
                    }
                },
                { name: 'CustomerName', index: 'CustomerName', width: 250, editable: false, resizable: false },
                { name: 'mode_description', index: 'mode_description', width: 50, editable: false, resizable: false },
                { name: 'pli_book_number', index: 'pli_book_number', width: 90, editable: false, resizable: false },
                { name: 'actual_pu_date', index: 'actual_pu_date', width: 100, editable: false, resizable: false, formatter: "date", formatoptions: { newformat: "m/d/Y" } },
                { name: 'customer_charge', index: 'customer_charge', width: 95, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'carrier_charge', index: 'carrier_charge', width: 95, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'GPM', index: 'GPM', width: 90, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'shipment_comments', index: 'shipment_comments', width: 250, editable: false, resizable: false },
                {
                    key: false, name: 'IsPodRequired', index: 'IsPodRequired', width: 85, editable: false, align: 'center', resizable: false, edittype: 'checkbox', formatter: 'checkbox', editoptions: {
                        value: "1:0",
                    }
                },
                {
                    key: false, name: 'invoice_received', index: 'invoice_received', width: 60, editable: false, align: 'center', resizable: false, edittype: 'checkbox', formatter: 'checkbox', editoptions: {
                        value: "1:0",
                    }
                },
                 { name: 'customer_terms', index: 'customer_terms', width: 250, editable: false, resizable: false, hidden: true }
            ],
            /*
            postData: {
                filters: '{"groupOp":"AND","rules":[{"field":"BookedDate","op":"eq","data":""},{"field":"BookingNumber","op":"eq","data":""},{"field":"Customer","op":"eq","data":""}, {"field":"ShipmentStatus","op":"eq","data":""}]}'
            },
            */
            pager: "#shipmentsListPager",
            viewrecords: true,
            sortname: 'BookedDate',
            sortorder: 'asc',
            viewrecords: true,
            altRows: true,
            altclass: 'myAltRowClass',
            /*
            grouping: true,
            groupingView: {
                groupField: ['BookingNumber']
            },*/
            //caption: "Grouping Array Data"
            loadComplete: function () {
                //set the entire grid to edit mode
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], false);
                }
            }
        }); //eo setupPendingShipmentsGrid
        grid.jqGrid('navGrid', '#shipmentsListPager', { edit: false, add: false, del: false, search: true, refresh: false }, {}, {}, {}, { multipleSearch: true });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //events for search function
        jQuery.event.special.click = {
            setup: function () {
                if (jQuery(this).hasClass("ui-search")) {
                    jQuery(this).bind("click", jQuery.event.special.click.handler);
                }
                return false;
            },
            teardown: function () {
                jQuery(this).unbind("click", jQuery.event.special.click.handler);
                return false;
            },
            handler: function (event) {
                jQuery(".ui-searchFilter td.ops select").attr("name", "op");
            }
        };

        //call procedure to create grid
        setupShipmentsGrid();
    });
</script>

<p>@Html.ValidationSummary()</p>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "invoiceList-form", @class = "full" }))
{
    <table id="shipmentsList"><tbody><tr><td /></tr></tbody></table>
    <div id="shipmentsListPager"></div>
    <div>
        <label><b>Set Invoice Date To:</b></label>
        @Html.TextBox("invoice_date", DateTime.Now.ToString("MM/dd/yyyy"), new { type = "date", @class = "datepicker" })<br />
        <input type="submit" value="Save" />       
    </div>
}