﻿@{
    ViewBag.Title = "Shipments";
}

<h2>Tracking Shipments</h2>
<style type="text/css">
    /*set the font size for form elements*/
    select, label, input {
        font-size:11px;
    }
    
    td.search {
        padding-bottom: .25em;
        padding-top: .25em;
        padding-right: 0;
    }

    td.searchPadTop0 {
        padding-bottom: .25em;
        padding-top: 0;
        padding-right: 0;
    }

    td.searchPadAll0 {
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
    }

    /*set the grid caption text to red*/
    .ui-jqgrid .ui-jqgrid-caption {text-align: left; color: red;}

    /*input buttons style*/
    input.frmButtons {
    padding: 1px 15px;
    font-size: 10px;
    width: 95px;
    }
</style>

<script type="text/javascript">
    var fromDate;
    var toDate;

    function editShipmentRow(id) {
        alert('edit row ' + id);
        jQuery("#shipmentsList").jqGrid('editRow', id, false);
    }

    //reset search defaults
    function ResetSearchDefaults() {
        $("#Status").children().filter(function () {
            return $(this).text() == "(NONE)";
        }).prop('selected', true);

        $("#Exclude").children().filter(function () {
            return $(this).text() == "(NONE)";
        }).prop('selected', true);

        $("#Mode").children().filter(function () {
            return $(this).text() == "(ALL)";
        }).prop('selected', true);

        $("#CustomerList").children().filter(function () {
            return $(this).text() == "(ALL)";
        }).prop('selected', true);

        $("#ShipperList").children().filter(function () {
            return $(this).text() == "(ALL)";
        }).prop('selected', true);

        $("#ConsigneeList").children().filter(function () {
            return $(this).text() == "(ALL)";
        }).prop('selected', true);

        $("#CarrierList").children().filter(function () {
            return $(this).text() == "(ALL)";
        }).prop('selected', true);

        document.getElementById("PastDays").value = "30";
    }

    /*reset the grid with default starting/ending dates*/
    function ResetSearch() {
        //reset defautls
        ResetSearchDefaults();

        //clear grid data
        $("#shipmentsList").jqGrid('clearGridData');
       
        $.ajax({
            type: "GET",
            url: "/IntraX2/Shipment/GetShipments?fromdate=" + fromDate + "&todate=" + toDate,
            traditional: true,
            dataType: 'json',
            success: function (data) {
                //alert(JSON.stringify(data));  //display the returned json string for debug
                $("#shipmentsList").jqGrid('setGridParam', { data: data });
                $("#shipmentsList")[0].refreshIndex();
                $("#shipmentsList").trigger("reloadGrid");
            }
        }); //eo .ajax
    }

    /*search by parameters*/
    function SearchByParams() {
        var pastDays;
        try {
            pastDays = Number(document.getElementById("PastDays").value);
        }
        catch (err) {
            pastDays = 1;
        }

        var fDate = ((pastDays).days().ago()).toString('MM/dd/yyyy');
        var tDate = Date.today().add(1).days().toString('MM/dd/yyyy');
        
        document.getElementById("StartDate").value = fDate;
        document.getElementById("EndDate").value = tDate;

        //clear grid data
        $("#shipmentsList").jqGrid('clearGridData');

        $.ajax({
            type: "GET",
            url: "/IntraX2/Shipment/GetShipmentsByParams?fromdate=" + document.getElementById("StartDate").value + "&todate=" + document.getElementById("EndDate").value + "&status=" + document.getElementById("Status").value + "&mode=" + document.getElementById("Mode").value + "&exclude=" + document.getElementById("Exclude").value + "&customer=" + document.getElementById("CustomerList").value + "&shipper=" + document.getElementById("ShipperList").value + "&consignee=" + document.getElementById("ConsigneeList").value + "&carrier=" + document.getElementById("CarrierList").value + "&salesrep=" + document.getElementById("SalesRepList").value,
            traditional: true,
            dataType: 'json',
            success: function (data) {
                //alert(JSON.stringify(data));  //display the returned json string for debug
                $("#shipmentsList").jqGrid('setGridParam', { data: data, datatype: 'local' });
                $("#shipmentsList")[0].refreshIndex();
                $("#shipmentsList").trigger("reloadGrid");
            }
        }); //eo .ajax
    }

    /*search by booking number*/
    function BookingSearch() {
        var bookingNumber = "";
        if (document.getElementById("booking_number").value != "") {
            bookingNumber = document.getElementById("booking_number").value
            var currentfilter = '{"groupOp": "AND", "rules": [{ "field": "BookingNumber", "op": "eq", "data": ' + bookingNumber + ' }]}';
            $("#shipmentsList").jqGrid('setGridParam', { postData: { filters: currentfilter }, search: true });
            $("#shipmentsList").trigger("reloadGrid");

            if ($("#shipmentsList").getGridParam("reccount") > 0) {
                location.href = '@Url.Action("Edit", "Shipment")?booking=' + bookingNumber + '&rowAction=edit';
            }
            else {
                alert("Booking number not found")
                document.getElementById("booking_number").focus();
                $("#shipmentsList").jqGrid('setGridParam', { postData: { filters: '' }, search: true });
                $("#shipmentsList").trigger("reloadGrid");
            }
           
        }
        else {
            alert("Please enter the booking number to search")
            document.getElementById("booking_number").focus();
        }
    }

    function ResetFilter() {
        var currentfilter = '';
        $("#shipmentsList").jqGrid('setGridParam', { postData: { filters: currentfilter }, search: true });
        $("#shipmentsList").trigger("reloadGrid");
    }

    function ApplyFilter() {
        var userDefaultFilter = $.ajax({
            url: "/IntraX2/Shipment/GetUserFilter?user=" + getCookie("userCookie") + "&password=" + getCookie("userPassCookie"),
            async: false,
            success: function (data) {
                //alert(data);
            }
        });
        //currentfilter = '{"groupOp": "AND", "rules": [{ "field": "ShipmentStatus", "op": "eq", "data": "PU SCHEDULED" }]}';
        var currentfilter = userDefaultFilter.responseText;
        $("#shipmentsList").jqGrid('setGridParam', { postData: { filters: currentfilter }, search: true });
        $("#shipmentsList").trigger("reloadGrid");
    }

    function SaveSearch() {
        var filters = [];
        var currentname = 'default';
        var currentfilter = $("#shipmentsList").jqGrid('getGridParam', 'postData').filters;
        filters[currentname] = currentfilter;
        //alert(filters[currentname]);
        //post the filter, as array, to controller action
        $.ajax({
            type: "POST",
            url: "/IntraX2/Shipment/UpdateUserFilter",
            data: { User: 'vuv', Password: 'rip_city', Filter: filters[currentname] },
            traditional: true,
            dataType: 'json',
            async: false,
            success: function (msg) {
                alert(msg);
            }
        });
    }

    function showMultipleRowsDialog(bookingNbr, code) {
        if (code == 1) //multiple shippers
        {
            setupShipmentMultipleShippersGrid(bookingNbr);
            dialogShipmentShippers.dialog("open");
        }
        else {
            if (code == 2) //multiple carriers
            {
                setupShipmentMultipleCarriersGrid(bookingNbr);
                dialogShipmentCarriers.dialog("open");
            }
            else {
                if (code == 3) //multiple consignees
                {
                    setupShipmentMultipleConsigneesGrid(bookingNbr);
                    dialogShipmentConsignees.dialog("open");
                }
            }
        }
    }

    function viewBookingDetail(cellvalue, options, rowObject) {
        return '<a href=/IntraX2/Shipment/Edit?booking=' + cellvalue + '&rowAction=' + 'edit' + ' target=_self>' + cellvalue + '</a>'
    }

    function viewCarrier(cellvalue, options, rowObject) {
        if (cellvalue > 1) {
            return '<a href=javascript:; style="color:#3399cc;"' + ' onclick=showMultipleRowsDialog(' + rowObject.BookingNumber + ',2);>' + '[multiple carriers]' + '</a>'
        }
        else {
            if (rowObject["CarrierName"] == null) {
                return '[not assigned]'
            }
            else {
                return rowObject["CarrierName"];
            }
        }
    }

    function viewShipper(cellvalue, options, rowObject) {
        if (cellvalue > 1) {
            return '<a href=javascript:; style="color:#3399cc;"' + ' onclick=showMultipleRowsDialog(' + rowObject.BookingNumber + ',1);>' + '[multiple shippers]' + '</a>'
        }
        else {
            if (rowObject["ShipperName"] == null) {
                return '[not assigned]'
            }
            else {
                return rowObject["ShipperName"];
            }
        }
    }

    function viewConsignee(cellvalue, options, rowObject) {
        if (cellvalue > 1) {
            return '<a href=javascript:; style="color:#3399cc;"' + ' onclick=showMultipleRowsDialog(' + rowObject.BookingNumber + ',3);>' + '[multiple consignees]' + '</a>'
        }
        else {
            if (rowObject["ConsigneeName"] == null) {
                return '[not assigned]'
            }
            else {
                return rowObject["ConsigneeName"];
            }
        }
    }

    function setupShipmentMultipleShippersGrid(bookingNbr) {
       var lastsel2;
       var grid = $("#multShipperList");
       grid.jqGrid({
           url: "/IntraX2/Shipment/GetShipmentMultipleShippers?bookingNbr=" + bookingNbr,
           datatype: 'json',
           mtype: 'GET',
           //loadonce: true,
           loadonce: false,
           height: 'auto',
           rowNum: 20,
           rowList: [],
           jsonReader: {
               repeatitems: false,
               id: "0"
           },
           colNames: ['','Seq.','Shipper',''],
           colModel: [

               { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true, resizable: false },
               { name: 'Sequence', index: 'Sequence',  width: 20, editable: false, resizable: false },
               { name: 'Shipper', index: 'Shipper', width: 150, editable: false, resizable: false },
               { name: 'BookingNumber', index: 'BookingNumber', hidden: true, width: 80, editable: false, resizable: false },
           ],

           pager: "#multShipperListPager",
           viewrecords: false,
           pgbuttons: false,
           pgtext: null,
           altRows: true,
           altclass: 'myAltRowClass',
           ignoreCase: true,
           width: 350
       }); //eo setupShipmentMultShippersGrid
       grid.jqGrid('navGrid', '#multShipperListPager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {} );
    };

    function setupShipmentMultipleCarriersGrid(bookingNbr) {
        var lastsel2;
        var grid = $("#multCarrierList");
        grid.jqGrid({
            url: "/IntraX2/Shipment/GetShipmentMultipleCarriers?bookingNbr=" + bookingNbr,
            datatype: 'json',
            mtype: 'GET',
            //loadonce: true,
            loadonce: false,
            height: 'auto',
            rowNum: 20,
            rowList: [],
            jsonReader: {
                repeatitems: false,
                id: "0"
            },
            colNames: ['', 'Seq.', 'Carrier', ''],
            colModel: [

                { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true, resizable: false },
                { name: 'Sequence', index: 'Sequence', width: 20, editable: false, resizable: false },
                { name: 'Carrier', index: 'Carrier', width: 150, editable: false, resizable: false },
                { name: 'BookingNumber', index: 'BookingNumber', hidden: true, width: 80, editable: false, resizable: false },
            ],

            pager: "#multCarrierListPager",
            viewrecords: false,
            pgbuttons: false,
            pgtext: null,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            width: 350
        }); //eo setupShipmentMultCarriersGrid
        grid.jqGrid('navGrid', '#multCarrierListPager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {});
    };

    function setupShipmentMultipleConsigneesGrid(bookingNbr) {
        var lastsel2;
        var grid = $("#multConsigneeList");
        grid.jqGrid({
            url: "/IntraX2/Shipment/GetShipmentMultipleConsignees?bookingNbr=" + bookingNbr,
            datatype: 'json',
            mtype: 'GET',
            //loadonce: true,
            loadonce: false,
            height: 'auto',
            rowNum: 20,
            rowList: [],
            jsonReader: {
                repeatitems: false,
                id: "0"
            },
            colNames: ['', 'Seq.', 'Consignee', ''],
            colModel: [

                { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true, resizable: false },
                { name: 'Sequence', index: 'Sequence', width: 20, editable: false, resizable: false },
                { name: 'Consignee', index: 'Consignee', width: 150, editable: false, resizable: false },
                { name: 'BookingNumber', index: 'BookingNumber', hidden: true, width: 80, editable: false, resizable: false },
            ],

            pager: "#multConsigneeListPager",
            viewrecords: false,
            pgbuttons: false,
            pgtext: null,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            width: 350
        }); //eo setupShipmentMultipleConsigneesGrid
        grid.jqGrid('navGrid', '#multConsigneeListPager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {});
    };

    function setupShipmentsGrid(fromdate, todate, data) {
        var lastsel2;
        var grid = $("#shipmentsList");
        grid.jqGrid({
            url: "/IntraX2/Shipment/GetShipments?fromdate=" + fromdate + "&todate=" + todate,
            datatype: 'json',
            mtype: 'GET',
            loadonce: true,
            //loadonce: false,
            height: 'auto',
            rowNum: 20,
            rowList: [10, 20, 30],
            jsonReader: {
                repeatitems: false,
                id: "0"
            },
            colNames: ['','', 'Booking #', 'Mode', 'Carrier', 'Customer', 'Reference #', 'Shipper', 'Consignee', 'Weight', 'Pieces', 'Status', 'Status Date', 'Rqst. PU Date', 'Net Freight', 'FSC', 'Addl Ins', 'Accessorial', 'Total Charge', 'Booked Date', '', '', '', ''],
            colModel: [
                //{ name: 'act', index: 'act', width: 75, sortable: false },
                {
                    name: 'act', index: 'act', width: 60, align: 'left', resizable: false, sortable: false, formatter: 'actions',
                    formatoptions: {
                        type: "POST",
                        editbutton: true,
                        delbutton: false,
                        keys: false, // we want use [Enter] key to save the row and [Esc] to cancel editing.
                        afterSave: function (rowid)
                        {
                            //get the data of the rowid
                            //jQuery("#shipmentsList").saveRow(rowid, true, 'clientArray');
                            rowData = jQuery("#shipmentsList").getRowData(rowid);
                            
                            $.ajax({
                                type: "POST",
                                url: "/IntraX2/Shipment/UpdateShipmentStatus",
                                data: { Booking: rowData["BookingNumber"], Status: rowData["ShipmentStatus"], StatusDate: rowData["StatusDate"] },
                                traditional: true,
                                dataType: 'json',
                                async: false,
                                success: function (msg) {
                                    alert(msg);
                                }
                            });
                        }
                    }
                },
                
                { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true, resizable: false },
                { name: 'BookingNumber', index: 'BookingNumber', width: 80, editable: false, resizable: false, formatter: viewBookingDetail },
                { name: 'ShipmentMode', index: 'ShipmentMode', width: 45, resizable: false, hidden: false },
                { name: 'CarrierCount', index: 'CarrierCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewCarrier },
                { name: 'Customer', index: 'Customer', width: 200, editable: false, resizable: false },
                { name: 'CustomerReference', index: 'CustomerReference', width: 80, editable: false, sortable: false, resizable: false },
                { name: 'ShipperCount', index: 'ShipperCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewShipper },
                { name: 'ConsigneeCount', index: 'ConsigneeCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewConsignee },
                { name: 'TotalWeight', index: 'TotalWeight', width: 50, hidden: false, resizable: false },
                { name: 'TotalPieces', index: 'TotalPieces', width: 50, hidden: false, resizable: false },
                {
                    name: 'ShipmentStatus', index: 'ShipmentStatus', width: 110, editable: true, resizable: false, edittype: 'select', formatter: 'select', stype: 'select', searchoptions: { sopt: ['eq'] }, editoptions: {
                        value: data,
                        dataInit: function (el) {
                            $(el).width(100);  //set the width of the dropdown (not the grid column)
                        },
                    }
                },
                {
                    name: 'StatusDate', index: 'StatusDate', width: 80, editable: true, resizable: false, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } }, editoptions: {
                        dataInit: function (elem) {
                            $(elem).datepicker();
                        }
                    }
                },
                { name: 'RequestedPickupDate', index: 'RequestedPickupDate', width: 80, editable: false, resizable: false, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } } },
                { name: 'CustomerRate', index: 'CustomerRate', width: 80, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'FSC', index: 'FSC', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'Insurance', index: 'Insurance', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'Accessorial', index: 'Accessorial', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'CustomerCharges', index: 'CustomerCharges', width: 80, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'BookedDate', index: 'BookedDate', width: 110, editable: false, resizable: false, hidden: true, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } } },

                /*this column is used to pickup the booking number since other booking number column is used as an anchor tag*/
                { name: 'BookingNumber', index: 'pli_book_number', width: 60, hidden: true, resizable: false },

                { name: 'CarrierName', index: 'CarrierName', width: 60, hidden: true, resizable: false },
                { name: 'ShipperName', index: 'ShipperName', width: 60, hidden: true, resizable: false },
                { name: 'ConsigneeName', index: 'ConsigneeName', width: 60, hidden: true, resizable: false }
            ],
            /*
            postData: {
                filters: '{"groupOp":"AND","rules":[{"field":"BookedDate","op":"eq","data":""},{"field":"BookingNumber","op":"eq","data":""},{"field":"Customer","op":"eq","data":""}, {"field":"ShipmentStatus","op":"eq","data":""}]}'
            },
            */
            pager: "#shipmentsListPager",
            sortname: 'BookedDate',
            sortorder: 'asc',
            viewrecords: true,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            /*
            cellSubmit: 'clientArray',
            onSelectCell: function (rowid, cellname, value, iRow, iCol) {
                alert('on select cell');
            },
            */
            onSelectRow: function (id) {
                var result = CheckFunctionRole('EditStatus');
                //a return value of 0 means the location of the logged in user role id is not found in the allowed table
                if (result == 0) {
                    //DisplayDialog('Invalid credentials to perform this function', 'Message');
                    showDialog('information', 'Invalid credentials to perform this function', 'Message');
                    /*this will prevent the row from going into edit mode*/
                    jQuery('#shipmentsList').jqGrid('restoreRow', id);
                    $("tr#" + id + " div.ui-inline-save, " + "tr#" + id + " div.ui-inline-cancel", "#shipmentsList").hide();
                    $("tr#" + id + " div.ui-inline-edit, " + "tr#" + id + " div.ui-inline-del", "#shipmentsList").show();
                }

                /*
                if (id && id !== lastsel2) {
                    jQuery('#shipmentsList').jqGrid('restoreRow', lastsel2);
                    //$("tr#" + lastsel2 + " div.ui-inline-edit, " + "tr#" + lastsel2 + " div.ui-inline-del", "#shipmentsList").show();
                    //$("tr#" + lastsel2 + " div.ui-inline-save, " + "tr#" + lastsel2 + " div.ui-inline-cancel", "#shipmentsList").hide();
                    // Let the action buttons set the edit row
                    jQuery('#shipmentsList').jqGrid('editRow', id, true);
                    lastsel2 = id;
                }
                */
            }
            
            /*
            grouping: true,
            groupingView: {
                groupField: ['BookingNumber']
            },*/
            //caption: "Grouping Array Data"
        }); //eo setupShipmentsGrid
        grid.jqGrid('navGrid', '#shipmentsListPager', { edit: false, add: false, del: false, search: true, refresh: false }, {}, {}, {}, { multipleSearch: true, multipleGroup: true });
    }

    function setupShipmentPendingGrid() {
        var grid = $("#shipmentPending");
        grid.jqGrid({
            url: "/IntraX2/Shipment/GetShipmentPending",
            datatype: 'json',
            mtype: 'GET',
            loadonce: true,
            height: 'auto',
            rowNum: 20,
            rowList: [10, 20, 30],
            jsonReader: {
                repeatitems: false,
                id: "0"
            },
            colNames: ['', 'Booking #', 'Mode', 'Carrier', 'Customer', 'Reference #', 'Shipper', 'Consignee', 'Weight', 'Pieces', 'Status', 'Status Date', 'Rqst. PU Date', 'Net Freight', 'FSC', 'Addl Ins', 'Accessorial', 'Total Charge', 'Booked Date', '','','',''],
            colModel: [
                { name: 'id', index: 'id', width: 60, sorttype: 'int', hidden: true, resizable: false },
                { name: 'BookingNumber', index: 'BookingNumber', width: 80, editable: false, resizable: false, formatter: viewBookingDetail },
                { name: 'ShipmentMode', index: 'ShipmentMode', width: 45, resizable: false, hidden: false },
                { name: 'CarrierCount', index: 'CarrierCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewCarrier },
                { name: 'Customer', index: 'Customer', width: 200, editable: false, resizable: false },
                { name: 'CustomerReference', index: 'CustomerReference', width: 80, editable: false, sortable: false, resizable: false },
                { name: 'ShipperCount', index: 'ShipperCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewShipper },
                { name: 'ConsigneeCount', index: 'ConsigneeCount', width: 190, editable: false, hidden: false, resizable: false, formatter: viewConsignee },
                { name: 'TotalWeight', index: 'TotalWeight', width: 50, hidden: false, resizable: false },
                { name: 'TotalPieces', index: 'TotalPieces', width: 50, hidden: false, resizable: false },
                { name: 'ShipmentStatus', index: 'ShipmentStatus', width: 110, editable: false, resizable: false, stype: 'select', searchoptions: { sopt: ['eq'] } },
                { name: 'StatusDate', index: 'StatusDate', width: 80, editable: false, resizable: false, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } } },   
                { name: 'RequestedPickupDate', index: 'RequestedPickupDate', width: 80, editable: false, resizable: false, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } } },
                { name: 'CustomerRate', index: 'CustomerRate', width: 80, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'FSC', index: 'FSC', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'Insurance', index: 'Insurance', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'Accessorial', index: 'Accessorial', width: 65, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'CustomerCharges', index: 'CustomerCharges', width: 80, align: 'right', editable: false, search: false, sortable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'BookedDate', index: 'BookedDate', width: 110, editable: false, resizable: false, hidden: true, searchoptions: { dataInit: function (elem) { $(elem).datepicker(); } } },

                /*this column is used to pickup the booking number since other booking number column is used as an anchor tag*/
                { name: 'BookingNumber', index: 'pli_book_number', width: 60, hidden: true, resizable: false },

                { name: 'CarrierName', index: 'CarrierName', width: 60, hidden: true, resizable: false },
                { name: 'ShipperName', index: 'ShipperName', width: 60, hidden: true, resizable: false },
                { name: 'ConsigneeName', index: 'ConsigneeName', width: 60, hidden: true, resizable: false }
            ],
            /*
            postData: {
                filters: '{"groupOp":"AND","rules":[{"field":"BookedDate","op":"eq","data":""},{"field":"BookingNumber","op":"eq","data":""},{"field":"Customer","op":"eq","data":""}, {"field":"ShipmentStatus","op":"eq","data":""}]}'
            },
            */
            pager: "#shipmentPendingPager",
            sortname: 'BookedDate',
            sortorder: 'asc',
            viewrecords: true,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            caption: 'Pending Shipments'
            /*
            grouping: true,
            groupingView: {
                groupField: ['BookingNumber']
            },*/
            //caption: "Grouping Array Data"
        }); //eo setupShipmentsGrid
        grid.jqGrid('navGrid', '#shipmentPendingPager', { edit: false, add: false, del: false, search: true, refresh: false }, {}, {}, {}, { multipleSearch: true, multipleGroup: true });
    }

    //all functions section
    $(function () {
        //configure the form to be draggable
        $("#form-shippers").draggable();
        $("#form-carriers").draggable();
        $("#form-consignees").draggable();

        //settings for shippers dialog
        dialogShipmentShippers = $("#dialog-shippers").dialog({
            autoOpen: false,
            modal: false,
            width: 390,
            maxHeight: 400,
            resizable: true,
            close: function (event, ui) {
            },
        }); //eo dialogShipmentShippers

        //settings for carriers dialog
        dialogShipmentCarriers = $("#dialog-carriers").dialog({
            autoOpen: false,
            modal: false,
            width: 390,
            maxHeight: 400,
            resizable: true,
            close: function (event, ui) {
            },
        }); //eo dialogShipmentCarriers

        //settings for consignees dialog
        dialogShipmentConsignees = $("#dialog-consignees").dialog({
            autoOpen: false,
            modal: false,
            width: 390,
            maxHeight: 400,
            resizable: true,
            close: function (event, ui) {
            },
        }); //eo dialogShipmentConsignees
    }); //eo allfunctions

</script>

<script type="text/javascript">
    $(document).ready(function () {
        //set query date parameters
        //use the Datejs library for formatting dates
        var fromDate = ((5).months().ago()).toString('MM/dd/yyyy');
        //fromDate = ((30).days().ago()).toString('MM/dd/yyyy');
        toDate = Date.today().add(1).days().toString('MM/dd/yyyy')  //today

        //set the default search dates
        document.getElementById('StartDate').value = fromDate;
        document.getElementById('EndDate').value = Date.today().toString('MM/dd/yyyy');

        //events for search function
        jQuery.event.special.click = {
            setup: function () {
                if (jQuery(this).hasClass("ui-search")) {
                    jQuery(this).bind("click", jQuery.event.special.click.handler);
                }
                return false;
            },
            teardown: function () {
                jQuery(this).unbind("click", jQuery.event.special.click.handler);
                return false;
            },
            handler: function (event) {
                jQuery(".ui-searchFilter td.ops select").attr("name", "op");
            }
        };

        //edit function for the shipments grid
        rowEditFunction = {
            // because I use "local" data I don't want to send the changes to the server
            // so I use "processing:true" setting and delete the row manually in onclickSubmit
            onclickSubmit: function (rp_ge, rowid) {
                // we can use onclickSubmit function as "onclick" on "Delete" button
                //alert("The row with rowid=" + rowid + " will be deleted");
                //alert('editoptions');

                /*
                //get the data of the rowid
                jQuery("#accessorialGrid").saveRow(rowid, true, 'clientArray');
                rowData = jQuery("#accessorialGrid").getRowData(rowid);

                // delete row
                jQuery("#accessorialGrid").delRowData(rowid);
                $("#delmod" + jQuery("#accessorialGrid")[0].id).hide();
                //document.getElementById("grid_reccount").value = $("#jqgrid").getGridParam("reccount");
                //calculateTotals();

                $.ajax({
                    type: "POST",
                    url: "/IntraX2/Shipment/DeleteAccessorialRow",
                    data: { Booking: document.getElementById("pli_book_number").value, Sequence: rowData["sequence"] },
                    traditional: true,
                    dataType: 'json',
                    async: false,
                    success: function (msg) {
                        alert(msg);
                    }
                });

                if (jQuery("#accessorialGrid")[0].p.lastpage > 1) {
                    // reload grid to make the row from the next page visable.
                    // TODO: deleting the last row from the last page which number is higher as 1
                    jQuery("#accessorialGrid").trigger("reloadGrid", [{ page: jQuery("#accessorialGrid")[0].p.page }]);
                }
                */
                return true;
            },
            processing: true
        };

        var strStatusOptions = "";
        //build the accessorial options list
        $.getJSON("/IntraX2/Shipment/GetStatusesList", null, function (data) {
            //build the accessorial list
            $.each(
                data,
                function (Index, Data) {
                    strStatusOptions = strStatusOptions + Data.StatusValue + ":" + Data.StatusText + ";"
                });

            //replace the last semicolon with a blank
            var selList = strStatusOptions.replace(/;$/, "");

            //setup accessorial grid
            setupShipmentsGrid(fromDate, toDate, selList);
        }); //eo getJSON 

        //setup pending grid
        setupShipmentPendingGrid();

        /*
        var sStatusesList = ""
        $.getJSON("/IntraX2/Shipment/GetStatusesList", null, function (data) {
            //build the list
            $.each(
                data,
                function (Index, Data) {
                    sStatusesList = sStatusesList + Data.StatusValue + ":" + Data.StatusText + ";"
                });

            //replace the last semicolon with a blank
            var selList = sStatusesList.replace(/;$/, "");

            //call procedure to create grid
            setupShipmentsGrid(fromDate,toDate,selList);
        }); //eo getJSON
        */

        /*
        //build the options list for commodity
        var sDesc = '';
        var sOptions = '{0:Please Select;';
        $.getJSON("/IntraX2/Shipment/GetCommodity", null, function (data) {
            var num_rec = data.length;
            for (var i = 1; i < num_rec; i++) {
                sDesc = data[i].Text.replace(/;/g, ',');

                if (i < num_rec) {
                    sOptions = sOptions + data[i].Value + ":" + sDesc + ";";
                }
                else {
                    sOptions = sOptions + data[i].Value + ":" + sDesc;
                }
            }
            sOptions = sOptions + '}';

            //call the method to build the jqgrid
            setupCommodityGrid(sOptions);
        }); //eo getJSON
        */
    });
</script>

<!--script for the search form, put in here because it conflicts with the jqgrid delete row dialog-->
<script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-3.7.2/src/grid.formedit.js"></script>

<p>@Html.ValidationSummary()</p>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "shipmentslist-form", @class = "full" }))
{
    <div>
        <label for="booking">Booking Number</label>
        @Html.TextBox("booking_number", "", new { style = "width:150px; border:1px; border-style: solid; border-color: #787878;" })
        <input id="btnSearch" type="button" class="frmButtons" onclick="BookingSearch()" value="Search" />
    </div>
    <div>
        <table border="1" style="border:thin solid; border-color:lightsteelblue; width:auto;" cellpadding="0" cellspacing="0">
            <tr>
                <td class="searchPadAll0"><label>Status:</label></td>
                <td class="searchPadAll0">@Html.DropDownList("StatusList", (IEnumerable<SelectListItem>)ViewBag.StatusList, "(ALL)", new { @id = "Status" })</td>
                <td class="searchPadAll0"><label>Starting:</label></td>
                <td class="searchPadAll0">@Html.TextBox("StartDate", "", new { @class = "datepicker", style = "width:75px;", @id = "StartDate" })</td>
                <td class="searchPadAll0"><label>Ending:</label></td>
                <td class="searchPadAll0">@Html.TextBox("EndDate", "", new { @class = "datepicker", style = "width:75px;", @id = "EndDate" })</td>
                <td class="searchPadAll0"><label>Exclude:</label></td>
                <td class="searchPadAll0">@Html.DropDownList("ExcludeList", (IEnumerable<SelectListItem>)ViewBag.StatusList, "(NONE)", new { @id = "Exclude" })</td>
                <td class="searchPadAll0"><label style="width:auto;">Within Past:</label></td>
                <td class="searchPadAll0">@Html.TextBox("PastDays", "30", new { style = "width:25px;", @id = "PastDays" })<label>Days</label></td>
            </tr>
            <tr>
                <td class="searchPadTop0"><label>Customer:</label></td>
                <td class="searchPadTop0">@Html.DropDownList("CustomerList", (IEnumerable<SelectListItem>)ViewBag.CustomerList, "(ALL)", new { style = "width:250px;" })</td>
                <td class="searchPadTop0"><label>Mode:</label></td>
                <td class="searchPadTop0">@Html.DropDownList("ModeList", (IEnumerable<SelectListItem>)ViewBag.ModeList, "(ALL)", new { @id = "Mode" })</td>
                <td class="searchPadTop0"></td>
                <td class="searchPadTop0"></td>
                <td class="searchPadTop0"></td>
                <td class="searchPadTop0"></td>
                <td class="searchPadTop0"></td>
                <td class="searchPadTop0"></td>
            </tr>
            <tr>
                <td class="search"><label>Shipper:</label></td>
                <td class="search">@Html.DropDownList("ShipperList", (IEnumerable<SelectListItem>)ViewBag.ShipperList, "(ALL)", new { style = "width:250px;" })</td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
            </tr>
            <tr>
                <td class="search"><label>Consignee:</label></td>
                <td class="search">@Html.DropDownList("ConsigneeList", (IEnumerable<SelectListItem>)ViewBag.ConsigneeList, "(ALL)", new { style = "width:250px;" })</td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
            </tr>
            <tr>
                <td class="search"><label>Carrier:</label></td>
                <td class="search">@Html.DropDownList("CarrierList", (IEnumerable<SelectListItem>)ViewBag.CarrierList, "(ALL)", new { style = "width:250px;" })</td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
            </tr>
            <tr>
                <td class="search"><label>Sales Rep.:</label></td>
                <td class="search">@Html.DropDownList("SalesRepList", (IEnumerable<SelectListItem>)ViewBag.SalesRepList, "(ALL)", new { style = "width:250px;" })</td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
                <td class="search"></td>
            </tr>
        </table>
        <input id="btnSearch" type="button" class="frmButtons" onclick="SearchByParams()" value="Search" />&nbsp;&nbsp;<input id="btnResetSearch" type="button" class="frmButtons" onclick="ResetSearch()" value="Reset" />
    </div><br />
    <table id="shipmentsList"><tbody><tr><td /></tr></tbody></table>
    <div id="shipmentsListPager"></div>

    <div id="dialog-message" style="display:none">
        <p>
            <textarea name="dialog_notes" id="dialog_notes" rows=3 style="resize:none; width:400px;" readonly></textarea>
        </p>
    </div>
    
    <input id="btnSaveSearch" type="button" class="frmButtons" onclick="SaveSearch()" value="Save Search" />
    <input id="btnApplyFilter" type="button" class="frmButtons" onclick="ApplyFilter()" value="Apply User Default" />
    <input id="btnReset" type="button" class="frmButtons" onclick="ResetFilter()" value="Reset" />

    <br /><br />
    <table id="shipmentPending"><tbody><tr><td /></tr></tbody></table>
    <div id="shipmentPendingPager"></div>

    <!--display shipment multiple shippers-->
    <div id="dialog-shippers" title="Shipper List" style="display:none">
        <table id="multShipperList" cellpadding="0" cellspacing="0"></table>
        <div id="multShipperListPager" style="text-align:center;"></div>
    </div>

    <!--display shipment multiple carriers-->
    <div id="dialog-carriers" title="Carrier List" style="display:none">
        <table id="multCarrierList" cellpadding="0" cellspacing="0"></table>
        <div id="multCarrierListPager" style="text-align:center;"></div>
    </div>

    <!--display shipment multiple consignees-->
    <div id="dialog-consignees" title="Consignee List" style="display:none">
        <table id="multConsigneeList" cellpadding="0" cellspacing="0"></table>
        <div id="multConsigneeListPager" style="text-align:center;"></div>
    </div>
}