﻿@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h3>Booking #:@ViewData["bookingNumber"]</h3><br />
<h3>Items Count:@ViewData["itemsCount"]</h3>
<div class="display-field">
    <table>
        <tr>
            <th>Item Description</th>
        </tr>
        @for (int i = 1; i <= Convert.ToInt16(@ViewData["itemsCount"]); i++)
        {
            <tr>
                <td>
                    <input type="text" style="width:200px;" readonly value=@Session["description" + i] />
                </td>
            </tr>
        }
    </table>
</div>