﻿
@{
    ViewBag.Title = "TestRateWareResult";
}

<h2>TestRateWareResult</h2>

<div>
    Booking: @ViewData["booking"]<br />
    Pieces: @ViewData["pieces"]<br />
    Lane Exceptions: @ViewData["lane_exceptions"]<br />
</div>

<!--
<div>
    Shipper Zip: @ViewData["orgzip"]<br />
    Consignee Zip: @ViewData["destzip"]<br />
    Class: @ViewData["class"]<br />
    Weight: @ViewData["weight"]<br />
    RW Rate: @Session["rwCharge"]<br />
</div>
-->

