﻿
@{
    ViewBag.Title = "Test";
}

<!--CSS styles specific for this view-->
<style type="text/css">
    html, body {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
    }

    /*modified table styles from Synotac style sheet*/
    /*modified to work with jqgrid*/
    #main table {
        color: #3b393a;
        font-size: 11px;
        text-align: left;
        line-height: 16px;
        margin: 0 0 0px 0px;
        width: 100%;
    }

    /*overwriting Synotac style*/
    /*align jqgrid pager navigation*/
    #main tr td {
        padding: 0px 0px 0px 0px;
        text-align: left;
    }

    /*overwriting Synotac style*/
    /*not to display the bar below the jqgrid pager navigation*/
    #main tr {
        background: inherit;
    }

    /*overwriting Synotac style*/
    /*to display the down arrow in the dropdownlist cell in the jqgrid*/
    #main select {
        background: #f6f6f6;
        border: 1px solid #CDC293;
        color: #828282;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 11px;
        padding: 2px;
        width: 187px; /*this width value needs to be the same as defined in the jqgrid select cell*/
    }
</style>

<h2>Test Commodity</h2>
<table id="gridCommodity"></table>
<div id="pagerCommodity"></div>

