﻿
@{
    ViewBag.Title = "Test";
}

<!--CSS style specific for this view-->
<style type="text/css">
    html, body {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
    }

    /*modified table styles from Synotac style sheet*/
    /*modified to work with jqgrid*/
    #main table {
        color: #3b393a;
        font-size: 11px;
        text-align: left;
        line-height: 16px;
        margin: 0 0 0px 0px;
        width: 100%;
    }

    /*overwriting Synotac style*/
    /*align jqgrid pager navigation*/
    #main tr td {
        padding: 0px 0px 0px 0px;
        text-align: left;
    }

    /*overwriting Synotac style*/
    /*not to display the bar below the jqgrid pager navigation*/
    #main tr {
        background: inherit;
    }
</style>

<h2>Test</h2>
<table id="list"></table>
<div id="pager"></div>

