﻿
@{
    ViewBag.Title = "TestRateWare";
}

<h2>TestRateWare</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "test-rateware" }))
{
    <fieldset class="full">
        <h2>Your Shipment Information</h2>
        <div class="orgin-zip-code zip left">
            <label for="orgin-zip-code">Origin Zip Code</label>
             @Html.TextBox("orgin_zip_code", @Session["orgzip"])<em>*</em>
        </div>
        <div class="destination-zip-code zip left">
            <label for="destination-zip-code">Destination Zip Code</label>
            @Html.TextBox("destination_zip_code", @Session["destzip"])<em>*</em>
        </div>
        <div class="commodity" id="TextBoxesGroup">
            <h3>Commodities</h3>
            <div id="ClassGroup" class="class-01 left">
                <label class="wide60">Class</label>                  
                @Html.TextBox("class1", @Session["class1"])<em>*</em>
            </div>

            <div id="WeightGroup" class="weight-01 left">
                <label class="wide60">Weight</label>
                @Html.TextBox("weight1", @Session["weight1"])<em>*</em>
            </div>
            <div id="ClassGroup" class="class-01 left">
                <label class="wide60">Class</label>
                @Html.TextBox("class2", @Session["class2"])<em>*</em>
            </div>

            <div id="WeightGroup" class="weight-01 left">
                <label class="wide60">Weight</label>
                @Html.TextBox("weight2", @Session["weight2"])<em>*</em>
            </div>      
        </div>
    </fieldset>
    <div><input type="submit" name="submit" class="button" id="submit_btn" value="Test RateWare" /></div>
}

