﻿@{
    ViewBag.Title = "TestGrid";
}

<script type="text/javascript">
    function setupExceptionsGrid(customerID) {
        var lastsel2;
        var grid = $("#grdExceptions");

        grid.jqGrid({
            url: "/IntraX2/Shipment/GetCustomerExceptions?customerId=" + customerID,
            datatype: 'json',
            mtype: 'GET',
            loadonce: true,
            height: 'auto',
            rowNum: 20,
            rowList: [10, 20, 30],
            jsonReader: {
                repeatitems: false,
                id: "0"
            },
            colNames: ['','ID', 'Carrier', 'From', 'To', 'Discount','Minimum'],
            colModel: [

                { name: 'id', index: 'id', width: 5, sorttype: 'int', hidden: true, resizable: false },
                { name: 'ID', index: 'ID', width: 12, sorttype: 'int', hidden: false, resizable: false },
                { name: 'name', index: 'name', width: 70, editable: false, resizable: false },
                { name: 'from_zone', index: 'from_zone', width: 30, editable: false, resizable: false },
                { name: 'to_zone', index: 'to_zone', width: 30, editable: false, resizable: false },
                { name: 'discount_rate', index: 'discount_rate', width: 30, editable: false, resizable: false, formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                { name: 'absolute_minimum', index: 'absolute_minimum', width: 30, editable: false, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
            ],
            pager: "#grdExceptionsPager",
            viewrecords: true,
            //rownumbers: true,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            width: 500
        }); //eo setupShipmentMultShippersGrid
        grid.jqGrid('navGrid', '#grdExceptionsPager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {});
    };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        setupExceptionsGrid(19945);
    });
</script>

<h2>TestGrid</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "test-form", @class = "full" }))
{ 
    <div id="dialog-status-detail" title="Exceptions">
        <table id="grdExceptions" cellpadding="0" cellspacing="0"></table>
        <div id="grdExceptionsPager" style="text-align:center;"></div>
    </div>
}
