﻿
@{
    ViewBag.Title = "Test";
}

<!--CSS styles specific for this view-->
<style type="text/css">
    /*modified styles from jqgrid base style sheet to work with Synotact style sheet*/
    .ui-jqgrid {
        font-size: 11px;
        font-family: "purista-web", Arial, Helvetica, Verdana, sans-serif;
    }

        /*fixes issue of not all column headers are being displayed due to Synotac style sheet*/
        /*remove the space between column headers and the grid due to Synotact style sheet*/
        .ui-jqgrid .ui-jqgrid-htable {
            table-layout: inherit !important;
            margin: 0em !important;
            text-align: left !important;
        }

    /*hides the horizontal bar divider between header columns*/
    /*styles the column header text*/
    th.ui-th-column {
        border-right-color: transparent !important;
        font-style: normal;
        text-decoration: none !important;
        color: inherit !important;
    }

    /*sets normal row background color*/
    /*sets the borders color around row*/
    /*sets padding for cell*/
    .ui-jqgrid tr.jqgrow td {
        border-color: #CDC293 !important;
        background-color: #FFFFFF !important;
        padding: 2px 6px 4px 2px !important;
        color: #828282 !important;
        font-family: Arial, Helvetica, Verdana, sans-serif !important;
    }

    /*hides the firstrow blank*/
    .ui-jqgrid tr.jqgfirstrow td {
        padding: 0px 0px 0px 0px !important;
        border-right-width: 1px !important;
        border-right-style: solid !important;
    }

    /*modified table styles from Synotac style sheet*/
    /*modified to work with jqgrid*/
    #main table {
        color: #3b393a;
        font-size: 11px;
        text-align: left;
        line-height: 16px;
        margin: 0 0 0px 0px;
        width: 100%;
    }

    /*overwriting Synotac style*/
    /*align jqgrid pager navigation*/
    #main tr td {
        padding: 0px 0px 0px 0px;
        text-align: left;
    }

    /*overwriting Synotac style*/
    /*not to display the bar below the jqgrid pager navigation*/
    #main tr {
        background: inherit;
    }

    /*overwriting Synotac style*/
    /*to display the down arrow in the dropdownlist cell in the jqgrid*/
    #main select {
        background: #f6f6f6;
        border: 1px solid #CDC293;
        color: #828282;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 11px;
        padding: 2px;
        width: 90px; /*this width value needs to be the same as defined in the jqgrid select cell*/
    }

    /*overwriting Synotac style*/
    /*to display the down arrow in the dropdownlist cell in the jqgrid*/
    #main select {
        padding: 1px 2px;
        width: 90px; /*this width value needs to be the same as defined in the jqgrid select cell*/
    }

    /*jquery form validation style*/
    #pickup-request {
        width: 670px;
    }

        #pickup-request label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;
        }

    em {
        font-weight: bold;
        padding-right: 1em;
        vertical-align: top;
        color: Red;
    }

    /*this style works for jqgrid if defined in this view*/
    #main tr th {
        color: Black !important;
        cursor: pointer !important;
        font-weight: 0 !important;
        padding: 0 0 0 -1px !important;
        text-align: left !important;
        text-decoration: none !important;
        vertical-align: bottom !important;
    }

    /*dialog form*/
    body {
        font-size: 62.5%;
    }

    #new_shipper fieldset {
        padding: 0;
        border: 0;
        margin-top: 15px;
        font-family: "purista-web", Arial, Helvetica, Verdana, sans-serif;
        font-size: 11px;
    }

    #new_shipper input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
        display: block;
    }

    #new_shipper label {
        display: block;
    }

    #new_shipper h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    .ui-dialog .ui-dialog-titlebar {
        padding: .2em 1em;
        position: relative;
    }

    /*style for shipment parties fieldset*/
    #main form fieldset.widethree {
        float: none;
        width: 460px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var mydata = [
                        { id: "1", description: "TN" },
                        //{ id: "2", descripiton: "", consignee_name: "Consignee Two", consignee_location: "Location 2", consignee_contact: "Contact 2", requested_delv_date: "2007-10-01", requested_delv_time: "before 2pm", delv_eta: "2007-10-01", actual_delv_date: "2007-10-01", transit_days: '3', bill_to: false, bill_amount: '$350.00', customer: "Customer 2" }
        ],
                    $grid = $("#gridCommodity"),

                    initDateEdit = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                dateFormat: 'dd-M-yy',
                                autoSize: true,
                                //showOn: 'button', // it dosn't work in searching dialog
                                changeYear: true,
                                changeMonth: true,
                                showButtonPanel: true,
                                showWeek: true
                            });
                        }, 100);
                    },

                    initDateSearch = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                dateFormat: 'dd-M-yy',
                                autoSize: true,
                                changeYear: true,
                                changeMonth: true,
                                showWeek: true,
                                showButtonPanel: true
                            });
                        }, 100);
                    },
                    numberTemplate = {
                        formatter: 'number', align: 'right', sorttype: 'number', editable: true,
                        searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] }
                    },
                    lastSel,
                    oldAddRowData = $.fn.jqGrid.addRowData;

        $.jgrid.extend({
            addRowData: function (rowid, rdata, pos, src) {
                if (pos === 'afterSelected' || pos === 'beforeSelected') {
                    if (typeof src === 'undefined' && this[0].p.selrow !== null) {
                        src = this[0].p.selrow;
                        pos = (pos === "afterSelected") ? 'after' : 'before';
                    } else {
                        pos = (pos === "afterSelected") ? 'last' : 'first';
                    }
                }
                return oldAddRowData.call(this, rowid, rdata, pos, src);
            }
        });

        $grid.jqGrid({
            datatype: 'local',
            data: mydata,
            colNames: [/*'Inv No', */'Description' ],
            colModel: [
                //{ name: 'id', index: 'id', width: 70, align: 'center', sorttype: 'int', searchoptions: { sopt: ['eq', 'ne']} },
                {
                    name: 'description', index: 'description', width: 75, align: 'left', editable: true, formatter: 'select',
                    edittype: 'select', editoptions: { value: 'FE:FedEx;TN:TNT;IN:Intim', defaultValue: 'IN' },
                    stype: 'select', searchoptions: { sopt: ['eq', 'ne'], value: ':Any;FE:FedEx;TN:TNT;IN:IN' }
                }
            ],
            rowNum: 10,
            //rowList: [5, 10, 20],
            pager: '#pagerCommodity',
            gridview: true,
            rownumbers: true,
            //multiselect: true,
            autoencode: true,
            width: 1400,
            ignoreCase: true,
            sortable: true,
            viewrecords: true,
            //toppager: true, //displays the viewrecords info at the top of the grid
            sortname: 'invdate',
            pgbuttons: false,
            pgtext: null, //disable pager text like 'Page 0 of 10'
            sortorder: 'desc',
            height: '100%',
            //caption: 'Shipment Commodity',
            editurl: 'clientArray',
            beforeSelectRow: function (rowid) {
                if (rowid !== lastSel) {
                    $(this).jqGrid('restoreRow', lastSel);
                    lastSel = rowid;
                }
                return true;
            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                $(this).jqGrid('editRow', rowid, true, function () {
                    $("input, select", e.target).focus();
                });
                return;
            }
        });
        $grid.jqGrid('navGrid', '#pagerCommodity', {
            edit: false,
            add: false,
            del: true,
            view: false,
            search: false,
            refresh: false,
            viewtext: "View",
            closeOnEscape: true,
            edittext: "Edit",
            refreshtext: "Refresh",
            addtext: "Add",
            deltext: "Delete",
            searchtext: "Search"
        }, {}, {}, {}, { multipleSearch: true });
        //$grid.jqGrid('filterToolbar', {stringResult: true, searchOnEnter: true});
        $grid.jqGrid('inlineNav', '#pagerCommodity', {
            edittext: "Edit",
            addtext: "Add",
            savetext: "Save",
            canceltext: "Cancel",
            addParams: { position: "afterSelected" }
        });
    });  //eo ready function
</script>

<h2>Test Commodity</h2>
<table id="gridCommodity"></table>
<div id="pagerCommodity"></div>

