﻿@model IntraX2.Models.shipment

@{
    ViewBag.Title = "TestCustomer";
}

<script type="text/javascript">
    function calculateCustomerRate() {
        //var orgzip = $("#orgzip").get(0).value;
        //var destzip = $("#destzip").get(0).value;
        //var carrier = $("#carrier").get(0).value;
        var aryWeight = [];
        var aryClass = [];
        var total;
        orgzip = "80020";
        destzip = "82729"
        //var booking = "87654321";
        var customer = "19945";
        var carrier = "4662";
        aryWeight[0] = "500";
        aryClass[0] = "100";

        //get rateware customer rate
        $.ajax({
            type: "POST",
            url: "/IntraX2/Shipment/CalculateCustomerRate",
            data: { dataWeight: aryWeight, dataClass: aryClass, orgZip: orgzip, destZip: destzip, customerId: customer, carrierId: carrier },
            traditional: true,
            success: function (data) {
                //document.getElementById("customer_rate").value = data.customerRate;
                //alert(JSON.stringify(data.customerRate));
                document.getElementById("customer_rate").value = Number(data.customerRate).toFixed(2);
                document.getElementById("customer_fsc").value = Number(data.fsc).toFixed(2);

                total = Number(data.customerRate) + Number(data.fsc);
                document.getElementById("customer_charge").value = total.toFixed(2);

                /*
                //get current week FSC
                $.ajax({
                    type: "POST",
                    url: "/IntraX2/Shipment/GetWeekFSCRate",
                    data: {},
                    traditional: true,
                    success: function (data1) {
                        var fscAmount = data.customerRate * (data1.weekFSC / 100);
                        document.getElementById("customer_fsc").value = fscAmount.toFixed(2);

                        //get total for customer rate
                        calculateTotalCustomerRate();
                    }
                }); //eo.ajax
                */
            }
        }); //eo.ajax
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

<h2>TestCustomer</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "customer-create", @class = "full" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="text" name="orgzip" id="orgzip" value="60007"><br />
    <input type="text" name="destzip" id="destzip" value="92029"><br />
    <input type="text" name="carrier" id="carrier" value="140"><br />
    
    <h3 class="fieldset-header"><span>11.</span> CUSTOMER CHARGES</h3>
    <fieldset class="width100">
        <table id="tblCustomerCharges" style="margin-left: 13px; background-color:#a3c0fc;">
            <tr>
                <td>Rate:</td>
                <td>$@Html.TextBoxFor(model => model.customer_rate, new { @id = "customer_rate", style = "width:100px;" })</td>
                <td>@Html.CheckBoxFor(model => model.pli_rated, new { @checked = "checked" })&nbsp;&nbsp;&nbsp;Quoted</td>
            </tr>
            <tr>
                <td>FSC:</td>
                <td>$@Html.TextBoxFor(model => model.customer_fsc, new { @id = "customer_fsc", style = "width:100px;", @readonly = true })</td>
                <td>@Html.CheckBoxFor(model => model.customer_fsc_include, new { @checked = "checked", onclick = "calculateTotalCustomerRate()" })</td>
            </tr>
            <tr>
                <td>Insurance:</td>
                <td>$@Html.TextBoxFor(model => model.additional_ins_amt, new { style = "width:100px;" })</td>
                <td>@Html.CheckBoxFor(model => model.additional_ins, new { @checked = "checked", onclick = "calculateTotalCustomerRate()" })</td>
            </tr>
            <tr>
                <td>Accessorial:</td>
                <td>$@Html.TextBoxFor(model => model.customer_accessorials, new { style = "width:100px;" })</td>
                <td>Shipment Value&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.TextBoxFor(model => model.shipment_value, new { @id = "shipment_value", style = "width:100px;" })</td>
            </tr>
            <tr>
                <td><b>TOTAL:</b></td>
                <td>$@Html.TextBoxFor(model => model.customer_charge, new { @id = "customer_charge", style = "width:100px;", @readonly = true })
                    @Html.ValidationMessageFor(model => model.customer_charge)
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </fieldset><br />
    
    <div>
        <button id="btnCustomerRate" type="button" onclick="calculateCustomerRate()">calculate rate</button>
    </div>
}