﻿@model IntraX2.Models.customerModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    section {
        width: 95%;
        /*height: 775px;*/
        height: 800px;
        /*background: aqua;*/
        /*margin: auto;*/
        padding: 10px;
    }

    div#one {
        width: 275px;
        height: 400px;
        /*background: red;*/
        float: left;
        /*padding-top: 2cm;*/
    }

    div#two {
        margin-left: 370px;
        height: 600px;
        /*background: black;*/
    }

    input#btnException {
        padding: 1px 15px;
        font-size: 10px;    
        width: 100px;
}
</style>

<script type="text/javascript">
    function getContactDetail(customerId, contactId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Customer/GetCustomerContactDetail",
            data: { customerId: customerId, contactId: contactId },
            traditional: true,
            dataType: 'json',
            //async: false,
            //beforeSend: function () { $('#loading').show(); },
            //complete: function () { $('#loading').hide(); },
            success: function (data) {
                //alert(JSON.stringify(data.setupBy));
                document.getElementById("contact_title").value = data.title;
                document.getElementById("contact_phone").value = data.phone;
                document.getElementById("contact_ext").value = data.extension;
                document.getElementById("contact_fax").value = data.fax;
                document.getElementById("contact_email").value = data.email;
                document.getElementById("contact_notes").value = data.notes;
                if (data.IsActive == true) {
                    document.getElementById("is_contact_active").checked = true;
                }
                else {
                    document.getElementById("is_contact_active").checked = false;
                }
            }
        }); //eo .ajax
    }

    //post contact data
    function postContact() {
        //declare variables
        var name;
        var customerId = document.getElementById("customer_id").value;
        var contactId = $("#ddl_customer_contact").val();
        var title = document.getElementById("contact_title").value;
        var phone = document.getElementById("contact_phone").value;
        var extension = document.getElementById("contact_ext").value;
        var fax = document.getElementById("contact_fax").value;
        var email = document.getElementById("contact_email").value;
        var notes = document.getElementById("contact_notes").value;
      
        if (document.getElementById("newContactFlag").value == "Y") {
            name = document.getElementById("contact_name_box").value
            //get new contact sequence number
            $.ajax({
                type: "POST",
                url: "/IntraX2/Customer/GetMaxCustomerContactSeq",
                data: { customerId: customerId },
                traditional: true,
                dataType: 'json',
                async: false,
                //beforeSend: function () { $('#loading').show(); },
                //complete: function () { $('#loading').hide(); },
                success: function (data) {
                    document.getElementById("contactId").value = data.maxval;
                }
            }); //eo .ajax
            contactId = document.getElementById("contactId").value;
        }
        else {
            if (document.getElementById("contact_name_box").value == '') {
                name = $("#ddl_customer_contact option:selected").text();
            }
            else {
                name = document.getElementById("contact_name_box").value
            }
        };

        //post data, as arrays, to controller action
        $.ajax({
            type: "POST",
            url: "/IntraX2/Customer/UpdateContact",
            data: { customerId: customerId, contactId: contactId, title: title, phone: phone, ext: extension, fax: fax, email: email, notes: notes, name: name },
            traditional: true,
            dataType: 'json',
            async: false,
            success: function (msg) {
                //alert(msg);
                $('#contactDDL').show();
                $('#contactBox').hide();

            }
        });
    }

    function setupExceptionsGrid(customerID, cdata) {
        //alert("setup" + customerID);
        var lastsel2;
        var grid = $("#grdExceptions");

        grid.jqGrid({
            url: "/IntraX2/Customer/GetCustomerExceptions?customerId=" + customerID,
            datatype: 'json',
            mtype: 'GET',
            loadonce: true,
            height: 'auto',
            rowNum: 20,
            rowList: [10, 20, 30],
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            colNames: ['', 'ID', 'Carrier', 'From', 'To', 'Discount', 'Minimum'],
            colModel: [

                { name: 'id', index: 'id', width: 5, sorttype: 'int', hidden: true, resizable: false }, //this is the grid's internal ID
                { name: 'ID', index: 'ID', width: 15, sorttype: 'int', hidden: false, resizable: false }, //this is the table colunm ID
                {
                    name: 'carrier_id', index: 'carrier_id', width: 90, editable: true, resizable: false, edittype: 'select', formatter: 'select', editoptions: {
                        value: cdata,
                        style: "width: 235px"
                    }
                },
                { name: 'from_zone', index: 'from_zone', width: 30, editable: true, resizable: false },
                { name: 'to_zone', index: 'to_zone', width: 30, editable: true, resizable: false },
                { name: 'discount_rate', index: 'discount_rate', width: 30, editable: true, resizable: false, formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                { name: 'absolute_minimum', index: 'absolute_minimum', width: 30, editable: true, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } }
            ],
            pager: "#grdExceptionsPager",
            viewrecords: true,
            altRows: true,
            altclass: 'myAltRowClass',
            ignoreCase: true,
            width: 603,
            editurl: '/IntraX2/Customer/UpdateCustomerException?customerId=' + customerID
        }); //eo setupExceptionsGrid
        grid.jqGrid('navGrid', '#grdExceptionsPager', { edit: false, add: false, del: false, search: false, refresh: true }, {}, {}, {});
        $('#grdExceptions').inlineNav('#grdExceptionsPager',
        // the buttons to appear on the toolbar of the grid
        {
            edit: true,
            add: true,
            del: true,
            cancel: true,
            editParams: {
                keys: false,
                oneditfunc: function (rowid) {
                    //alert('edit');
                },
                extraparam: {
                    //get the ID of the exception to update
                    ExceptionId: function () {
                        var sel_id = $('#grdExceptions').jqGrid('getGridParam', 'selrow');
                        var value = $('#grdExceptions').jqGrid('getCell', sel_id, 'ID');
                        return value;
                    },
                    aftersavefunc: function (rowid) {
                        jQuery("#grdExceptions").trigger("reloadGrid");
                    },
                    /*
                    successfunc: function () {
                        alert('Update successful');
                    }*/
                }
            },
            addParams: {
                keys: false,
                position: "last",
                addRowParams: {
                    oneditfunc: function (rowId) {
                        //alert('edit');
                        //jQuery("#grdExceptions").setColProp('carrier_id', { editable: false });
                        //var cm = $("#grdExceptions").jqGrid('getColProp', 'carrier_id');
                        //cm.editable = true;
                    },
                    aftersavefunc: function (rowid) {
                        jQuery("#grdExceptions").trigger("reloadGrid");
                    },
                    /*
                    successfunc: function (rowid) {
                        //$("#shipperGrid").jqGrid('setColProp', 'location_id', { editoptions: { value: selLocations } });
                        //$("#shipperGrid").jqGrid('setColProp', 'location_contact_id', { editoptions: { value: selContacts } });
                        jQuery("#grdExceptions").trigger("reloadGrid");
                        alert('Add successful');
                    },*/
                }
            } //eo addParams
        });
    };

    $(function () {
        //declare variables
        var customerID;

        //execute customer id change event
        $('#customerListSelect').change(function (e) {
            customerID = $("#customerListSelect").val();
            clearCustomerFields();

            //empty the contact list
            var $select = $('#ddl_customer_contact');
            $select.empty();
            clearContactFields();

            //get detail of the selected customer
            getCustomerDetail(customerID);

            //get contact detail
            //getContactDetail(customerID, contactId);

            //reset new shipper cookie to blank
            //document.cookie = "ck_newCustomer=";
        }); //eo customer change

        //execute customer contact change event
        $('#ddl_customer_contact').change(function (e) {
            var contactId = $("#ddl_customer_contact").val();
            clearContactFields();
            getContactDetail(customerID, contactId);
        }); //eo contact change event

        //disable the enter key from submitting the form
        $(document).keypress(
        function (event) {
            if (event.which == '13') {
                event.preventDefault();
            }
        });

        //executes action to update data to the database upon form submit event
        $('#form-customer').submit(function (event) {

            /*
            if ($("#ddl_customer_contact").val() == null) {
                alert('null');
                //postContact();
            }
            else {
                alert($("#ddl_customer_contact").val());
            }
            */
            /*
            if (($("#ddl_customer_contact").val() != '') || (contactId != '')) {
                postContact();
            }
            */

            alert('Record saved');
            return true;
        });

    }); //eo general functions

    function showExceptions() {
        var cid = document.getElementById("customer_id").value;
        window.open('@Url.Action("Exceptions", "Customer")?customerId=' + cid);
    };

    //edit contact
    function editContact() {
        var name = $('#ddl_customer_contact :selected').text();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.getElementById("contact_name_box").value = name;
        //document.getElementById("temp_flag").value = "edit";
        document.frmCustomer.contact_name_box.focus();
    }

    //add contact
    function addContact() {
        clearContactFields();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.getElementById("newContactFlag").value = "Y";
        document.getElementById("contact_name_box").value = "";
        document.frmCustomer.contact_name_box.focus();
    }

    //delete contact
    function deleteContact() {
        var customerId = document.getElementById("customer_id").value;
        var contactId = document.getElementById("contactId").value;

        if (customerId == '') {
            alert('Select a customer');
        }
        else {
            if (contactId == '') {
                alert('Select a contact');
            }
            else {
                $.Zebra_Dialog('Do you want to delete this contact?',
                    {
                        'type': 'question',
                        'title': 'Confirmation',
                        'buttons': ['Yes', 'No'],
                        'onClose': function (caption) {
                            if (caption == 'Yes') {
                                clearContactFields();
                                $.ajax({
                                    type: "POST",
                                    url: "/IntraX2/Customer/DeleteContact",
                                    data: { customerId: customerId, contactId: contactId },
                                    traditional: true,
                                    dataType: 'json',
                                    //async: false,
                                    //beforeSend: function () { $('#loading').show(); },
                                    //complete: function () { $('#loading').hide(); },
                                    complete: function () {
                                        alert('Contact deleted');
                                        getCustomerContactlist(customerId)
                                    },
                                    success: function (data) {
                                        //alert('success');
                                    }
                                }); //eo .ajax
                            }
                        }
                    }); //eo Zebra Dialog
            }
        }
        
    }

    //edit customer
    function editCustomer() {
        $('input, select, button').removeAttr("disabled");
        $('input, textarea').removeAttr("readonly");

        //keeps these fields as readonly
        $('#customer_id').attr('disabled', 'disabled').attr('readonly', 'readonly');
        $('#customer_created_date').attr('disabled', 'disabled').attr('readonly', 'readonly');
        $('#customer_created_by').attr('disabled', 'disabled').attr('readonly', 'readonly');
        $('#customer_updated_date').attr('disabled', 'disabled').attr('readonly', 'readonly');
        $('#customer_inactive_date').attr('disabled', 'disabled').attr('readonly', 'readonly');

        document.getElementById("typeCustomerFlag").value = "edit";
    }

    //add customer
    function addCustomer() {
        alert('Stored procedure no found');
        /*
        var name = $("#contact_name").text();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.getElementById("contact_name_box").value = name;
        document.getElementById("newContactFlag").value = "Y";
        document.frmCarrier.contact_name_box.focus();
        */
    }

    //delete customer
    function deleteCustomer() {
        alert('Stored procedure no found');
        /*
        var name = $("#contact_name").text();
        $('#contactDDL').hide();
        $('#contactBox').show();
        document.getElementById("contact_name_box").value = name;
        document.getElementById("newContactFlag").value = "Y";
        document.frmCarrier.contact_name_box.focus();
        */
    }

    function clearCustomerFields() {
        document.getElementById("customer_id").value = "";
        document.getElementById("customer_name").value = "";
        document.getElementById("customer_created_date").value = "";
        document.getElementById("customer_created_by").value = "";
        document.getElementById("customer_updated_date").value = "";
        document.getElementById("customer_updated_by").value = "";
        document.getElementById("customer_inactive_date").value = "";
        //document.getElementById("customer_setup_by").value = "";     
        document.getElementById("is_active").checked = true;
        $('#customer_salesrep').val(0);
        document.getElementById("notes").value = "";
        document.getElementById("primary_address1").value = "";
        document.getElementById("primary_address2").value = "";
        document.getElementById("primary_city").value = "";
        document.getElementById("primary_zip").value = "";
        $('#primary_state').val(0);
        $('#primary_country').val(0);
        document.getElementById("billing_address1").value = "";
        document.getElementById("billing_address2").value = "";
        document.getElementById("billing_city").value = "";
        document.getElementById("billing_zip").value = "";
        $('#billing_state').val(0);
        $('#billing_country').val(0);
        $('#invoice_type').val(0);
        document.getElementById("is_on_file").checked = true;
        document.getElementById("approved_date").value ="";
        $('#invoice_cycle').val(0);
        $('#credit_limit').val(0);
        $('#payment_term').val(0);
        document.getElementById("invoice_override").checked = false;
        document.getElementById("pod_required").checked = false;
        document.getElementById("bol_required").checked = false;
        $('#tariff_module').val(0);
        $('#interstate_discount').val(0);
        $('#interstate_amc').val(0);
        $('#intrastate_discount').val(0);
        $('#intrastate_amc').val(0);
        document.getElementById("rate_effective").value = "";
        document.getElementById("autorate_suppressed").checked = false;
        document.getElementById("exception_notes").value = "";
        document.getElementById("has_rate_exceptions").checked = false;
    };

    function clearContactFields() {
        //document.getElementById("contact_type").value = "";
        document.getElementById("contact_name_box").value = "";
        document.getElementById("contact_title").value = "";
        document.getElementById("contact_phone").value = "";
        document.getElementById("contact_ext").value = "";
        document.getElementById("contact_fax").value = "";
        document.getElementById("contact_email").value = "";
        document.getElementById("contact_notes").value = "";
        document.getElementById("contactId").value = "";
        document.getElementById("is_contact_active").checked = true;
        //$('#ddl_customer_contact').val(0);
    };

    function getCustomerDetail(customerId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Customer/GetCustomerDetail",
            data: { customerId: customerId },
            traditional: true,
            dataType: 'json',
            //async: false,
            //beforeSend: function () { $('#loading').show(); },
            //complete: function () { $('#loading').hide(); },
            success: function (data) {
                //alert(JSON.stringify(data.setupBy));
                document.getElementById("customer_id").value = data.customerID;
                document.getElementById("customer_name").value = data.CustomerName;
                document.getElementById("customer_created_date").value = data.CreatedDate;
                document.getElementById("customer_created_by").value = data.CreatedBy;
                document.getElementById("customer_updated_date").value = data.UpdatedDate;
                document.getElementById("customer_updated_by").value = data.UpdatedBy;
                document.getElementById("customer_inactive_date").value = data.InactiveDate;
                //document.getElementById("customer_setup_by").value = data.SetupBy;
                if (data.IsActive == true) {
                    document.getElementById("is_active").checked = true;
                }
                else {
                    document.getElementById("is_active").checked = false;
                }
                $('#customer_salesrep').val(data.SalesRepId); //default salesrep dropdown to salesrep id
                document.getElementById("notes").value = data.Notes;
                document.getElementById("primary_address1").value = data.PriAddress1;
                document.getElementById("primary_address2").value = data.PriAddress2;
                document.getElementById("primary_city").value = data.PriCity;
                document.getElementById("primary_zip").value = data.PriZip;
                $('#primary_state').val(data.PriState); //default primary state dropdown to primary state id
                $('#primary_country').val(data.PriCountry); //default primary country dropdown to primary country id
                document.getElementById("billing_address1").value = data.BillAddress1;
                document.getElementById("billing_address2").value = data.BillAddress2;
                document.getElementById("billing_city").value = data.BillCity;
                document.getElementById("billing_zip").value = data.BillZip;
                $('#billing_state').val(data.BillState); //default billing state dropdown to billing state id
                $('#billing_country').val(data.BillCountry); //default billing country dropdown to billing country id
                $('#invoice_type').val(data.InvoiceType); //default invoice type dropdown to invoice type id
                if (data.IsCreditOnFile == true) {
                    document.getElementById("is_on_file").checked = true;
                }
                else {
                    document.getElementById("is_on_file").checked = false;
                }
                document.getElementById("approved_date").value = data.ApprovedDate;
                $('#invoice_cycle').val(data.InvoiceCycle);
                $('#credit_limit').val(data.CreditLimit);
                $('#payment_term').val(data.PaymentTerm);
                if (data.InvoiceOverride == true) {
                    document.getElementById("invoice_override").checked = true;
                }
                else {
                    document.getElementById("invoice_override").checked = false;
                }
                if (data.PODRequired == true) {
                    document.getElementById("pod_required").checked = true;
                }
                else {
                    document.getElementById("pod_required").checked = false;
                }
                if (data.BOLRequired == true) {
                    document.getElementById("bol_required").checked = "Yes";
                }
                else {
                    document.getElementById("bol_required").checked = "No";
                }
                $('#tariff_module').val(data.TariffModule);
                $('#interstate_discount').val(data.InterStateDisc);
                $('#interstate_amc').val(numeral(data.InterStateAMC).format('0,0.00'));
                $('#intrastate_discount').val(data.IntraStateDisc);
                $('#intrastate_amc').val(numeral(data.IntraStateAMC).format('0,0.00'));
                document.getElementById("rate_effective").value = data.EffectiveDate;
                if (data.AutoRateSuppressed == true) {
                    document.getElementById("autorate_suppressed").checked = true;
                }
                else {
                    document.getElementById("autorate_suppressed").checked = false;
                }
                document.getElementById("exception_notes").value = data.ExceptionNotes;

                if (data.IsRateException == true) {
                    document.getElementById("has_rate_exceptions").checked = true;
                    document.getElementById("btnException").disabled = false;
                }
                else {
                    document.getElementById("has_rate_exceptions").checked = false;
                    document.getElementById("btnException").disabled = true;
                }
                document.getElementById("createdByID").value = data.CreatedByID;
                document.getElementById("updatedByID").value = data.UpdatedByID;
            }
        }); //eo .ajax

        //get contacts of selected customer
        getCustomerContactlist(customerId);
    }

    function getCustomerContactlist(customerId) {
        $.ajax({
            type: "POST",
            url: "/IntraX2/Customer/GetCustomerContacts",
            data: { customerId: customerId },
            traditional: true,
            dataType: 'json',
            success: function (data) {
                var $select = $('#ddl_customer_contact');
                $select.empty();

                $.each(data, function () {
                    $select.append($("<option></option>").val(this['CustomerContactId']).html(this['Name']));
                });

                //default to the first select option
                $select.eq(0).attr('selected', 'selected');

                //get the contact detail of the default option
                if ($("#ddl_customer_contact").val() > 0) {
                    var contactId = $("#ddl_customer_contact").val();
                    document.getElementById("contactId").value = contactId;
                    $.ajax({
                        type: "POST",
                        url: "/IntraX2/Customer/GetCustomerContactDetail",
                        data: { customerId: customerId, contactId: contactId },
                        traditional: true,
                        dataType: 'json',
                        //async: false,
                        //beforeSend: function () { $('#loading').show(); },
                        //complete: function () { $('#loading').hide(); },
                        success: function (data) {
                            //alert(JSON.stringify(data.setupBy));
                            document.getElementById("contact_phone").value = data.phone;
                            document.getElementById("contact_ext").value = data.extension;
                            document.getElementById("contact_fax").value = data.fax;
                            document.getElementById("contact_email").value = data.email;
                            document.getElementById("contact_notes").value = data.notes;
                            if (data.IsActive == true) {
                                document.getElementById("is_contact_active").checked = true;
                            }
                            else {
                                document.getElementById("is_contact_active").checked = false;
                            }
                        }
                    }); //eo .ajax
                }
            }
        }); //eo outter .ajax
    }

    function getCustomerList() {
        //generate customer drop down list
        $.getJSON("/IntraX2/Customer/GetCustomerList", null, function (data) {
            var $select = $('#customerListSelect');
            $select.empty();
            $.each(data, function () {
                $select.append($("<option></option>").val(this['CustomerId']).html(this['CustomerName']));
            });

            /*
            if (getCookie('ck_newShipper') == 'Y') {
                var shipperId = getCookie('ck_shipperId');
                $('#shipperListSelect').val($("#shipperListSelect option[value='" + shipperId + "']").val());
                getShipperDetail(shipperId);
                getLocationList(shipperId);
            }
            */
        }) //eo .getJSON
        .always(function () {
            //show the loading gif animation
            $('#loading').show();
        }) //eo .always

        .done(function () {
            //hide the loading gif animation
            $('#loading').hide();
        }); //eo .done
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //hide contact box
        $('#contactBox').hide();

        //generate customer list
        getCustomerList();

        //this sets the entire form as readonly
        //$('*','form').attr('disabled', 'disabled').attr('readonly', 'readonly');
    });
</script>

<h3><b>Customer Management</b></h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-customer", name = "frmCustomer", @class = "full" }))
{   
    <fieldset style="border:none">        
        <section>
            <div id="one">
                <table>
                    <tr>
                        <td class="detailList">@Html.DropDownList("CustomerList", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @id = "customerListSelect", size = 38, style = "width:345px;" })
                    </tr>
                </table>
                <fieldset style="border:none">
                    <div style="width: 340px; float:left; margin-left:11px">
                        <input id="btnEdit" type="button" class="cusButtons" value="Edit" onclick="editCustomer()" />
                        <input id="btnNew" type="button" class="cusButtons" value="Add" onclick="addCustomer()" />
                        <input id="btnDelete" type="button" class="cusButtons" value="Delete" onclick="deleteCustomer()" />
                        <input id="btnSave" type="submit" class="cusButtons" value="Save"/><br />
                    </div>
                </fieldset>
            </div>
            <div id="two">
                <table id="tblDetail" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="950">
                    <tr>
                        <td class="detailFields0"><b>Customer ID</b></td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CustomerId, new { @id = "customer_id", style = "width:125px;", tabindex = "-1", @readonly = true })</td>
                        <td class="detailFields0">Name</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CustomerName, new { @id = "customer_name", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">Setup Date</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CreatedDate, new { @id = "customer_created_date", style = "width:75px;", @readonly = true })</td>-->
                        <td class="detailFields0">@Html.TextBox("customer_created_date", "", new { style = "width:75px;", @readonly = true })</td>
                        <td class="detailFields0">By</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CreatedBy, new { @id = "customer_created_by", style = "width:75px;", @readonly = true })</td>-->
                        <td class="detailFields0">@Html.TextBox("customer_created_by", "", new { style = "width:75px;", @readonly = true })</td>                        
                        <td class="detailFields0">Active</td>
                        <td class="detailFields0">@Html.CheckBox("is_active", new { @id = "is_active", disabled = "disabled" })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0"><b>Sales Rep.</b></td>
                        <td class="detailFields0">@Html.DropDownList("SalesRepList", (IEnumerable<SelectListItem>)ViewBag.SalesRepList, "", new { @id = "customer_salesrep", style = "width:125px;", disabled = "disabled" })</td>
                        <td class="detailFields0">Notes</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.Notes, new { @id = "notes", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">Updated Date</td>
                        <td class="detailFields0">@Html.TextBox("customer_updated_date", "", new { style = "width:75px;", @readonly = true })</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.UpdatedDate, new { @id = "customer_updated_date", style = "width:75px;", @readonly = true })</td>-->
                        <td class="detailFields0">By</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.UpdatedBy, new { @id = "customer_updated_by", style = "width:75px;", @readonly = true })</td>-->
                        <td class="detailFields0">@Html.TextBox("customer_updated_by", "", new { style = "width:75px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0"><b>Primary Addr.</b></td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.Address1, new { @id = "primary_address1", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0"><b>Billing Addr.</b></td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.BillingAddress1, new { @id = "billing_address1", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">Inactive Date</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.InactiveDate, new { @id = "customer_inactive_date", style = "width:75px;", @readonly = true })</td>-->
                        <td class="detailFields0">@Html.TextBox("customer_inactive_date", "", new { style = "width:75px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.Address2, new { @id = "primary_address2", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.BillingAddress2, new { @id = "billing_address2", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CityName, new { @id = "primary_city", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.BillingCity, new { @id = "billing_city", style = "width:200px;", @readonly = true })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">
                            @Html.DropDownList("PriStateList", (IEnumerable<SelectListItem>)ViewBag.StateCodeList, "", new { @id = "primary_state", style = "width:100px;", disabled = "disabled" })
                            @Html.TextBoxFor(model => model.m_customer.ZipCode, new { @id = "primary_zip", style = "width:97px;", @readonly = true })
                        </td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">
                            @Html.DropDownList("BillStateList", (IEnumerable<SelectListItem>)ViewBag.StateCodeList, "", new { @id = "billing_state", style = "width:100px;", disabled = "disabled" })
                            @Html.TextBoxFor(model => model.m_customer.BillingZipCode, new { @id = "billing_zip", style = "width:97px;", @readonly = true })
                        </td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.DropDownList("PriCountryList", (IEnumerable<SelectListItem>)ViewBag.CountryList, "", new { @id = "primary_country", style = "width:100px;", disabled = "disabled" })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">@Html.DropDownList("BillCountryList", (IEnumerable<SelectListItem>)ViewBag.CountryList, "", new { @id = "billing_country", style = "width:100px;", disabled = "disabled" })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                </table> <!--eo outer tblDetail-->

                <table id="tblDetail4" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="595">
                    <tr>
                        <td class="detailFields0"><b>Contact</b></td>
                        <td id="contactDDL" class="detailFields0">@Html.DropDownList("ddl_customer_contact", new SelectList(Enumerable.Empty<SelectListItem>()), "", new { style = "width:200px;" })</td>
                        <td id="contactBox" class="detailFields0">@Html.TextBox("contact_name_box", "", new { style = "width:200px;" })</td>
                        <td class="detailFields0" colspan="3">
                            <input id="btnEditContact" style="padding: 1px 15px; font-size: 10px;" type="button" value="Edit" onclick="editContact()" />
                            &nbsp;<input id="btnAddContact" style="padding: 1px 15px; font-size: 10px;" type="button" value="Add" onclick="addContact()" />
                            &nbsp;<input id="btnDelContact" style="padding: 1px 7px; font-size: 10px;" type="button" value="Delete" onclick="deleteContact()" />
                        </td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Active</td>
                        <td class="detailFields0">@Html.CheckBox("is_contact_active", new { @id = "is_contact_active" })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Title</td>
                        <td class="detailFields0">@Html.TextBox("contact_title", "", new { @id = "contact_title", style = "width:200px;" })</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Phone/Ext</td>
                        <td class="detailFields0">
                            @Html.TextBox("contact_phone", "", new { @id = "contact_phone", style = "width:144px;" })&nbsp;
                            @Html.TextBox("contact_ext", "", new { @id = "contact_ext", style = "width:50px;" })
                        </td>
                        <td class="detailFields0">Fax</td>
                        <td class="detailFields0">@Html.TextBox("contact_fax", "", new { @id = "contact_fax", style = "width:142px;" })</td>  
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>               
                    <tr>
                        <td class="detailFields0" align="right">Email</td>
                        <td class="detailFields0">
                            @Html.TextBox("contact_email", "", new { @id = "contact_email", style = "width:200px;" })
                        </td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Notes</td>
                        <td class="detailFields0" colspan="3">
                            @Html.TextBox("contact_notes", "", new { @id = "contact_notes", style = "width:385px;" })
                        </td>
                        <td class="detailFields0">&nbsp;</td>
                    </tr>
                </table>
                
                <table id="tblDetail2" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="595">
                    <tr>
                        <td class="detailFields0" align="right">
                            <b>Invoice Preferences</b>
                        </td>
                        <td class="detailFields0">&nbsp;</td>
                        <td class="detailFields0">
                            <b>Credit Application</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Invoice Type</td>
                        <td class="detailFields0">@Html.DropDownList("InvoiceTypeList", (IEnumerable<SelectListItem>)ViewBag.InvoiceTypeList, new { @id = "invoice_type", style = "width:75px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">On File</td>
                        <td class="detailFields0">@Html.CheckBox("is_on_file", new { @id = "is_on_file", disabled = "disabled" })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Invoice Cycle</td>
                        <td class="detailFields0">@Html.DropDownList("InvoiceCycleList", (IEnumerable<SelectListItem>)ViewBag.InvoiceCycleList, new { @id = "invoice_cycle", style = "width:75px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">Approved</td>
                        <!--<td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.ApprovedDate, new { @id = "approved_date", style = "width:70px;", @readonly = true })</td>-->
                        <td class="detailFields0">@Html.TextBox("approved_date", "", new { style = "width:70px;", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Payment Term</td>
                        <td class="detailFields0">@Html.DropDownList("PaymentTermsList", (IEnumerable<SelectListItem>)ViewBag.PaymentTermsList, new { @id = "payment_term", style = "width:75px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">Credit Limit</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.CreditLimit, new { @id = "credit_limit", style = "width:70px;", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Invoice In-Transit</td>
                        <td class="detailFields0">@Html.CheckBoxFor(model => model.m_customer.IsInvoiceStatusOverride, new { @id = "invoice_override", style = "width:35px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">Billing Notes</td>
                        <td class="detailFields0">
                            @Html.TextBoxFor(model => model.m_customer.InvoiceNotes, new { @id = "invoice_notes", style = "width:250px;", @readonly = true })
                        </td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">POD Required</td>
                        <td class="detailFields0">@Html.CheckBoxFor(model => model.m_customer.IsPodRequired, new { @id = "pod_required", style = "width:35px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">BOL Required</td>
                        <td class="detailFields0">@Html.CheckBoxFor(model => model.m_customer.IsOrigBOLRequired, new { @id = "bol_required", style = "width:35px;", disabled = "disabled" })</td>
                    </tr>
                </table> <!--eo outer tblDetail2-->
                <table id="tblDetail3" class="inlineTable" border="1" style="border:thin solid; border-color:lightsteelblue;" width="595">
                    <tr>
                        <td class="detailFields0" align="right">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rate Information</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Tariff Module</td>
                        <td class="detailFields0">@Html.DropDownList("TariffModeList", (IEnumerable<SelectListItem>)ViewBag.TariffModeList, new { @id = "tariff_module", style = "width:75px;", disabled = "disabled" })</td>
                        <td class="detailFields0" align="right">&nbsp;</td>
                        <td class="detailFields0" align="right">Rate Exceptions</td>
                        <td class="detailFields0" colspan="2">@Html.CheckBox("has_rate_exceptions", new { @id = "has_rate_exceptions", disabled = "disabled" })&nbsp;&nbsp;&nbsp;
                            <input id="btnException" type="button" style="font-size:10px; padding:1px 15px; width:90px;" value="View Exceptions" onclick="showExceptions()" disabled />
                        </td>
                        <td class="detailFields0" align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">InterState Disc.</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.InterStateDiscount, new { @id = "interstate_discount", style = "width:75px;", @readonly = true })%</td>
                        <td class="detailFields0" align="right">&nbsp;</td>
                        <td class="detailFields0" align="right">InterState AMC</td>
                        <td class="detailFields0">$@Html.TextBoxFor(model => model.m_customer.InterStateMinCharge, new { @id = "interstate_amc", style = "width:60px;", @readonly = true })</td>
                        <td class="detailFields0" align="right">Rate Effective Date</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.RateEffectiveDate, new { @id = "rate_effective", style = "width:65px;", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">IntraState Disc.</td>
                        <td class="detailFields0">@Html.TextBoxFor(model => model.m_customer.IntraStateDiscount, new { @id = "intrastate_discount", style = "width:75px;", @readonly = true })%</td>
                        <td class="detailFields0" align="right">&nbsp;</td>
                        <td class="detailFields0" align="right">IntraState AMC</td>
                        <td class="detailFields0">$@Html.TextBoxFor(model => model.m_customer.IntraStateMinCharge, new { @id = "intrastate_amc", style = "width:60px;", @readonly = true })</td>
                        <td class="detailFields0" align="right">Autorate Suppressed</td>
                        <td class="detailFields0">@Html.CheckBoxFor(model => model.m_customer.IsAutoRateSuppressed, new { @id = "autorate_suppressed", style = "width:65px;", disabled = "disabled" })</td>
                    </tr>
                    <tr>
                        <td class="detailFields0" align="right">Rate Exception Notes</td>
                        <td class="detailFields0" colspan="5">@Html.TextBoxFor(model => model.m_customer.RateExceptionNotes, new { @id = "exception_notes", style = "width:350px;", @readonly = true })</td>
                    </tr>
                </table> <!--eo outer tblDetail3-->
            </div>
        </section>   
        <div id="loading"><p><img src="@Url.Content("~/ajax-loader.gif")" /> Loading Customers</p></div>
    </fieldset>
    <input type="hidden" name="newContactFlag" id="newContactFlag" value="">
    <input type="hidden" name="contactId" id="contactId">
    <input type="hidden" name="temp_flag" id="temp_flag">
    <input name="typeCustomerFlag" id="typeCustomerFlag" value="">
    <input name="updatedByID" id="updatedByID" value="">
    <input name="createdByID" id="createdByID" value="">
}